//メディアクエリをmixin化
$breakpoints: (
  'sp': 'only screen and (max-width: 768px)', 
  'tb': 'print,screen and (max-width: 1024px)', 
  'tc': 'print,screen and (min-width: 769px)', 
  // 'lb': 'print,screen and (max-width: 1024px)', 
  // 'lc': 'print,screen and (min-width: 1301px)',
  // 'max': 'print,screen and (max-width: 1600px)', 
  // 'min': 'print,screen and (min-width: 1601px)', 
  'full': 'print,screen and (max-width: 1920px)', 
  'pc': 'print,screen and (min-width: 1025px)'
) !default;
@mixin media($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
