@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

.sec-container{
  box-shadow: 0 0 13px 2px #00A29A33;
  padding: 40px 13.98% 80px;

  &:not(:nth-of-type(1)){
    margin-top: 30px;
  }
}
.sec-title{
  margin: 18px;
}

#access{
  margin-top: 80px;
  margin-bottom: 524px;

  .sec-box-1{
    background: #B3EDEB;
    border-radius: 50px;
    padding: 50px 7.76%;
    text-align: center;

    .title{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 10px;
      text-align: center;
    }
    .text{
      font-size: 1.8rem;
      display: inline-block;
      text-align: left;
    }  
    .map{
      margin-bottom: 16px;

      iframe{
        width: 100%;
      }
    }
    .title-bg{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $green_color;
      margin-bottom: 8px;
    }
    .text-bg{
      background: $white_color;
      font-size: 1.8rem;
      font-weight: 700;
      padding: 15px 20px;
    
      .txt{
        display: inline-block;
        text-align: left;
      }
    }
  }
  .sec-box-2{
    background: #B3EDEB;
    border-radius: 50px;
    padding: 50px 11.65% 80px;
    margin-bottom: 16px;
    text-align: center;

    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 3rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 18px;

      .small{
        font-size: 2.1rem;
      }
      img{
        width: 47px;
      }
    }
    .text{
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 8px;

      .line{
        font-size: 3.2rem;
      }
    }
    .box{
      background: #F5F5F5;
      font-size: 16px;
      padding: 24px 4.93%;
      margin-bottom: 8px;

      .ta-l{
        display: inline-block;
        text-align: left;
      }
      .link{
        text-decoration: underline;
      }
      .large{
        font-size: 18px;
        font-weight: 700;
      }
    }
    .title-bg{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $green_color;
      margin-bottom: 8px;
    }
    .list{
      counter-reset: item;
      margin-bottom: 8px;
    }
    .item{
      background: $white_color;
      display: grid;
      grid-template-columns: 175px 1fr 165px;
      gap: 0 3.79%;
      counter-increment: item;
      position: relative;
      align-items: center;
      padding: 15px 3.79%;

      &:not(:nth-of-type(1)){
        margin-top: 10px;
      }
    }
    .route{
      font-size: 2.4rem;
      font-weight: 700;
      color: $green_color;
      padding-left: 73px;
      position: relative;

      &::before{
        content: "【"counter(item)"】";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.4rem;
        font-weight: 700;
        color: $white_color;
        padding: 3px 0;
        width: 63px;
        text-align: center;
        background: $green_color;
      }
    }
    .direction{
      font-size: 2.4rem;
      line-height: 2;
      text-align: left;
    }
    .files{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .pdf-dl{
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $green_color;
      border-radius: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 7px;

      img{
        width: 28px;
      }
    }
  }
  .sec-box-btm{
    position: relative;
    padding-top: 119px;

    &::before{
      position: absolute;
      content: "";
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 105px;
      height: 101px;
      background: url(../img/common/triangle.png) center/contain no-repeat;
    }
    .title{
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $sub_color;
      padding: 11px 20px;
      margin-bottom: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 21px;

      .icon{
        width: 35px;
        position: relative;

        &::before{
          content: "";
          position: absolute;
          width: 42px;
          height: 56px;
          right: -40px;
          top: -12px;
          background: url(../img/access/bubble.png) center/contain no-repeat;
        }
      }
    }
    .content{
      background: #F5F5F5;
      padding: 24px 6.39%;
    }
    .text{
      font-size: clamp(16px, 1.6rem, 1.6rem);

      .bold{
        font-weight: 700;
      }
    }
    .image{
      width: 21.6rem;
      margin: 10px auto;
    }
    .list{
      margin: 24px auto 10px;
      counter-reset: item;
    }
    .list-item{
      
      &:not(:nth-of-type(1)){
        margin-top: 10px;
      }
      font-size: clamp(16px, 1.6rem, 1.6rem);
      counter-increment: item;
      position: relative;
      padding: 5px 0 5px 54px;

      &::before{
        content: counter(item);
        position: absolute;
        left: 0;
        top: 0;
        width: 44px;
        text-align: center;
        background: $green_color;
        color: $white_color;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.666;
      }
    }
    .dots-item{
      padding-left: 1.3em;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        left: .5em;
        top: 12px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $base_color;
      }
    }
  }
  .sec-texts{
    text-align: center;

    .top{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 18px;
    }
    .text{
      font-size: 1.8rem;
      margin-bottom: 18px;
    }
    .bg{
      font-size: 1.8rem;
      font-weight: 700;
      padding: 24px 20px;
      background: #F5F5F5;
      margin-bottom: 18px;
      
      .txt{
        display: inline-block;
        text-align: left;
      }
    }
  }
}
