@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

.sec-container{
  box-shadow: 0 0 13px 2px #00A29A33;
  padding: 40px 13.98% 80px;

  &:not(:nth-of-type(1)){
    margin-top: 30px;
  }
}
.sec-title{
  margin: 18px;
}


#access{
  margin-top: 80px;
  margin-bottom: 524px;

  .sec-box{
    background: #B3EDEB;
    border-radius: 50px;
    padding: 50px 7.76%;
    text-align: center;

    .title{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 10px;
      text-align: center;
    }
    .text{
      font-size: 1.8rem;
      display: inline-block;
      text-align: left;
      
    }
    .line{
      font-weight: 700;
      background: linear-gradient(transparent 7%, $accent_color 7% 95%, transparent 95%);
      display: inline;
    }
    .map{
      margin-bottom: 16px;

      iframe{
        width: 100%;
      }
    }
    .title-bg{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $green_color;
      margin-bottom: 8px;
    }
    .text-bg{
      background: $white_color;
      font-size: 1.8rem;
      font-weight: 700;
      padding: 15px 20px;
    
      .txt{
        display: inline-block;
        text-align: left;
      }
    }
  }
  .sec-texts{
    .top{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 18px;
    }
    .text{
      font-size: 1.8rem;
      margin-bottom: 18px;
    }
    .bg{
      font-size: 1.8rem;
      font-weight: 700;
      padding: 24px 20px;
      background: F5F5F5;
    }
  }

}



#enrollment{
  margin-bottom: 100px;

  .sec-inner{
    margin-top: 86px;
  }
  .sec-banner{
    display: block;
    width: 41.96%;
    margin: 0 auto 80px;
    box-shadow: 0 0 13.3px 2px rgba(0, 162, 154, 0.2);
    position: relative;

    &::before{
      content: "";
      position: absolute;
      width: 87px;
      height: 87px;
      bottom: 0;
      right: 0;
      background: url(../img/common/check.svg) center/contain no-repeat;
    }
  }
  .sec-container{
    &+.sec-container{
      margin-top: 90px;
    }
    &:nth-of-type(1){
      .sec-box{
        .box-top{
          background: $sub_color;
          .txt{
            img{
              width: 123px;
            }
          }
        }
        &:nth-of-type(1){
          .box-top{
            img{
              left: -103px;
            }
          }
        }
        &:nth-of-type(2){
          .box-top{
            img{
              right: -129px;
            }
          }
        }
        &:nth-of-type(3){
          .box-top{
            img{
              left: -115px;
            }
          }
        }
        &:nth-of-type(4){
          .box-top{
            img{
              right: -123px;
            }
          }
        }
      }
    }
    &:nth-of-type(2){
      .sec-box{
        .box-top{
          background: $green_color;
          .txt{
            img{
              width: 151px;
            }
          }
        }
        &:nth-of-type(1){
          .box-top{
            img{
              left: -140px;
            }
          }
        }
        &:nth-of-type(2){
          .box-top{
            img{
              right: -140px;
            }
          }
        }
      }
    }
  }
  .sec-box{
    margin: 64px auto 0;
    width: 100%;

    .box-top{
      color: $white_color;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.5;
      padding: 24px 16px;
      text-align: center;
      position: relative;

      .txt{
        display: inline-block;
        position: relative;

        img{
          content: "";
          position: absolute;
          bottom: -24px;
        }
      }
      .plus-btn{
        right: 50px;
      }
    }
    .box-content{
      background: #F5F5F5;
      padding: 40px 7.723%;
      text-align: center;
      display: none;
    }
    .bg-white{
      margin: 0 auto;
      width: 100%;
      background: $white_color;
      border: 1px solid;
      border-image: $main_gradient 1;
      padding: 40px 8.93% 80px;
      text-align: center;
    }
  }
  .sec-text{
    font-size: 1.8rem;
    line-height: 1.8;
    display: inline-block;
    text-align: left;
  }
  .sec-item{
    background: #B3EDEB;
    border-radius: 50px;
    padding: 50px 9.38%;
    width: 100%;
    margin: 32px auto 0;
 
    .table-header{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: #00C4BB;
    }
    .table-row{
      margin-top: 10px;
      display: grid;
      grid-template-columns: 384fr 303fr;
      gap: 0 5px;
    }
    .table-left{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.8;
      color: $white_color;
      background: #00C4BB;
      padding: 15px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .table-right{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.8;
      background: $white_color;
      padding: 8px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .table-text{
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.8;
      background: $white_color;
      padding: 15px 8px;
      margin-top: 8px;
    }
    .table-box{  
      background: #00C4BB;
      padding: 15px 8px;
      color: $white_color;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.8;
      margin-top: 70px;
      position: relative;

      &::before{
        position: absolute;
        content: "";
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
        width: 63px;
        height: 66px;
        background: url(../img/enrollment/triangle.png) center/contain no-repeat;
      }
      .top{
        font-size: 2.4rem;
        background: $white_color;
        margin-bottom: 10px;
      }
      .col{
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .table-note{
      background: #F5F5F5;
      font-size: 16px;
      padding: 24px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 8px;
    }
    .large{
      font-size: 3.2rem;
    }
    .text{
      font-size: 1.8rem;
      display: inline-block;
      text-align: left;
    }
    .top-text{
      font-size: 2.4rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 24px;
    }
    &-2{
      width: 99%;
      padding: 30px 7.69%;
      margin-bottom: 0;

      .table-row{
        grid-template-columns: 200fr 665fr;
      }
      .table-left{
        padding: 8px 8px;
      }
    }
    &-3{
      width: 99%;
      padding: 30px 11.65% 30px 3.88%;
      margin-bottom: 0;
      display: grid;
      grid-template-columns: 152fr 678fr;
      gap: 0 3.88%;
      align-items: center;

      &:not(:nth-of-type(1)){
        margin-top: 16px;
      }
      .table-row{
        grid-template-columns: 191fr 482fr;
      }
      .table-left{
        padding: 8px 8px;
      }
      .part{
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
    &.col-y{
      background: #FFE9B3;
      .table-left{
        background: $accent_color;
      }
    }
  }
  .sec-points{
    margin: 40px auto 0;
    
    .item{
      padding-left: 13px;
      text-align: left;
      font-size: 1.8rem;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        top: .9em;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $base_color;

      }
      &+.item{
        margin-top: 1.8em;

        &-mt0{
          margin-top: 0;
        }
      }
    }
    .line{
      background: linear-gradient(transparent 7%, $accent_color 7% 95%, transparent 95%);
      display: inline;
    }
    .underline{
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  .sec-image{
    margin: 18px auto 0;
  }
  .sec-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81.92%;
    border-radius: 100px;
    background: #8CE3DE;
    font-size: 2.4rem;
    font-weight: 700;
    color: #084C49;
    line-height: 1.5;
    padding: 41px 10px 31px 10px;
    box-shadow: 4px 4px 0 2px #05615C;
    margin: 24px auto 0;
    position: relative;
    
    .icon{
      position: absolute;
      content: "";
      width: 75px;
      height: auto;
      bottom: 0;
      left: 11%;
      top: 50%;
      transform: translateY(-50%);
      aspect-ratio: 1/1;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:  url(../img/common/bg-dot-20.png) top center / 500px 250px repeat;
      border-radius: 100px;
    }
    .large{
      font-size: 4rem;
    }
    .txt{
      z-index: 3;
      position: relative;
      display: inline-block;

      &::after{
        content: "";
        position: absolute;
        width: 41px;
        height: 48px;
        top: 50%;
        transform: translateY(-50%);
        right: -35%;
        background:  url(../img/common/pdf.svg) center / contain no-repeat;
      }
    }
  }
}
#faq{
  background: $main_gradient;
  margin-top: 330px;
  padding-bottom: 484px;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 330px;
    top: -329px;
    left: 0;
    background:  url(../img/enrollment/faq-bg.png) bottom center / cover no-repeat;
  }
  .sec-container{
    padding-top: 0;
    padding-bottom: 0;
  }
  .sec-box{

    .box-item{
      color: #084C49;
      
      &:not(:nth-of-type(1)){
        margin-top: 16px;
      }
    }
    .question{
      background: #B3EDEB;
      font-size: 2rem;
      font-weight: 700;
      padding: 32px 13.41% 32px 9.34%;
      position: relative;

      .plus-btn{
        right: 9.34%;
      }
    }
    .answer{
      background: $white_color;
      font-size: 1.8rem;
      font-weight: 700;
      padding: 15px 9.34% 15px 9.34%;
      color: #084C49;
      display: none;
    }
  }
}