@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

#class{

  .sec-container{
    background: #F5F5F5;
    max-width: 123rem;
    margin: 120px auto 54rem;
    padding: 80px 10rem;
  }
  .sec-box{
    background: $white_color;
    border: 1px solid;
    border-image: $main_gradient 1;
    padding: 4rem 4rem 8rem;

    .box-title{
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 18px;
      background: $green_color;
      color: $white_color;
    }
    .box-text{
      max-width: 832px;
      width: 100%;
      margin: 0 auto;
    }
    .box-text+.box-title{
      margin-top: 64px;
    }
    .box-table{
      max-width: 832px;
      width: 100%;
      margin: 42px auto 0;
    }
    .table-row{
      display: grid;
      grid-template-columns: 144fr 683fr;
      gap: 0 5px;
      border: 1px solid;
      border-image: $main_gradient 1;

      &:not(:nth-of-type(1)){
        margin-top: 10px;
      }
    }
    .table-left{
      background: $green_color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 700;
      color: $white_color;
      padding: 8px;
    }
    .table-right{
      padding: 15px 2.4rem;
    }
    .list{
      counter-reset: item;
    }
    .item{
      counter-increment: item;
      position: relative;
      padding-left: 1em;
      font-weight: 700;

      &::before {
        content: counter(item) ".";
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .box-text-bg{
      max-width: 832px;
      width: 100%;
      margin: 10px auto 18px;
      background: #C9F4F2;
      padding: 15px 2.4rem;
    }
  }
  .sec-btns{
    display: flex;
    gap: 0 4rem;
    margin: 40px auto;

    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 10px;
      max-width: 495px;
      width: 100%;
      height: 111px;
      margin: 0 auto;

      &.-green{
        background: #8CE3DE;
      }
      &.-yellow{
        background: $gra_gradient;
      }
    }
    .txt{
      font-size: 16px;
      font-weight: 700;
    }
    .icon{
      width: 24px;
    }
  }
  @include media('full') {
    .sec-container{
      max-width: 1230px;
    }
  }
  @include media('tb') {

    .sec-container{
      margin: 80px auto 300px;
      padding: 24px;
    }
    .sec-box{
      padding: 20px 20px 40px;

      .box-title{
        font-size: 26px;
      }
      .box-text+.box-title{
        margin-top: 44px;
      }
      .table-left{
        font-size: 20px;
      }
      .table-right{
        padding: 8px 24px;
      }
      .box-text-bg{
        padding: 15px 24px;
      }
    }
    .sec-btns{
      gap: 4px 20px;

      .btn{
        height: 95px;
      }
    }
  }
  @include media('sp') {

    .sec-inner{
      padding-left: 0;
      padding-right: 0;
    }
    .sec-container{
      margin: 40px auto 150px;
      padding: 24px;
    }
    .sec-box{
      padding: 14px;

      .box-title{
        font-size: 20px;
        margin-bottom: 16px;
      }
      .box-text{
        padding: 0 16px;
      }
      .box-text+.box-title{
        margin-top: 24px;
      }
      .box-table{
        margin-top: 16px;
      }
      .table-row{
        grid-template-columns: 1fr;
        gap: 0;
      }
      .table-left{
        align-items: flex-start;
        font-size: 16px;
        padding: 0 16px;
      }
      .table-right{
        padding: 8px 24px;
      }
      .item{
        padding-left: 1.2em;
      }
      .box-text-bg{
        margin: 10px auto 16px;
        padding: 15px 24px;
      }
    }
    .sec-btns{
      flex-direction: column;

      .btn{
        height: 80px;
      }
    }
  }
}