@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

.sec-container{
  box-shadow: 0 0 13px 2px #00A29A33;
  padding: 40px 20px 80px;
}
.sec-title{
  margin: 18px;
}

#top {
  .sec-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 31.2rem;
    margin-top: 88px;
    background: url(../img/enrollment/top-bg.png) center 43.5%/cover no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $main_gradient;
      opacity: .7;
      // z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 27.24%;
      background: url(../img/common/bg-dot.png) top left/auto 260% repeat-x;
      opacity: .55;
    }
  }
  .sec-title {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: relative;
    z-index: 3;
    padding-top: 7rem;
  }
} 
#procedure{
  .sec-inner{
    margin-top: 86px;
  }
  .sec-banner{
    display: block;
    width: 41.96%;
    margin: 0 auto 80px;
    box-shadow: 0 0 13.3px 2px rgba(0, 162, 154, 0.2);
    position: relative;

    &::before{
      content: "";
      position: absolute;
      width: 87px;
      height: 87px;
      bottom: 0;
      right: 0;
      background: url(../img/common/check.svg) center/contain no-repeat;
    }
  }
  .sec-box{
    margin: 64px auto 0;
    width: 88.49%;

    .box-top{
      background: $sub_color;
      color: $white_color;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.5;
      padding: 16px;
      text-align: center;
      position: relative;

      .txt{
        display: inline-block;
        position: relative;


      }
      .btn{
        position: absolute;
        background: $white_color;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);

        &::before,
        &::after{
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          top: 50%;
          left: 50%;
          transform-origin: center;
          background: $base_color;
        }
        &::before{
          transform: translateX(-50%) translateY(-50%);
        }
        &::after{
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
        }
      }
    }
    .box-content{
      background: #F5F5F5;
      padding: 40px 20px; 
    }
    .bg-white{
      margin: 0 auto;
      width: 87.6%;
      background: $white_color;
      border: 1px solid;
      border-image: $main_gradient 1;
      padding: 40px 20px 80px;
      text-align: center;
    }
  }
  .sec-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 32px;
    display: inline-block;
    text-align: left;
  }
  .sec-item{
    background: #B3EDEB;
    border-radius: 50px;
    padding: 50px 8%;
    width: 85.2%;
    margin: 0 auto 32px;

    .table-header{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: #00C4BB;
    }
    .table-row{
      margin-top: 10px;
      display: grid;
      grid-template-columns: 384fr 303fr;
      gap: 0 5px;
    }
    .table-type{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.8;
      color: $white_color;
      background: #00C4BB;
      padding: 15px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .table-age{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.8;
      background: $white_color;
      padding: 8px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .table-text{
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.8;
      background: $white_color;
      padding: 15px 8px;
      margin-top: 8px;
      // border: 1px solid;
      // border-image: $main_gradient 1;
    }
    .table-box{  
      background: #00C4BB;
      padding: 15px 8px;
      color: $white_color;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.8;
      margin-top: 70px;
      position: relative;

      &::before{
        position: absolute;
        content: "";
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
        width: 63px;
        height: 66px;
        background: url(../img/enrollment/triangle.png) center/contain no-repeat;
      }
      .top{
        font-size: 2.4rem;
        background: $white_color;
        margin-bottom: 10px;
      }
      .col{
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .table-note{
      background: #F5F5F5;
      font-size: 16px;
      padding: 24px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 8px;
    }
    .large{
      font-size: 3.2rem;
    }
    .text{
      font-size: 1.8rem;
      display: inline-block;
      text-align: left;
    }
  }
  .sec-points{
    margin: 40px auto 0;
    width: 85.5%;
    
    .item{
      padding-left: 13px;
      text-align: left;
      font-size: 1.8rem;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        top: .9em;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $base_color;

      }
      &+.item{
        margin-top: 1.8em;

        &-mt0{
          margin-top: 0;
        }
      }
    }
    .line{
      background: linear-gradient(transparent 7%, $accent_color 7% 95%, transparent 95%);
      display: inline;
    }
    .underline{
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  .sec-image{
    margin: 18px auto 0;
    width: 85.5%;
  }
}
#faq{

}