@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

.sec-container{
  box-shadow: 0 0 13px 2px #00A29A33;
  padding: 40px 24px 80px;
  background: $white_color;

  @include media('sp') {
    padding-bottom: 40px;
  }
}
.js-ac-btn.active{
  .plus-btn{
    &::after{
      opacity: 0;
    }
  }
}
.plus-btn{
  position: absolute;
  background: $white_color;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  &::before,
  &::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    background: $base_color;
    transition: all .3s;
  }
  &::before{
    transform: translateX(-50%) translateY(-50%);
  }
  &::after{
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }

  @include media('sp') {
    width: 34px;
    height: 34px;

    &::before,
    &::after{
      width: 22px;
      height: 2px;
    }
  }
}
.js-ac-btn.active .plus-btn::after{
  content: none;
}

#top {
  .sec-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 312px;
    margin-top: 88px;
    background: url(../img/flow/top-bg.png) center 65%/cover no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $main_gradient;
      opacity: .7;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 27.24%;
      background: url(../img/common/bg-dot.png) top left/auto 260% repeat-x;
      opacity: .55;
    }
  }
  .sec-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: relative;
    z-index: 3;
    margin: 0;
    padding-top: 7rem;
  }
  @include media('tb') {
    .sec-inner{
      margin-top: 62px;
    }
    .sec-title{
      padding: 0;
    }
  }
  @include media('sp') {
    .sec-inner{
      height: 200px;
    }
    .sec-title{
      font-size: 3.2rem;
    }
  }
} 

#flow{
  position: relative;

  &::before{
    position: absolute;
    content: "";
    width: 100%;
    aspect-ratio: 2880/756;
    left: 0;
    top: 240px;
    background: url(../img/flow/section-bg.png) center /cover no-repeat;
    z-index: -2;
  }
  .sec-inner{
    padding-top: 81px;
    padding-bottom: 524px;
  }
  .sec-container{
    max-width: 143rem;
    margin: 0 auto;
    padding: 8rem 10rem;
  }
  .sec-box{

    &+.sec-box{
      margin-top: 18px;
    }
    .box-top{
      color: $white_color;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
      padding: 24px 16px;
      text-align: center;
      position: relative;
      cursor: pointer;
      transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow .3s cubic-bezier(0.45, 0, 0.55, 1), background .3s cubic-bezier(0.45, 0, 0.55, 1);
      background: $sub_color;
      box-shadow: 4px 4px 0 2px #5B3882;
      margin-bottom: 18px;

      &:hover{
        background: #7F54B1;
      }
      &:not(.active):hover{
        transform: translate(4px, 4px);
        box-shadow: none !important;
      }
      &.active{
        box-shadow: none !important;
      }

      .txt{
        display: inline-block;
        position: relative;

        img{
          position: absolute;
          width: 100px;
          aspect-ratio: 100/78;
          top: 50%;
          transform: translateY(-50%);
          left: -114px;
        }
      }
      .plus-btn{
        right: 9%;
      }
      &-green{
        background: $green_color;
        box-shadow: 4px 4px 0 2px #05615C;

        &:hover{
          background: #00867F;
        }
      }
      .tag{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15.12%;
        font-size: 16px;
        font-weight: 700;
        background: #F5F5F5;
        border-radius: 100px;
        padding: 0 24px;
        
        .col{
          line-height: 1.5;
          background: $main_gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .box-content{
      background: #F5F5F5;
      padding-bottom: 80px;
      display: none;
    }
  }
  .sec-title{
    padding-top: 40px;
  }
  .sec-text{
    padding: 24px 10px;
    max-width: 79.7rem;
    width: 100%;
    background: $white_color;
    margin: 0 auto 18px;
    text-align: center;

    .txt{
      display: inline-block;
      text-align: left;
    }
  }
  .sec-list{
    
    .list-item{
      max-width: 550px;
      width: 100%;
      border: 1px solid;
      border-image: $main_gradient 1;
      background: $white_color;
      padding: 8px;
      text-align: center;
      margin: 0 auto 10px;
      position: relative;
      z-index: 2;

      .txt{
        font-size: 2.4rem;
        font-weight: 700;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .list-box{
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0 40px;

      &.single{
        justify-content: center;
      }
    }
    .box-item{
      max-width: 550px;
      width: 100%;
      padding: 24px 20px 24px 75px; 
      text-align: center;
      height: fit-content;
      margin-bottom: 10px;
      z-index: 2;

      &.col-y{
        background: $gra_gradient;

        .icon{
          width: 73px;
        }
      }
      &.col-p{
        background: $par_gra_gradient;

        .icon{
          width: 60px;
        }
      }
      .icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 11%;
      }
      .texts{
        color: $white_color;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        line-height: 1.2;
        display: inline-block;
      }
      .underline{
        display: inline-block;
        border-bottom: 2px solid $white_color;
        padding: 0 3px 5px;
        margin-bottom: 20px;
      }
      .text+.text{
        margin-top: 10px;
      }
    }
    .item-wrap{
      max-width: 550px;
      width: 100%;
    }
    .arrow-single{
      height: 55px;
      margin: 0 auto 10px;
    }
    .arrow-double{
      width: 54%;
      margin: 0 auto 10px;
    }
    .arrow-double-tall{
      width: 54%;
      margin: -70px auto 10px;
    }
  }
  .sec-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4.1%;
    max-width: 85.2rem;
    width: 100%;
    border-radius: 100px;
    background: #8CE3DE;
    font-size: 2.4rem;
    font-weight: 700;
    color: #084C49;
    line-height: 1.5;
    padding: 32px 80px 25px 8px;
    box-shadow: 4px 4px 0 2px #05615C;
    margin: 7.3rem auto 6.4rem;
    position: relative;
    transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow .3s cubic-bezier(0.45, 0, 0.55, 1);

    &:hover{
      transform: translate(2px, 2px);
      box-shadow: none;
    }
    
    &::before{
      position: absolute;
      content: "";
      max-width: 189px;
      width: 22.18%;
      height: auto;
      bottom: 0;
      right: 42px;
      aspect-ratio: 1/1;
      background: url(../img/school/btn-img.png) center/contain no-repeat;
      z-index: 2;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:  url(../img/common/bg-dot-20.png) top center / 500px 250px repeat;
      border-radius: 100px;
    }
    .large{
      font-size: 4rem;
    }
    .txt{
      z-index: 3;
    }
    .icon{
      width: 75px;
      z-index: 3;
    }
  }
  .sec-part{
    padding: 40px 9.4rem 80px;
    background: $white_color;
    border: 1px solid;
    border-image: $main_gradient 1;
    margin: 0 9.5rem;

    .box{
      background: #F5F5F5;
      font-weight: 700;
      padding: 24px 4.7rem;
      margin-top: 24px;
    }
    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 852px;
      width: 100%;
      border-radius: 100px;
      background: $main_gradient;
      font-size: clamp(16px, 2.4rem, 24px);
      font-weight: 700;
      color: $white_color;
      line-height: 1.5;
      padding: 36px 8px;
      box-shadow: 4px 4px 0 2px #05615C;
      margin: 24px auto;
      position: relative;
      transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow .3s cubic-bezier(0.45, 0, 0.55, 1);

      &:hover{
        transform: translate(2px, 2px);
        box-shadow: none;
      }
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:  url(../img/common/bg-dot-20.png) top center / 648px 324px repeat;
        border-radius: 100px;
      }
      &-1{
        margin-top: 38px;
      }
      &-2{
        padding-left: 63px;
      }
      &-3{
        background: #F6AE00;
        box-shadow: 4px 4px 0 2px #725510;
        margin-top: 40px;
        padding-left: 44px;
      }
      .large{
        font-size: clamp(16px, 4rem, 40px);
      }
      .txt{
        z-index: 3;
        position: relative;
      }
      .image{
        position: absolute;
        max-width: 137px;
        width: 16%;
        height: auto;
        bottom: 0;
        left: 15%;
        z-index: 2;
      }
      .icon-pdf{
        position: absolute;
        width: 42px;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        right: -72px;
        z-index: 2;
      }
      .icon-price{
        position: absolute;
        width: 9.9%;
        max-width: 85px;
        aspect-ratio: 1/1;
        border-radius: 17px;
        background: $gra_gradient;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;

        &::before{
          position: absolute;
          content: "";
          max-width: 42px;
          width: 48%;
          aspect-ratio: 42/38;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          background: url(../img/common/price.svg) center/contain no-repeat;
        }
      }
      .img-l{
        position: absolute;
        max-width: 152px;
        width: 16%;
        height: auto;
        bottom: 0;
        left: 15.8%;
        z-index: 2;
      }
      .img-r{
        position: absolute;
        max-width: 152px;
        width: 16%;
        height: auto;
        bottom: 0;
        right: 13.2%;
        z-index: 2;
      }
    }
  }
  .sec-part.p-1{
    margin-bottom: 64px;
  }
  .sec-part.p-2{
    .item{
      background: #B3EDEB;
      border-radius: 50px;
      padding: 5rem 8rem;
      text-align: center;
      margin-bottom: 32px;

      &.i-2{

        .table-row{
          grid-template-columns: 256fr 431fr;
        }
        .right{
          text-align: center;
          font-weight: 700;
        }
      }
    }
    .item-title{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    .item-text{
      display: inline-block;
      text-align: left;
      margin-bottom: 16px;
    }
    .table{
      margin-bottom: 16px;
    }
    .table-row{
      display: grid;
      grid-template-columns: 144fr 543fr;
      gap: 0 5px;

      &:not(:nth-of-type(1)){
        margin-top: 10px;
      }
    }
    .left{
      background: $green_color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 700;
      color: $white_color;
      padding: 8px;
    }
    .right{
      background: $white_color;
      text-align: left;
      padding: 1.5rem 3.6rem;
    }
    .bold{
      font-weight: 700;
    }
    .bg-g{
      background: #F5F5F5;
      padding: 24px 16px;
    }
    .text-wrap{
      margin: 0 auto;
      width: fit-content;
      font-size: 16px;
    }
    .top{
      margin-bottom: 10px;
    }
    .list-box{
      padding: 0 16px;
      position: relative;
      border-left: 3px solid;
      border-image: $main_gradient 1;
      text-align: left;
      display: inline-block;
    }
    .text-box{
      background: #F5F5F5;
      font-size: 16px;
      padding: 24px 27px;
      text-align: left;
      margin-bottom: 16px;
    }
    .label{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $green_color;
      margin-bottom: 8px;
    }
  }
  @include media('full') {
    .sec-container{
      max-width: 1430px;
      padding: 80px 6.9%;
    }
    .sec-box{

      .box-top{

        .plus-btn{
          right: calc(115px - (1920px - 100vw) / (896 / 90));
        }
        .tag{
          right: calc(186px - (1920px - 100vw) / (896 / 95));
        }
      }
    }
    .sec-list{

      .box-item{
        
        .icon{
          left: calc(64px - (1920px - 100vw) / (896 / 40));
        }
      }
    }
  }
  @include media('tb') {
    .sec-inner{
      padding: 60px 24px 350px;

    }
    .sec-container{
      padding: 60px 20px;
    }
    .sec-box{

      .box-top{
        height: 87px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px 0;
        padding: 8px 16px;

        .plus-btn{
          right: 4.4%;
        }
        &-green{
          .txt{
            img{
              transform: translateY(-18px);
            }
          }
        }
        .tag{
          position: static;
          transform: none;
        }
      }
    }
    .sec-list{
      width: calc(100% - 48px);
      margin: 0 auto;

      .box-item{
        padding: 24px 8px 24px 70px; 
        margin-bottom: 4px;

        .icon{
          height: 25px;
          left: 3%;
        }
        .texts{
          font-size: 20px;
        }
      }
      .arrow-single{
        height: 35px;
      }
    }
    .sec-part{
      padding: 24px 24px;
      margin: 32px 24px 0;

      .btn{
        max-width: 600px;
        font-size: 21px;
        padding: 8px;
        height: 98px;
        box-shadow: 2px 2px 0 2px #05615C;

        &-2{
          padding-left: 56px;
        }
        &-3{
          box-shadow: 2px 2px 0 2px #725510;
          padding-left: 8px;
        }
        .large{
          font-size: 33px;
        }
        .image{
          max-width: 90px;
          bottom: 50%;
          transform: translateY(50%);
          left: 8%;
        }
        .icon-pdf{
          right: -62px;
        }
        .icon-price{
          max-width: 60px;
          border-radius: 12px;
          left: 7%;

          &::before{
            max-width: 30px;
            width: 50%;
          }
        }
        .img-l{
          max-width: 120px;
          width: 20%;
          left: 1%;
          border-radius: 0 0 0 45px;
        }
        .img-r{
          max-width: 120px;
          width: 20%;
          right: 3%;
          border-radius: 0 0 35px 0;
        }
      }
    }
    .sec-part.p-2{
      .item{
        border-radius: 30px;
        padding: 24px 16px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 14px);
      }
      .item-title{
        font-size: 22px;
      }
      .left{
        font-size: 20px;
        padding: 8px 4px;
      }
      .right{
        padding: 8px;
      }
      .bg-g{
        padding: 16px;
      }
      .list-box{
        padding: 0 0 0 16px;
      }
      .text-box{
        padding: 16px;
      }
      .label{
        font-size: 20px;
      }
    }
  }
  @include media('sp') {

    .sec-inner{
      padding: 40px 0 150px;

    }
    .sec-container{
      padding: 40px 0;
    }
    .sec-box{

      &+.sec-box{
        margin-top: 16px;
      }
      .box-top{
        font-size: 2.1rem;
        font-size: clamp(16px, 2.1rem, 2.1rem);
        line-height: 1.2;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 10px;

        .txt{
          display: block;
          width: 100%;
          padding-left: 98px;
          padding-right: 40px;

          img{
            max-width: 100px;
            width: 28%;
            left: 0;
          }
        }
        .tag{
          margin-left: 98px;
          margin-right: 40px;
          font-size: 1.6rem;
        }
      }
      .box-content{
        padding-bottom: 0;
      }
    }
    .sec-title{
      padding-top: 11px;
    }
    .sec-text{
      padding: 8px;
      width: calc(100% - 48px);
    }
    .sec-list{

      .list-item{
        max-width: 304px;
        margin-bottom: 4px;
        

        .txt{
          font-size: 16px;
        }
      }
      .list-box{
        max-width: 400px;
        margin: 0 auto;
        gap: 0 8px;
      }
      .box-item{
        max-width: 160px;
        padding: 24px 4px; 

        &.col-y{

          .icon{
            width: 42px;
          }
        }
        &.col-p{

          .icon{
            width: 35px;
          }
        }
        .icon{
          position: static;
          transform: none;
          margin: 0 auto 20px;
        }
        .texts{
          font-size: 16px;
        }
        .underline{
          border-bottom: none;
          padding: 0 ;
          margin-bottom: 5px;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 2px;
        }
        .text+.text{
          margin-top: 2px;
        }
      }
      .item-wrap{
        max-width: 157px;
      }
      .arrow-single{
        height: 15px;
        margin-bottom: 4px;
      }
      .arrow-double{
        width: 100%;
        max-width: 200px;
        margin-bottom: 4px;
      }
      .arrow-double-tall{
        width: 100%;
        max-width: 200px;
        position: relative;
        margin-top: -95px;
      }
    }
    .sec-btn{
      max-width: 400px;
      width: calc(100% - 48px);
      gap: 8px;
      margin-top: 38px;
      margin-bottom: 54px;
      padding: 14px 80px 15px 8px;
      font-size: 16px;
      line-height: 1.4;

      &::before{
        width: 130px;
        height: 111px;
        right: 0;
        bottom: -1px;
      }
      .icon{
        width: 43px;
      }
      .large{
        font-size: 2rem;
      }
    }
    .sec-part{
      padding: 24px 0;
      margin: 32px 8px 0;
      position: relative;
      z-index: 1;

      &::before{
        position: absolute;
        content: "";
        width: 100vw;
        height: calc(100% + 32px);
        left: -8px;
        top: -32px;
        background: $white_color;
        z-index: -1;
      }
      &::after{
        position: absolute;
        content: "";
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        left: -1px;
        top: -1px;
        border: 1px solid;
        border-image: $main_gradient 1;
        z-index: -1;
      }

      .box{
        padding: 8px;
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
      }
      .btn{
        max-width: 400px;
        font-size: clamp(16px, 1.8rem, 1.8rem);
        box-shadow: 1px 1px 0 1px #05615C;

        &::after{
          background:  url(../img/common/bg-dot-20.png) top center / 204px 102px repeat;
        }
        &-1{
          margin-top: 24px;
        }
        &-2{
          padding-left: 90px;
        }
        &-3{
          box-shadow: 1px 1px 0 1px #725510;
          margin-top: 30px;
        }
        .large{
          font-size: clamp(18px, 2.6rem, 2.6rem);
        }
        .image{
          max-width: 66px;
        }
        .icon-pdf{
          right: -52px;
        }
        .icon-price{
          max-width: 40px;
          border-radius: 8px;
          left: 9%;

          &::before{
            max-width: 20px;
          }
        }
        .img-l{
          max-width: 94px;
          width: 26%;
        }
        .img-r{
          max-width: 94px;
          width: 26%;
        }
      }
    }
    .sec-part.p-1{
      margin-bottom: 24px;
    }
    .sec-part.p-2{
      .item{
        border-radius: 16px;

        &.i-1{
          .left{
            writing-mode: vertical-rl;
          }
        }
        &.i-2{

          .table-row{
            grid-template-columns: 1fr 1fr;
          }
        }
      }
      .item-title{
        font-size: 20px;
      }
      .table-row{
        grid-template-columns: 29px 1fr;
        gap: 0 2px;

        &:not(:nth-of-type(1)){
          margin-top: 4px;
        }
      }
      .left{
        font-size: 16px;
      }
      .right{
        font-size: 16px;
      }
      .top{
        margin-bottom: 16px;
        text-align: left;
      }
      .text-box{
        padding: 8px;
        margin-bottom: 8px;
      }
      .label{
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 4px;
        padding: 8px;
      }
    }
  }
}


