@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

.sec-container{
  box-shadow: 0 0 13px 2px #00A29A33;
  padding: 40px 24px 80px;
  background: $white_color;

  @include media('sp') {
    padding-bottom: 40px;
  }
}
.js-ac-btn.active{
  .plus-btn{
    &::after{
      opacity: 0;
    }
  }
}
.plus-btn{
  position: absolute;
  background: $white_color;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  &::before,
  &::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    background: $base_color;
    transition: all .3s;
  }
  &::before{
    transform: translateX(-50%) translateY(-50%);
  }
  &::after{
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }

  @include media('sp') {
    width: 34px;
    height: 34px;

    &::before,
    &::after{
      width: 22px;
      height: 2px;
    }
  }
}
.js-ac-btn.active .plus-btn::after{
  content: none;
}

#top {
  .sec-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 312px;
    margin-top: 88px;
    background: url(../img/flow/top-bg.png) center 65%/cover no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $main_gradient;
      opacity: .7;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 27.24%;
      background: url(../img/common/bg-dot.png) top left/auto 260% repeat-x;
      opacity: .55;
    }
  }
  .sec-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: relative;
    z-index: 3;
    margin: 0;
    padding-top: 7rem;
  }
  @include media('tb') {
    .sec-inner{
      margin-top: 62px;
    }
    .sec-title{
      padding: 0;
    }
  }
  @include media('sp') {
    .sec-inner{
      height: 200px;
    }
    .sec-title{
      font-size: 3.2rem;
    }
  }
} 

#flow{
  position: relative;

  &::before{
    position: absolute;
    content: "";
    width: 100%;
    aspect-ratio: 2880/756;
    left: 0;
    top: 240px;
    background: url(../img/flow/section-bg.png) center /cover no-repeat;
    z-index: -2;
  }
  .sec-inner{
    padding-top: 81px;
    padding-bottom: 524px;
  }
  .sec-container{
    max-width: 143rem;
    margin: 0 auto;
    padding: 8rem 10rem;
  }
  .sec-box{

    &+.sec-box{
      margin-top: 18px;
    }
    .box-top{
      color: $white_color;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
      padding: 24px 16px;
      text-align: center;
      position: relative;
      cursor: pointer;
      transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow .3s cubic-bezier(0.45, 0, 0.55, 1), background .3s cubic-bezier(0.45, 0, 0.55, 1);
      background: $sub_color;
      box-shadow: 4px 4px 0 2px #5B3882;
      margin-bottom: 18px;

      &:hover{
        background: #7F54B1;
      }
      &:not(.active):hover{
        transform: translate(4px, 4px);
        box-shadow: none !important;
      }
      &.active{
        box-shadow: none !important;
      }

      .txt{
        display: inline-block;
        position: relative;

        img{
          position: absolute;
          width: 100px;
          aspect-ratio: 100/78;
          top: 50%;
          transform: translateY(-50%);
          left: -114px;
        }
      }
      .plus-btn{
        right: 9%;
      }
      &.-green{
        background: $green_color;
        box-shadow: 4px 4px 0 2px #05615C;

        &:hover{
          background: #00867F;
        }
      }
      .tag{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15.12%;
        font-size: 16px;
        font-weight: 700;
        background: #F5F5F5;
        border-radius: 100px;
        padding: 0 24px;
        
        .col{
          line-height: 1.5;
          background: $main_gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          white-space: nowrap;
        }
      }
    }
    .box-content{
      background: #F5F5F5;
      padding-bottom: 80px;
      display: none;
    }
  }
  .sec-title{
    padding-top: 40px;
  }
  .sec-text{
    padding: 24px 10px;
    max-width: 79.7rem;
    width: 100%;
    background: $white_color;
    margin: 0 auto 18px;
    text-align: center;

    .txt{
      display: inline-block;
      text-align: left;
    }
  }
  .sec-list{
    
    .list-item{
      width: 100%;
      max-width: 550px;
      border: 1px solid;
      border-image: $main_gradient 1;
      background: $white_color;
      padding: 8px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      z-index: 2;

      .txt{
        font-size: 24px;
        font-weight: 700;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .list-box{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto 10px;
      
      &.-col{
        gap: 0 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 100%;
        padding: 126px 0 0;

        &::before{
          position: absolute;
          top: 0;
          left: 23%;
          width: 54%;
          height: 106px;
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22671%22%20height%3D%22107%22%20viewBox%3D%220%200%20671%20107%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3635_57275)%22%3E%3Cpath%20d%3D%22M335.42%200V51.28%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M670.84%2096.1016L664.55%20106.642L658.26%2096.1016H670.84Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M6.29004%20102.571V51.2812H664.55V102.571%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M12.58%2096.1016L6.29%20106.642L0%2096.1016H12.58Z%22%20fill%3D%22%23241915%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3635_57275%22%3E%3Crect%20width%3D%22670.84%22%20height%3D%22106.64%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E')
        }
        
        + .list-box::before{
          width: 54%;
          height: 106px;
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22661%22%20height%3D%22107%22%20viewBox%3D%220%200%20661%20107%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M336.42%2096.1016L330.13%20106.642L323.84%2096.1016H336.42Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M330.13%20102.571V51.2812%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M659.26%200V51.28H1V0%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3C%2Fsvg%3E');
        }

        + .-col{
          padding-top: 190px;

          &::before{
            height: 171px;
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22671%22%20height%3D%22172%22%20viewBox%3D%220%200%20671%20172%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M664.549%200V51.28H6.28906V0%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M335.42%2051.2812L335.42%20116.281%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M670.84%20161.133L664.55%20171.673L658.26%20161.133H670.84Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M6.28906%20167.603V116.312H664.549V167.603%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M12.58%20161.133L6.29%20171.673L0%20161.133H12.58Z%22%20fill%3D%22%23241915%22%2F%3E%3C%2Fsvg%3E');
          }
        }
      }
      &.-right{
        + .list-box::before{
          height: 198px;
          max-height: 14vw;
          margin-top: -7%;
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22661%22%20height%3D%22199%22%20viewBox%3D%220%200%20661%20199%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M336.416%20187.918L330.126%20198.458L323.836%20187.918H336.416Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M330.133%20195.29V144%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M659.26%2091.8174V143.097H1V0%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &::before{
        content: "";
        display: block;
        width: 100%;
        height: 55px;
        margin: 0 auto 10px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2213%22%20height%3D%2256%22%20viewBox%3D%220%200%2013%2056%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3635_57261)%22%3E%3Cpath%20d%3D%22M6.29004%200V51.28%22%20stroke%3D%22%23241915%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M12.58%2044.8203L6.29%2055.3503L0%2044.8203H12.58Z%22%20fill%3D%22%23241915%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3635_57261%22%3E%3Crect%20width%3D%2212.58%22%20height%3D%2255.35%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E') center/contain no-repeat;
      }
      &:first-child::before{
        content: none !important;
      }
    }
    .box{
      // max-width: 550px;
      padding: 24px 20px 24px 75px; 
      text-align: center;
      height: fit-content;
      margin: 0 auto;
      z-index: 2;

      &.col-y{
        background: $gra_gradient;

        &::before{
          width: 73px;
        }
      }
      &.col-p{
        background: $par_gra_gradient;

        &::before{
          width: 60px;
          background-image: url(../img/flow/book.png);
        }
      }
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 11%;
        height: 73px;
        transform: translateY(-50%);
        background: url(../img/flow/car.png) center/contain no-repeat;
        ;
      }
      .texts{
        color: $white_color;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        line-height: 1.2;
        display: inline-block;
      }
      .underline{
        display: inline-block;
        border-bottom: 2px solid $white_color;
        padding: 0 3px 5px;
        margin-bottom: 20px;
      }
      .text+.text{
        margin-top: 10px;
      }
    }
    .wrap{
      width: 44.71%;

      .list-item{
        margin-top: 10px;
        line-height: 1.7;
      }
    }
    .arrow-single{
      height: 55px;
      margin: 0 auto 10px;
    }
    .arrow-double{
      width: 54%;
      margin: 0 auto 10px;
    }
    .arrow-double-tall{
      width: 54%;
      margin: -70px auto 10px;
    }
  }
  .sec-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4.1%;
    max-width: 852px;
    width: calc(100% - 18.4rem);
    border-radius: 100px;
    background: #8CE3DE;
    font-size: 2.4rem;
    font-size: clamp(20px, 2.4rem, 24px);
    font-weight: 700;
    color: #084C49;
    line-height: 1.5;
    padding: 32px 80px 25px 8px;
    box-shadow: 4px 4px 0 2px #05615C;
    margin: 7.3rem auto 6.4rem;
    position: relative;
    transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow .3s cubic-bezier(0.45, 0, 0.55, 1);

    &:hover{
      transform: translate(2px, 2px);
      box-shadow: none;
    }
    
    &::before{
      position: absolute;
      content: "";
      max-width: 189px;
      width: 22.18%;
      height: auto;
      bottom: 0;
      right: 42px;
      aspect-ratio: 1/1;
      background: url(../img/school/btn-img.png) center/contain no-repeat;
      z-index: 2;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:  url(../img/common/bg-dot-20.png) top center / 500px 250px repeat;
      border-radius: 100px;
    }
    .large{
      font-size: 4rem;
      font-size: clamp(30px, 4rem, 40px);
    }
    .txt{
      z-index: 3;
    }
    .icon{
      width: 75px;
      z-index: 3;
    }
  }
  .sec-part{
    padding: 40px 9.4rem 80px;
    background: $white_color;
    border: 1px solid;
    border-image: $main_gradient 1;
    margin: 0 9.5rem;

    .box{
      background: #F5F5F5;
      font-weight: 700;
      padding: 24px 4.7rem;
      margin-top: 24px;
    }
    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 852px;
      width: 100%;
      border-radius: 100px;
      background: $main_gradient;
      font-size: clamp(20px, 2.4rem, 24px);
      font-weight: 700;
      color: $white_color;
      line-height: 1.5;
      padding: 36px 8px;
      box-shadow: 4px 4px 0 2px #05615C;
      margin: 24px auto;
      position: relative;
      transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow .3s cubic-bezier(0.45, 0, 0.55, 1);

      &:hover{
        transform: translate(2px, 2px);
        box-shadow: none;
      }
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:  url(../img/common/bg-dot-20.png) top center / 648px 324px repeat;
        border-radius: 100px;
      }
      &-1{
        margin-top: 38px;
      }
      &-2{
        padding-left: 63px;
      }
      &-3{
        background: #F6AE00;
        box-shadow: 4px 4px 0 2px #725510;
        margin-top: 40px;
        padding-left: 44px;
      }
      .large{
        font-size: clamp(30px, 4rem, 40px);
      }
      .txt{
        z-index: 3;
        position: relative;
      }
      .image{
        position: absolute;
        max-width: 137px;
        width: 16%;
        height: auto;
        bottom: 0;
        left: 15%;
        z-index: 2;
      }
      .icon-pdf{
        position: absolute;
        width: 42px;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        right: -72px;
        z-index: 2;
      }
      .icon-price{
        position: absolute;
        width: 9.9%;
        max-width: 85px;
        aspect-ratio: 1/1;
        border-radius: 17px;
        background: $gra_gradient;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;

        &::before{
          position: absolute;
          content: "";
          max-width: 42px;
          width: 48%;
          aspect-ratio: 42/38;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          background: url(../img/common/price.svg) center/contain no-repeat;
        }
      }
      .img-l{
        position: absolute;
        max-width: 152px;
        width: 16%;
        height: auto;
        bottom: 0;
        left: 15.8%;
        z-index: 2;
      }
      .img-r{
        position: absolute;
        max-width: 152px;
        width: 16%;
        height: auto;
        bottom: 0;
        right: 13.2%;
        z-index: 2;
      }
    }
  }
  .sec-part.p-1{
    margin-bottom: 64px;
  }
  .sec-part.p-2{
    .item{
      background: #B3EDEB;
      border-radius: 50px;
      padding: 5rem 8rem;
      text-align: center;
      margin-bottom: 32px;

      &.i-2{

        .table-row{
          grid-template-columns: 256fr 431fr;
        }
        .right{
          text-align: center;
          font-weight: 700;
        }
      }
    }
    .item-title{
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    .item-text{
      display: inline-block;
      text-align: left;
      margin-bottom: 16px;
    }
    .table{
      margin-bottom: 16px;
    }
    .table-row{
      display: grid;
      grid-template-columns: 144fr 543fr;
      gap: 0 5px;

      &:not(:nth-of-type(1)){
        margin-top: 10px;
      }
    }
    .left{
      background: $green_color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      color: $white_color;
      padding: 8px;
    }
    .right{
      background: $white_color;
      text-align: left;
      padding: 1.5rem 3.6rem;
    }
    .bold{
      font-weight: 700;
    }
    .bg-g{
      background: #F5F5F5;
      padding: 24px 16px;
    }
    .text-wrap{
      margin: 0 auto;
      width: fit-content;
      font-size: 16px;
    }
    .top{
      margin-bottom: 10px;
    }
    .list-box{
      padding: 0 16px;
      position: relative;
      border-left: 3px solid;
      border-image: $main_gradient 1;
      text-align: left;
      display: inline-block;
    }
    .text-box{
      background: #F5F5F5;
      font-size: 16px;
      padding: 24px 27px;
      text-align: left;
      margin-bottom: 16px;
    }
    .label{
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $green_color;
      margin-bottom: 8px;
    }
  }
  @include media('full') {
    .sec-container{
      max-width: 1430px;
      padding: 80px 6.9%;
    }
    .sec-text{
      max-width: 797px;
    }
    .sec-box{

      .box-top{

        .plus-btn{
          right: calc(115px - (1920px - 100vw) / (896 / 90));
        }
        .tag{
          right: calc(186px - (1920px - 100vw) / (896 / 95));
        }
      }
    }
    .sec-list{

      .wrap{
        width: 550px;
      }
    }
  }
  @include media('tb') {
    .sec-inner{
      padding: 60px 24px 350px;

    }
    .sec-container{
      padding: 60px 20px;
    }
    .sec-box{

      .box-top{
        height: 87px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px 0;
        padding: 8px 16px;

        .plus-btn{
          right: 4.4%;
        }
        &.-green{
          .txt{
            img{
              transform: translateY(-18px);
            }
          }
        }
        .tag{
          position: static;
          transform: none;
        }
      }
    }
    .sec-list{
      width: calc(100% - 48px);
      margin: 0 auto;

      .list-item .txt{
        font-size: 20px;
      }
      .list-box{

        &::before{
          height: 32px;
          height: clamp(0px, 8vw, 50px);
        }

        &.-col{
          padding-top: 16.25vw;

          &::before{
            left: calc(25% - 10px);
            width: calc(50% + 20px);
            height: 15.25vw;
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22209%22%20height%3D%2261%22%20viewBox%3D%220%200%20209%2061%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M104%200V29.3331%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M208.5%2055.1133L204.75%2061.0926L201%2055.1133H208.5Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M4%2058.9766V28.9766H205V58.9766%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M7.50009%2055.1133L3.75004%2061.0926L0%2055.1133H7.50009Z%22%20fill%3D%22%23241915%22%2F%3E%3C%2Fsvg%3E');
          }
          + .list-box{
            &::before{
              width: calc(50% + 20px);
              height: 15.25vw;
              background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22202%22%20height%3D%2262%22%20viewBox%3D%220%200%20202%2062%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M104.185%2055.1602L100.574%2061.2101L96.9639%2055.1602H104.185Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M100.574%2058.8741V29.4336%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M200.574%20-0.394531V29.6055H0.574219V-0.394531%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3C%2Fsvg%3E');
            }
          }
          + .-col{
            padding-top: 23vw;

            &::before{
              height: 22.5vw;
              background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22209%22%20height%3D%2291%22%20viewBox%3D%220%200%20209%2091%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M204.495%200V30H4.49463V0%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M104%2029.3945V58.7276%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M208.5%2084.5117L204.75%2090.491L201%2084.5117H208.5Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M4%2088.3711V58.3711H205V88.3711%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M7.50009%2084.5117L3.75004%2090.491L0%2084.5117H7.50009Z%22%20fill%3D%22%23241915%22%2F%3E%3C%2Fsvg%3E');
            }
          }
        }
        &.-right{
          + .list-box{
            &::before{
              margin-top: -26%;
              height: 34vw;
              max-height: 100%;
              background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22202%22%20height%3D%22149%22%20viewBox%3D%220%200%20202%20149%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M104.185%20142.828L100.574%20148.878L96.9639%20142.828H104.185Z%22%20fill%3D%22%23241915%22%2F%3E%3Cpath%20d%3D%22M100.574%20146.542V117.102%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3Cpath%20d%3D%22M200.574%2087.2734V117.273H0.574219V-2%22%20stroke%3D%22%23241915%22%20stroke-width%3D%221.148%22%20stroke-miterlimit%3D%2210%22%2F%3E%3C%2Fsvg%3E');
            }
          }
        }
      }
      .box{
        padding: 24px 8px 24px 70px; 

        &::before{
          height: 30px;
          left: 6%;
        }
        .texts{
          font-size: 20px;
        }
      }
      .wrap{
        width: 400px;
      }
      .arrow-single{
        height: 35px;
      }
    }
    .sec-part{
      padding: 24px 24px;
      margin: 32px 24px 0;

      .btn{
        max-width: 600px;
        font-size: 21px;
        padding: 8px;
        height: 98px;
        box-shadow: 2px 2px 0 2px #05615C;

        &-2{
          padding-left: 56px;
        }
        &-3{
          box-shadow: 2px 2px 0 2px #725510;
          padding-left: 8px;
        }
        .large{
          font-size: 33px;
        }
        .image{
          max-width: 90px;
          bottom: 50%;
          transform: translateY(50%);
          left: 8%;
        }
        .icon-pdf{
          right: -62px;
        }
        .icon-price{
          max-width: 60px;
          border-radius: 12px;
          left: 7%;

          &::before{
            max-width: 30px;
            width: 50%;
          }
        }
        .img-l{
          max-width: 120px;
          width: 20%;
          left: 1%;
          border-radius: 0 0 0 45px;
        }
        .img-r{
          max-width: 120px;
          width: 20%;
          right: 3%;
          border-radius: 0 0 35px 0;
        }
      }
    }
    .sec-part.p-2{
      .item{
        border-radius: 30px;
        padding: 24px 16px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 14px);
      }
      .item-title{
        font-size: 22px;
      }
      .left{
        font-size: 20px;
        padding: 8px 4px;
      }
      .right{
        padding: 8px;
      }
      .bg-g{
        padding: 16px;
      }
      .list-box{
        padding: 0 0 0 16px;
      }
      .text-box{
        padding: 16px;
      }
      .label{
        font-size: 20px;
      }
    }
  }
  @include media('sp') {

    .sec-inner{
      padding: 40px 0 150px;

    }
    .sec-container{
      padding: 40px 0;
    }
    .sec-box{

      &+.sec-box{
        margin-top: 16px;
      }
      .box-top{
        font-size: 2.1rem;
        font-size: clamp(16px, 2.1rem, 2.1rem);
        line-height: 1.2;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 10px;
        padding: .8rem;

        .txt{
          display: block;
          width: 100%;
          padding-left: 9.8rem;
          padding-right: 4rem;

          img{
            max-width: 100px;
            width: 28%;
            left: 0;
          }
        }
        .tag{
          margin-left: 98px;
          margin-right: 40px;
          font-size: 1.6rem;
        }
      }
      .box-content{
        padding-bottom: 0;
      }
    }
    .sec-title{
      padding-top: 11px;
    }
    .sec-text{
      padding: 8px;
      width: calc(100% - 48px);
    }
    .sec-list{

      .list-item{
        // max-width: 304px;
        width: 86.36%;
        max-width: 100%;
        margin-bottom: 4px;
        
        .txt{
          font-size: 16px;
        }
      }
      .list-box{
        // max-width: 400px;
        margin: 0 auto 4px;
        
        &::before{
          margin-bottom: 4px;
        }
        &.-col{
          gap: 0 3.7rem;

          &::before{
            left: calc(25% - 1rem);
            width: calc(50% + 2rem);
          }
          + .list-box{
            &::before{
              width: calc(50% + 2rem);
            }
          }
        }
        &.-right{
          + .list-box{
            &::before{
              margin-top: -26%;
              height: 37.5vw;
              max-height: 100%;
            }
          }
        }
      }
      .box{
        // max-width: 160px;
        padding: 24px 4px; 

        &::before{
          position: static;
          transform: none;
          display: block;
          width: 42px !important;
          height: 25px;
          margin: 0 auto 2rem;
        }
        .texts{
          font-size: 16px;
        }
        .underline{
          border-bottom: none;
          padding: 0 ;
          margin-bottom: 5px;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 2px;
        }
        .text+.text{
          margin-top: 2px;
        }
      }
      .wrap{
        width: 86.36%;
        max-width: 100%;

        .list-item{
          width: 100%;
          max-inline-size: 100%;
          margin: 8px 0 0;
        }
      }
      .arrow-single{
        height: 15px;
        margin-bottom: 4px;
      }
      .arrow-double{
        // width: 100%;
        // max-width: 200px;
        width: calc(50% + 2rem);
        margin-bottom: 4px;
      }
      .arrow-double-tall{
        // width: 100%;
        // max-width: 200px;
        width: calc(50% + 2rem);
        position: relative;
        margin-top: -95px;
      }
    }
    .sec-btn{
      max-width: 400px;
      width: calc(100% - 48px);
      gap: 8px;
      margin-top: 38px;
      margin-bottom: 54px;
      padding: 14px 80px 15px 8px;
      font-size: 16px;
      line-height: 1.4;

      &::before{
        width: 130px;
        height: 111px;
        right: 0;
        bottom: -1px;
      }
      .icon{
        width: 43px;
      }
      .large{
        font-size: 2rem;
      }
    }
    .sec-part{
      padding: 24px 0;
      margin: 32px 8px 0;
      position: relative;
      z-index: 1;

      &::before{
        position: absolute;
        content: "";
        width: 100vw;
        height: calc(100% + 32px);
        left: -8px;
        top: -32px;
        background: $white_color;
        z-index: -1;
      }
      &::after{
        position: absolute;
        content: "";
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        left: -1px;
        top: -1px;
        border: 1px solid;
        border-image: $main_gradient 1;
        z-index: -1;
      }

      .box{
        padding: 8px;
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
      }
      .btn{
        max-width: 400px;
        font-size: clamp(16px, 1.8rem, 1.8rem);
        box-shadow: 1px 1px 0 1px #05615C;

        &::after{
          background:  url(../img/common/bg-dot-20.png) top center / 204px 102px repeat;
        }
        &-1{
          margin-top: 24px;
        }
        &-2{
          padding-left: 9rem;
        }
        &-3{
          box-shadow: 1px 1px 0 1px #725510;
          margin-top: 30px;
        }
        .large{
          font-size: 2.6rem;
        }
        .image{
          max-width: 66px;
        }
        .icon-pdf{
          right: -52px;
        }
        .icon-price{
          max-width: 40px;
          border-radius: 8px;
          left: 9%;

          &::before{
            max-width: 20px;
          }
        }
        .img-l{
          max-width: 94px;
          width: 26%;
        }
        .img-r{
          max-width: 94px;
          width: 26%;
        }
      }
    }
    .sec-part.p-1{
      margin-bottom: 24px;
    }
    .sec-part.p-2{
      .item{
        border-radius: 16px;

        &.i-1{
          .left{
            writing-mode: vertical-rl;
          }
        }
        &.i-2{

          .table-row{
            grid-template-columns: 1fr 1fr;
          }
        }
      }
      .item-title{
        font-size: 20px;
      }
      .table-row{
        grid-template-columns: 29px 1fr;
        gap: 0 2px;

        &:not(:nth-of-type(1)){
          margin-top: 4px;
        }
      }
      .left{
        font-size: 16px;
      }
      .right{
        font-size: 16px;
      }
      .top{
        margin-bottom: 16px;
        text-align: left;
      }
      .text-box{
        padding: 8px;
        margin-bottom: 8px;
      }
      .label{
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 4px;
        padding: 8px;
      }
    }
  }
}


