@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

#top {
  .sec-inner {
    height: 40.5rem;
    margin-top: 88px;
  }
} 

#movie{
  margin: 72px 0 527px;

  .sec-texts{
    margin-bottom: 91px;

    .image{
      max-width: 87.2rem;
      width: 100%;
      margin: 0 auto 33px;
    }
    .text{
      text-align: center;
      font-size: 4rem;
      position: relative;
      padding-bottom: 121px;

      .col{
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &::after{
        position: absolute;
        content: "";
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 105px;
        height: 101px;
        background: url(../img/common/triangle.png) center/contain no-repeat;
      }
    }
  }
  .sec-item{

    &:not(:nth-of-type(1)){
      margin-top: 80px;
    }
    .box-top{
      border: 1px solid;
      border-image: $main_gradient 1;
      background: url(../img/movie/item-bg.png) top center/100% auto repeat-y;
      padding: 24px 10.34%;
      position: relative;
    }
    .title{
      text-align: center;

      .ja{
        font-size: 4rem;
      }
    }
    .js-ac-btn.active{
      .plus-btn{
        &::after{
          opacity: 0;
        }
      }
    }
    .plus-btn{
      position: absolute;
      background: $main_gradient;
      width: 94px;
      height: 94px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      right: 3.77%;

      &::before,
      &::after{
        content: "";
        position: absolute;
        width: 61px;
        height: 6px;
        top: 50%;
        left: 50%;
        transform-origin: center;
        background: $white_color;
        transition: all .3s;
      }
      &::before{
        transform: translateX(-50%) translateY(-50%);
      }
      &::after{
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
      }
    }
    .box-content{
      display: none;
    }
  }
  .sec-list{
    background: #F5F5F5;

    .list-item{
      background: url(../img/movie/item-bg.png) top center/100% auto repeat-y;
      padding: 48px 20px;
      
      &:not(:nth-of-type(1)){
        margin-top: 24px;
      }
      &:nth-of-type(odd){
        .top{
          background: $gra_gradient;
          box-shadow: 4px 6px 12px 1px #EAB535;
          transform: rotate(-3deg);
        }
        .title{
          text-shadow: 0 0 13px #CAA446;
        }
      }
      &:nth-of-type(even){
        .top{
          background: $main_gradient;
          box-shadow: 4px 6px 12px 1px #00A29A;
          transform: rotate(3deg);
        }
        .title{
          text-shadow: 0 0 13px #10807A;
        }
      }
    }
    .top{
      border: 2px solid $white_color;
      border-radius: 3px;
      max-width: 81.5rem;
      width: 100%;
      display: grid;
      grid-template-columns: 258fr 451fr;
      gap: 0 2.4%;
      padding: 20px 64px 20px 20px;
      margin: 0 auto 64px;
      align-items: center;
    }
    .square{
      aspect-ratio: 258/235;
      width: 100%;
    }
    .title{
      font-size: 5.1rem;
      font-weight: 700;
      color: $white_color;

      .large{
        font-size: 10.3rem;
        line-height: 1;
      }
    }
    .movies{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0 1.4rem;
    }
    .mov{
      position: relative;
      aspect-ratio: 297/203;
      width: 29.7rem;

      &::before{
        position: absolute;
        content: "";
        width: 52px;
        height: 47px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background: url(../img/movie/movie-play.svg) center/contain no-repeat;
      }
      img{
        border-radius: 17px;
      }
    }
    .type{
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.2rem;
    }
  }
  .sec-embed{
    padding-top: 32px;
    .movie{
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;

      iframe{
        width: 100%;
      }
    }
  }
}