@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

#post {
  padding-top: 80px;
  padding-bottom: 220px;
  
  .sec-inner {
    max-width: 1278px;
  }
  .sec-top {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    gap: 0 30px;

    .date{
      display: inline-block;
      font-family: $font_en;
      color: $gray_color;
      white-space: nowrap;
      // letter-spacing: .1em;
    }
    .bg{
      display: inline-block;
      color: $white_color;
      font-weight: 700;
      letter-spacing: .1em;
      display: inline-block;
      width: 162px;
      padding: 3px 8px;
      background: $main_gradient;
      text-align: center;

      &.important{
        background: $sub_color;
      }
    }
  }
  .sec-title{
    margin: 1em 0;
    font-size: 26px;
    font-weight: bold;
  }
  .sec-btn{
    max-width: 392px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: $main_gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    margin-top: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: 6px;
      background: $main_gradient;
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }
  @include media('tb') {
    padding-top: 60px;
    padding-bottom: 130px;

    
    .sec-btn{
      max-width: 280px;
      height: 67px;
      font-size: 20px;
      margin: 32px auto 0;
    }
  }
  @include media('sp') {
    padding-top: 40px;
    padding-bottom: 40px;

    .sec-top {
      gap: 0 24px;

      .bg{
        max-width: 254px;
        width: 100%;
        padding: 0 8px;
      }
    }
    .sec-title{
      font-size: 24px;
    }
    .sec-btn{
      max-width: 167px;
      height: 53px;
      font-size: 16px;
      margin: 24px auto 0;
    }
  }

  + #archive{
    .sec-inner{
      &::before{
        content: "";
        position: absolute;
        top: -14px;
        left: 2.4rem;
        display: block;
        width: calc(100% - 4.8rem);
        height: 14px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%221230%22%20height%3D%2214%22%20viewBox%3D%220%200%201230%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.128906%207C32.9022%20-1.66667%2073.8689%20-1.66667%20123.029%207C172.189%2015.6667%20213.156%2015.6667%20245.929%207C278.702%20-1.66667%20319.669%20-1.66667%20368.829%207C417.989%2015.6667%20458.956%2015.6667%20491.729%207C524.502%20-1.66667%20565.469%20-1.66667%20614.629%207C663.789%2015.6667%20704.756%2015.6667%20737.529%207C770.302%20-1.66667%20811.269%20-1.66667%20860.429%207C909.589%2015.6667%20950.556%2015.6667%20983.329%207C1016.1%20-1.66667%201057.07%20-1.66667%201106.23%207C1155.39%2015.6667%201196.36%2015.6667%201229.13%207%22%20stroke%3D%22url(%23paint0_linear_3635_54506)%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_3635_54506%22%20x1%3D%220.128906%22%20y1%3D%227%22%20x2%3D%221229.13%22%20y2%3D%227%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%2300A29A%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300C4BB%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E') center/cover no-repeat;
        
        @include media('sp') {
          top: -5px;
          height: 5px;
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22355%22%20height%3D%225%22%20viewBox%3D%220%200%20355%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.136719%202.5C9.57672%20-0.166666%2021.3767%20-0.166666%2035.5367%202.5C49.6967%205.16667%2061.4967%205.16667%2070.9367%202.5C80.3767%20-0.166666%2092.1767%20-0.166666%20106.337%202.5C120.497%205.16667%20132.297%205.16667%20141.737%202.5C151.177%20-0.166666%20162.977%20-0.166666%20177.137%202.5C191.297%205.16667%20203.097%205.16667%20212.537%202.5C221.977%20-0.166666%20233.777%20-0.166666%20247.937%202.5C262.097%205.16667%20273.897%205.16667%20283.337%202.5C292.777%20-0.166666%20304.577%20-0.166666%20318.737%202.5C332.897%205.16667%20344.697%205.16667%20354.137%202.5%22%20stroke%3D%22url(%23paint0_linear_3635_54534)%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_3635_54534%22%20x1%3D%220.136719%22%20y1%3D%222.5%22%20x2%3D%22354.137%22%20y2%3D%222.5%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%2300A29A%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300C4BB%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
        }
      }
    }
  }
}

#archive{
  .sec-inner{
    position: relative;
    padding-top: 79px;
    padding-bottom: 524px;
    position: relative;
    max-width: 127.8rem;
  }
  .sec-border{
    position: absolute;
    content: "";
    width: 100%;
    aspect-ratio: 1229/13;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    padding: 0 2.4rem;
  }
  .sec-nav{
    .nav-links{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 6px;
      margin-top: 40px;
    }
    .page-numbers{
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 41px;
      height: 41px;
      border: 1px solid;
      border-image: $main_gradient 1;
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: $main_gradient;
      color: transparent;
      font-family: $font_en;
      font-size: 26px;
      z-index: 2;

      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main_gradient;
        opacity: 0;
        transition: opacity .3s;
        z-index: -1;
      }
      &.prev,
      &.next{
        display: none;
        font-size: 0;
      }
      &.dots{
        border: none;
      }
      &:not(span):hover{
        background: #fff;
        -webkit-text-fill-color: #fff;

        &::before{
          opacity: 1;
        }
      }
      &.current{
        background: $main_gradient;
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #fff;

        &::before{
          opacity: 1;
        }
      }
    }
  }
  @include media('full') {
    .sec-inner{
      max-width: 1278px;
    }
  }
  @include media('tb') {
    .sec-inner{
      padding-top: 60px;
      padding-bottom: 337px;
    }
    .sec-nav{
      .nav-links{
        margin-top: 25px;
      }
    }
  }
  @include media('sp') {
    .sec-inner{
      padding-top: 40px;
      padding-bottom: 150px;
    }
    .sec-nav{
      .nav-links{
        margin-top: 8px;
      }
    }
  }
}