@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

.sec-container{
  box-shadow: 0 0 13px 2px #00A29A33;
  padding: 40px 20px 80px;
}
.sec-title{
  margin: 18px;
}
.section{
  &+.section{
    margin-top: 70px;
  }
}

#facilities{
  margin-top: 90px;

  .sec-box{
    display: flex;
    gap: 40px 24px;
    width: 74.1%;
    margin: 0 auto;

    &+.sec-box{
      margin-top: 40px;
    }
    .bg{
      display: inline-block;
      background: $green_color;
      color: $white_color;
      font-size: 2.4rem;
      line-height: 1.6;
      padding: 6px 16px;
      margin-top: 8px;
    }
  }
  .sec-text{
    margin-top: 42px;
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
  }
  .sec-banner{
    display: block;
    margin-top: 70px;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      width: 87px;
      height: 87px;
      bottom: 0;
      right: 0;
      background: url(../img/common/check.svg) center/contain no-repeat;
    }
  }
}
#course{

  .sec-box{
    width: 74.1%;
    margin: 0 auto;
  }
  .box-item{
    &+.box-item{
      margin-top: 40px;
    }
    .image{
      margin-bottom: 8px;
    }
    .texts{
      display: flex;
      align-items: center;
    }
    .course{
      font-size: 2.4rem;
      color: $white_color;
      line-height: 1.6;
      padding: 6px 24px;
      margin-right: 2.4rem;
      background: $green_color;
      display: inline-block;
    }
    .text{
      font-size: 2rem;
      line-height: 1.6;
      display: inline-block;
    }
  }
}
#system{
  padding-bottom: 540px;

  .sec-container{
    text-align: center;
  }
  .sec-text{
    display: inline-block;
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 58px;
  }
  .sec-box-top{
    width: 68.34%;
    border-radius: 50px;
    background: #B3EDEB;
    padding: 50px 20px;
    margin: 0 auto 58px;
    
    .top{
      width: 86.81%;
      margin: 0 auto;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      text-align: center;
      background: $green_color;
    }
    .box{
      width: 86.81%;
      margin: 8px auto 0;
      background: $white_color;
      padding: 15px 0 24px;
      text-align: center;
    }
    .tel{
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.8;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 10px;
    }
    .icon{
      width: 24px;
    }
    .time{
      font-size: 2.4rem;
      line-height: 1.8;
      display: inline-block;
      text-align: right;
    }
  }
  .sec-box-btm{
    background: #F5F5F5;
    width: 88.489%;
    margin: 0 auto;
    padding: 80px 20px;

    .box{
      margin: 0 auto;
      width: 86.6%;
      background: $white_color;
      border: 1px solid;
      border-image: $main_gradient 1;
      padding: 4rem;
    }
    .item{
      &+.item{
        margin-top: 40px;
      }
      &:nth-of-type(1){
        .bg::before{
          content: "";
          position: absolute;
          width: 17%;
          aspect-ratio: 162/199;
          right: .8rem;
          top: -60px;
          background: url(../img/school/system-img-1.png) center/contain no-repeat;
        }
      }
      &:nth-of-type(2){
        .bg::before{
          content: "";
          position: absolute;
          width: 17%;
          aspect-ratio: 162/176;
          left: 3.8rem;
          top: -60px;
          background: url(../img/school/system-img-2.png) center/contain no-repeat;
        }
      }
    }
    .bg{
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      background: $green_color;
      margin-bottom: 33px;
      position: relative;
    }
    .line{
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.8;
      margin-bottom: 24px;
      background: linear-gradient(transparent 56%, $accent_color 56% 98%, transparent 98%);
      display: inline;
    }
    .text{
      font-size: 1.8rem;
      line-height: 1.8;
      width: 86%;
      margin: 0 auto;
      text-align: left;
      padding-bottom: 24px;
    }
  }
  .sec-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.6%;
    // width: 100%;
    width: 59.6%;
    border-radius: 100px;
    background: #8CE3DE;
    font-size: 2.4rem;
    font-weight: 700;
    color: #084C49;
    line-height: 1.5;
    padding: 32px 80px 25px 8px;
    box-shadow: 4px 4px 0 2px #05615C;
    margin: 143px auto 0;
    position: relative;
    
    &::before{
      position: absolute;
      content: "";
      max-width: 189px;
      width: 22.18%;
      height: auto;
      bottom: 0;
      right: 42px;
      aspect-ratio: 1/1;
      background: url(../img/school/btn-img.png) center/contain no-repeat;
      z-index: 2;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:  url(../img/common/bg-dot-20.png) top center / 500px 250px repeat;
      border-radius: 100px;
    }
    .large{
      font-size: 4rem;
    }
    .txt{
      z-index: 3;
    }
    .icon{
      width: 75px;
      z-index: 3;
    }
  }
}