@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";

#pagetop{
  display: none !important;
}

#heading{
  .sec-inner{
    position: relative;

    .icon{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 117px;
      width: clamp(90px, 11.7rem, 117px);
      height: 117px;
      height: clamp(90px, 11.7rem, 117px);
      border-radius: 24px;
      background: $gra_gradient;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      z-index: 2;

      &::before{
        content: "";
        display: block;
        width: 49.57%;
        height: 44.44%;
        background: url(../img/common/price.svg) center/contain no-repeat;
      }
    }
  }
  @include media('tb') {
    .sec-inner{
      .icon{
        width: 90px;
        height: 90px;
      }
    }
  }
  @include media('sp') {
    .sec-inner{
      .icon{
        position: static;
        width: 48px;
        height: 48px;
        margin-top: 16px;
        margin-bottom: -24px;
        border-radius: 10px;
        transform: none;

        &::before{
          position: static;
          display: block;
          width: 58.33%;
          height: 58.33%;
          transform: none;
        }
      }
    }
  }
}

#access{
  margin: 134px auto 52.4rem;

  .sec-box{
    width: calc(100% - 60px);
    max-width: 143rem;
    box-shadow: 0 0 13px 2px #00A29A33;
    padding: 80px 30px;
  }
  .sec-inner{
    display: grid;
    grid-template-columns: 635fr 535fr;
    gap: 0 28px;
    max-width: 119.7rem;
    margin: 0 auto;
  }
  .sec-box-select{
    .title{
      background: $main_gradient;
      color: $white_color;
      font-weight: 700;
      width: 100%;
      text-align: center;
      display: block;
      margin: 21px 0;
      padding: 2px 16px;

      &:first-child{
        margin-top: 0;
      }
    }
    .box{
      border: 1px solid #0000001A;
      border-radius: 6px;
      box-shadow: 0 1px 3px #0000001A;
      padding: 22px;
    }
    .select-wrap{
      position: relative;
      .select{
        padding: 8px 35px 8px 11px;
        font-size: 16px;
        line-height: 1.125;
        font-weight: 400;
        border: 1px solid #0000001A;
        border-radius: 6px;
        background-color: $white_color;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        height: auto;
      }
      &::after{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: 15px;
        width: 5px;
        height: 5px;
        border-right: 1px solid #0A0A0A;
        border-bottom: 1px solid #0A0A0A;
      }
    }
    .item{
      + .item{
        margin-top: 14px;
      }
    }
    .top{
      display: flex;
      align-items: center;
      gap: 0 7px;
    }
    .check{
      display: inline-flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
    }
    .check input{
      appearance: none;
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      margin: 0;
      border-radius: 2px;
      border: 1px solid #767676;
      position: relative;
      cursor: pointer;
    }
    .check input:checked{
      background: $main_gradient;
      border: none;
    }
    .check input:checked::after{
      content: "";
      position: absolute;
      top: 1px;
      left: 6px;
      width: 7px;
      height: 14px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-radius: 2px;
      transform: rotate(45deg);
    }
    .border{
      display: inline-block;
      border: 1px solid #0000001A;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.35;
      padding: 0 9px;
      height: fit-content;
    }
    .text{
      font-size: 16px;
      font-weight: 400;
      color: #717182;
    }
    .bold{
      font-weight: 700;
    }
    .col{
      color: $accent_color;
    }
  }
  .sec-box-result{
    background: $sub_color;
    border-radius: 14px;
    height: fit-content;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 21px 0;

    .top{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-size: clamp(24px, 3.2rem, 32px);
      font-weight: 700;
      gap: 0 8px;
    }
    .icon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 9px;
      background: $gra_gradient;
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 51.11%;
        height: 44.44%;
        background: url(../img/common/price.svg) center/contain no-repeat;
      }
    }
    .box{
      background: $white_color;
      border-radius: 10px;
      padding: 2rem;
    }
    .bg{
      font-size: 16px;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      padding: 3px 16px;
      
      &:first-child{
        margin-top: 0;
      }
      &-p{
        background: $sub_color;
      }
      &-y{
        background: $accent_color;
      }
    }
    .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.2;
      margin-top: 10px;
      min-height: 39px;
      padding: 6px 0;
      border-bottom: 1px solid #F3F4F6;

      + .item{
        margin-top: 0;
      }
    }
    .small{
      color: #717182;
      font-size: 12px;
      font-weight: 400;
    }
    .text{
      font-size: 16px;
    }
    .price{
      font-size: 16px;
      font-weight: 700;
    }
    .result{
      font-size: 42px;
      font-weight: 700;
      text-align: center;
      margin-top: 7px;
      line-height: 1;
    }
    .btn{
      background: $gra_gradient;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      gap: 0 7px;
      height: 80px;
      padding: 16px;
      transition: opacity .3s;
      cursor: pointer;

      &:hover{
        opacity: .63;
      }
      img{
        width: 24px;
      }
    }
  }
   .sec-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.6%;
    // width: 59.6%;
    width: 85.2rem;
    min-width: 852px;
    border-radius: 100px;
    background: #8CE3DE;
    font-size: 24px;
    font-weight: 700;
    color: #084C49;
    line-height: 1.5;
    padding: 32px 80px 25px 8px;
    box-shadow: 4px 4px 0 2px #05615C;
    margin: 10.7rem auto 0;
    position: relative;
    transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow .3s cubic-bezier(0.45, 0, 0.55, 1);

    &:hover{
      transform: translate(2px, 2px);
      box-shadow: none;
    }
    
    &::before{
      position: absolute;
      content: "";
      max-width: 189px;
      width: 22.18%;
      height: auto;
      bottom: 0;
      right: 20px;
      aspect-ratio: 1/1;
      background: url(../img/simulation/btn-img.png) center/contain no-repeat;
      z-index: 2;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:  url(../img/common/bg-dot-20.png) top center / 500px 250px repeat;
      border-radius: 100px;
    }
    .large{
      font-size: 40px;
    }
    .txt{
      z-index: 3;
    }
    .icon{
      width: 68px;
      z-index: 3;
    }
  }
  .sec-price{
    display: none;
  }
  @include media('full') {
    .sec-box{
      max-width: 1430px;
    }
    .sec-inner{
      max-width: 1197px;
    }
  }
  @include media('tb'){
    margin-top: 85px;
    .sec-box{
      width: 100%;
    }
    .sec-inner{
      grid-template-columns: 1fr;
      gap: 4.5vw;
    }
    .sec-btn{
      width: 630px;
      min-width: 0;
      font-size: 20px;
      gap: 0 15px;

      &::before{
        bottom: -1px;
        right: 4%;
        width: 180px;
        max-width: 100%;
      }
      .icon{
        width: 53px;
      }
      .large{
        font-size: 30px;
      }
    }
  }
  @include media('sp'){
    margin-top: 40px;
    margin-bottom: 170px;
    padding-bottom: 40px;
    box-shadow: 0 0 13px 2px rgba(0, 162, 154, 0.2);

    .sec-box{
      padding: 40px 2.4rem 0;
      box-shadow: none;

      &-select{
        .title{
          padding: 5px 16px;
          font-size: 18px;
        }
        .box{
          padding: 16px;
        }
        .item{
          + .item{
            margin-top: 16px;
          }
        }
        .text{
          padding-left: 1.6em;
        }
      }
    }
    .sec-btn{
      width: calc(100% - 4.8rem);
      max-width: 420px;
      margin-top: 40px;
      padding: 15px 80px 14px 0;
      box-shadow: 1px 1px 0 0 #05615C;
      font-size: 1.6rem;

      &:hover{
        transform: translate(1px, 1px);
      }
      &::before{
        right: 20px;
        width: 112px;
      }
      .icon{
        width: 3.9rem;
      }
      .large{
        font-size: 2rem;
      }
    }
    .sec-box-result{
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      height: auto;

      .top{
        font-size: 24px;
      }
      .icon{
        width: 32px;
        height: 32px;

        &::before{
          width: 16px;
          height: 15px;
        }
      }
      .item{
        padding: 8px 0;
      }
      .result{
        margin-top: 10px;
        padding: 6px 0 8px;
        font-size: 4rem;
      }
      .btn{
        gap: 0 10px;
        height: 87px;
        font-size: 26px;

        img{
          width: 26px;
        }
      }
    }
  }
}

#sp-price{
  display: none;

  @include media('tc') {
    display: none !important;
  }
  
  @include media('sp') {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 5px;
    background: $sub_color;
    font-size: 1.6rem;
    z-index: 10;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    &:hover{
      .apply{
        opacity: .63 !important;
      }
    }
    .inner{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 5vw;
      height: 66px;
    }
    .total{
      width: 6.4rem;
    }
    .price{
      font-size: 3.2rem;
      font-weight: 900;
    }
    .apply{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 .8rem;
      width: 10rem;
      height: 50px;
      background: $gra_gradient;
      border: 2px solid #fff;
      border-radius: 9px;
      transition: opacity .3s;

      &::before{
        content: "";
        display: block;
        width: 2.7rem;
        height: 2.7rem;
        background: url(../img/common/bus-icon.png) center/contain no-repeat;
      }
    }
  }
}