@charset "UTF-8";
@import "Foundation/variable";
@import "Foundation/mixin";
#types {
  padding-bottom: 52rem;

  .sec-box{
    // max-width: 1230px;
    width: 86.5%;
    max-width: 100%;
    margin: 83px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    .box-item{
      width: 100%;
      border: 2px solid;
      border-image: $main_gradient 1;

      .image{
        position: relative;
        padding-top: 42.83%;
        // aspect-ratio: 600/257;
        width: 100%;

        &-yellow{
          background: #FEF0C6;
        }
        &-blue{
          background: #60D7EA;
        }
        &-green{
          background: #E7F9F8;
        }
        &-purple{
          background: #DCC7F5;
        }

        img{
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .btm-btn{
        position: relative;
        width: 100%;
        // min-height: 9rem;
        // height: fit-content;
        background: $green_dark_color;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 5.3%;
        // padding: 1em 16px;
        height: 9rem;
        min-height: 3em;
        font-size: 24px;
        font-weight: 700;
        overflow: hidden;
        z-index: 2;

        .txt{
          color: $white_color;
          transition: color .2s cubic-bezier(0.45, 0, 0.55, 1);
        }
        .arrow{
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-w.svg") center / contain no-repeat;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 110%;
          height: 300%;
          background: #fff;
          transform: skewY(-10deg) scale(1, 0);
          transform-origin: left top;
          transition: transform .2s cubic-bezier(0.45, 0, 0.55, 1);
          z-index: -1;
        }
      }
    }

    a:hover {
      .btm-btn {
        &::before {
          transform: skewY(-10deg) scale(1, 1);
        }
        .txt {
          color: $green_dark_color;
        }
        .arrow {
          background-image: url(../img/common/arrow-g.svg);
        }
      }
    }
  }

  @include media('tb') {
    padding-bottom: 40rem;

    .sec-box{
      width: 100%;

      .box-item{
        .btm-btn{
          height: auto;
          min-height: 0;
          padding: 3px;
          font-size: 16px;
        }
      }
    }
  }
  @include media('sp') {
    padding-bottom: 170px;

    .sec-box{
      gap: 8px;
      margin-top: 40px;

      .box-item{
        .image{
          padding-top: 51.83%;
        }
        .btm-btn{
          .arrow{
            width: 11px;
            height: 11px;
          }
        }
      }
    }
  }
}