#footer{

  .sec-inner{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
  .sec-box-top{
    position: relative;
    
    .box-image{
      display: flex;
      height: 537px;
      margin-left: -99px;
      width: calc(100% + 99px);
    }
    .box-list{
      max-width: 1470px;
      margin: -151px auto 85px;
      padding: 0 20px;
      width: 100%;
      display: flex;
    }
    .box-item{
      width: 100%;
      height: 111px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 10px;
      padding: 0 16px;

      .icon-l{
        width: 20px;
      }
      .icon-r{
        width: 24px;
      }
      .text{
        font-size: 16px;
        font-weight: 700;
      }
      &:nth-of-type(1){
        background: $green_light_color;
      }
      &:nth-of-type(2){
        background: $main_gradient;
      }
      &:nth-of-type(3){
        background: $gra_gradient;
      }
    }
  }
  .sec-box-mid{
    display: grid;
    grid-template-columns: 352fr 996fr;
    gap: 0 5.6%;
    align-items: flex-start;
    margin-bottom: 139px;

    .box-left{
      max-width: 352px;
      padding-top: 40px;
    }
    .box-right{
      display: flex;
      gap: 0 2.4%;

      .column{
        width: 100%;
      }
      .list{
        &:not(:nth-of-type(1)){
          margin-top: 73px;
        }
      }
      .top{
        display: flex;
        gap: 0 5%;
        background: $main_gradient;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 12% 10px 8.5%;
        color: $white_color;
        position: relative;
        margin-bottom: 16px;
        border-radius: 2px;

        &-i{
          padding-left: 63px;
            .image{
              position: absolute;
              bottom: 0;
              left: 6px;
              width: 60px;
            }
        }
        &-l{
          padding: 0;
          justify-content: center;
          margin-top: 35px;

          .container{
            max-width: 228px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 59px;
            position: relative;
            height: 56px;
          }

          .image{
            position: absolute;
            bottom: 0;
            left: 6px;
            width: 50px;
          }
        }
        .icon{
          width: 24px;
        }
        .arrow{
          position: absolute;
          right: 6.9%;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-w.svg") center / contain no-repeat;
        }
        .text{
          position: relative;
          z-index: 2;
        }
      }
      .item{
        font-size: 16px;
        font-weight: 700;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid;
        border-image: $main_gradient 1;
        padding: 5px 10px;
        position: relative;

        &-e{
          height: 40px;
          border-bottom: none;
        }
      }
    }
  }
  .sec-box-btm{
    
  }
}