#footer{
  
  .sec-inner{
    width: 100%;
    margin: 0 auto;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 446px;
      top: -484px;
      background:  url(../img/common/bg-dot-20.png) top left / 465px 233px repeat;
      z-index: 2;
    }
    .pagetop{
      position: absolute;
      height: 172px;
      right: 71px;
      bottom: 50px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      writing-mode: vertical-rl;
      border-left: 2px solid;
      border-image: $main_gradient 1;
      text-align: end;
      display: inline-block;
    }
  }
  .sec-bg{
    position: absolute;
    width: 100%;
    height: 500px;
    top: -272px;
    left: 0;

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 68.5rem;
      top: -24rem;
      background:  url(../img/common/fig-footer-1.png) center / cover no-repeat;
      z-index: 3;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 463px;
      top: 0;
      background:  url(../img/common/fig-footer-2.png) center / cover no-repeat;
      z-index: 2;
    }
  }
  .sec-box-top{
    position: relative;
    
    .box-image{
      display: flex;
      height: 53.7rem;
      margin-left: -10rem;
      width: calc(100% + 10rem);
    }
    .box-list{
      max-width: 147rem;
      margin: -15rem auto 8.5rem;
      padding: 0 20px;
      width: 100%;
      display: flex;
    }
    .box-item{
      width: 100%;
      height: 11rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 1rem;
      padding: 0 16px;

      .icon-l{
        width: 20px;
      }
      .icon-r{
        width: 24px;
      }
      .text{
        font-size: 16px;
        font-weight: 700;
      }
      &:nth-of-type(1){
        background: $green_light_color;
      }
      &:nth-of-type(2){
        background: $main_gradient;
      }
      &:nth-of-type(3){
        background: $gra_gradient;
      }
    }
  }
  .sec-box-mid{
    display: grid;
    grid-template-columns: 352fr 996fr;
    gap: 0 5.6%;
    align-items: flex-start;
    margin-bottom: 57px;

    .box-left{
      max-width: 352px;
      padding-top: 40px;
    }
    .box-right{
      display: flex;
      gap: 0 2.4%;

      .column{
        width: 100%;
      }
      .list{
        &:not(:nth-of-type(1)){
          margin-top: 73px;
        }
      }
      .top{
        display: flex;
        gap: 0 5%;
        background: $main_gradient;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 12% 10px 8.5%;
        color: $white_color;
        position: relative;
        margin-bottom: 16px;
        border-radius: 2px;

        &-i{
          padding-left: 63px;
            .image{
              position: absolute;
              bottom: 0;
              left: 6px;
              width: 60px;
            }
        }
        &-l{
          padding: 0;
          justify-content: center;
          margin-top: 35px;

          .container{
            max-width: 228px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 59px;
            position: relative;
            height: 56px;
          }

          .image{
            position: absolute;
            bottom: 0;
            left: 6px;
            width: 50px;
          }
        }
        .icon{
          width: 24px;
        }
        .arrow{
          position: absolute;
          right: 6.9%;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-w.svg") center / contain no-repeat;
        }
        .text{
          position: relative;
          z-index: 2;
        }
      }
      .item{
        font-size: 16px;
        font-weight: 700;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid;
        border-image: $main_gradient 1;
        padding: 5px 10px;
        position: relative;

        &-e{
          height: 40px;
          border-bottom: none;
        }
      }
    }
  }
  .sec-box-btm{
    padding: 82px 20px 51px ;
    position: relative;
    overflow: hidden;

    &::before{
      position: absolute;
      content: "";
      width: calc(100% + 99px);
      height: 100%;
      left: -99px;
      bottom: 0;
      background:  linear-gradient(180deg, rgba(0, 162, 154, 0.02),rgba(0, 162, 154, 0.08));
      z-index: -2;
    }
    &::after{
      position: absolute;
      content: "";
      width: calc(100% + 99px);
      height: calc(100% + 79px);
      left: -99px;
      top: 0;
      background:  url(../img/common/bg-dot.png) center / contain repeat;
      z-index: -1;
    }
    .box{
      justify-content: left;
      font-size: 12px;
      font-weight: 700;
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      gap: 0 24px;
    }
    
  }
}