#footer{
  
  .sec-inner{
    width: 100%;
    margin: 0 auto;
    position: relative;

    .pagetop{
      position: fixed;
      height: 172px;
      right: 7rem;
      bottom: 5rem;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      writing-mode: vertical-rl;
      border-left: 2px solid;
      border-image: $main_gradient 1;
      text-align: end;
      display: none;
      z-index: 100;
    }
  }
  .sec-bg{
    position: absolute;
    width: 100%;
    height: 50rem;
    top: -27rem;
    left: 0;

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 68.5rem;
      top: -24rem;
      background:  url(../img/common/fig-footer-1.png) center / cover no-repeat;
      z-index: 3;
      pointer-events: none;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 46.3rem;
      top: 0;
      background:  url(../img/common/fig-footer-2.png) center / cover no-repeat;
      z-index: 2;
    }
  }
  .sec-box-top{
    position: relative;
    
    .box-image{
      display: flex;
      height: 53.7rem;
      margin-left: -10rem;
      width: calc(100% + 10rem);
    }
    .box-list{
      max-width: 147rem;
      margin: -15rem auto 8.5rem;
      padding: 0 20px;
      width: 100%;
      display: flex;

      @include media('full') {
        max-width: 1470px;
      }
    }
    .box-item{
      width: 100%;
      height: 11rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 1rem;
      padding: 0 16px;

      .icon-l{
        width: 20px;
      }
      .icon-r{
        width: 24px;
      }
      .text{
        font-size: 16px;
        font-weight: 700;
      }
      &:nth-of-type(1){
        background: $green_light_color;
      }
      &:nth-of-type(2){
        background: $main_gradient;
      }
      &:nth-of-type(3){
        background: $gra_gradient;
      }

      >* {
        transition: opacity .3s;
      }

      &:hover {
        > * {
          opacity: .63;
        }
      }
    }
  }
  .sec-box-mid{
    display: flex;
    justify-content: space-between;
    // grid-template-columns: 352fr 996fr;
    gap: 0 3%;
    align-items: flex-start;
    margin-bottom: 57px;

    .box-left{
      width: 35.2rem;
      padding-top: 40px;
    }
    .box-right{
      width: 100%;
      max-width: 996px;
      max-width: clamp(996px, 99.6rem, 99.6rem);
      display: flex;
      gap: 0 2.4%;

      .column{
        width: 100%;
      }
      .list{
        &:not(:nth-of-type(1)){
          margin-top: 73px;
        }
      }
      .top{
        position: relative;
        display: flex;
        gap: 0 5%;
        background: $main_gradient;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 12% 10px 8.5%;
        color: $white_color;
        position: relative;
        margin-bottom: 16px;
        border-radius: 2px;
        z-index: 1;

        &:hover {
          .text {
            background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }

          .bg::before {
            transform: skewY(-10deg) scale(1, 1);
          }

          .arrow {
            background-image: url(../img/common/arrow-g.svg);
          }
        }

        .bg {
          position: absolute;
          top: 1px;
          left: 1px;
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          overflow: hidden;
          z-index: -1;
          border-radius: inherit;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300%;
            background: #fff;
            transform: skewY(-10deg) scale(1, 0);
            transform-origin: left top;
            transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
          }
        }

        &-i{
          padding-left: 63px;
            .image{
              position: absolute;
              bottom: 0;
              left: 6px;
              width: 60px;
            }
        }
        &-l{
          padding: 0;
          justify-content: center;
          margin-top: 35px;

          .container{
            max-width: 228px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 59px;
            position: relative;
            height: 56px;
          }

          .image{
            position: absolute;
            bottom: 0;
            left: 6px;
            width: 50px;
          }
        }
        .icon{
          width: 24px;
          height: auto
        }
        .arrow{
          position: absolute;
          right: 6.9%;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-w.svg") center / contain no-repeat;
        }
        .text{
          position: relative;
          z-index: 2;
        }
      }
      .item{
        position: relative;
        display: block;
        font-size: 16px;
        font-weight: 700;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid;
        border-image: $main_gradient 1;
        padding: 5px 10px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          height: 1px;
          width: 100%;
          background: $accent_color;
          transform: scaleX(0);
          transition: transform 0.6s cubic-bezier(0.2, 1, 0.21, 1);
          z-index: 2;
        }
        &:hover::before {
          transform: scaleX(1);
        }

        &-e{
          height: 40px;
          border-bottom: none;
          pointer-events: none;
        }
      }
    }
  }
  .sec-box-btm{
    padding: 82px 20px 51px ;
    position: relative;
    overflow: hidden;

    &::before{
      position: absolute;
      content: "";
      width: calc(100% + 99px);
      height: 100%;
      left: -99px;
      bottom: 0;
      background:  linear-gradient(180deg, rgba(0, 162, 154, 0.02),rgba(0, 162, 154, 0.08));
      z-index: -2;
    }
    &::after{
      position: absolute;
      content: "";
      width: calc(100% + 99px);
      height: calc(100% + 79px);
      left: -99px;
      top: 0;
      background:  url(../img/common/bg-dot.png) center / contain repeat;
      z-index: -1;
    }
    .box{
      justify-content: left;
      font-size: 12px;
      font-weight: 700;
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      gap: 0 24px;
    }
    
  }
  @include media('tb') {
    .sec-inner{
      .pagetop{
        right: 19px;
        bottom: 55px;
        height: 132px;
      }
    }
    .sec-box-mid{
      justify-content: center;
      margin-bottom: 0;

      .box-left{
        width: 26rem;
        padding: 0;
      }
    }

  }
  @include media('sp') {
    .sec-bg{
      top: -110px;
      height: 306px;

      &::before{
        top: -150px;
        height: 400px;
      }
      &::after{
        height: 60%;
      }
    }
    .sec-box-top {
      .box-list{
        flex-direction: column;
        margin-top: -35px;
        margin-bottom: 0;
      }
      .box-item{
        height: 80px;
      }
      .box-image{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;

        .image{
          height: 44.5vw;
        }
      }
    }
    .sec-box-mid{
      margin-top: 12.5vw;
    }
    .sec-box-btm{
      padding: 10.5vw 0 21px;
      overflow: hidden;

      .box{
        flex-direction: column;
        font-size: 3vw;
        font-size: clamp(0px, 3vw, 12px);
        white-space: nowrap;
      }
      .copyright{
        display: block;
        margin-top: 1em;
      }
    }
  }
}