#header{
  position: fixed;
  top: 0;
  height: 88px;
  width: 100%;
  z-index: 100;

  .sec-inner{
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
  }
  .sec-box{
    margin-left: 100px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1655px;
  }
  .sec-logo{
    min-width: 192px;
    padding: 4px 0;
  }
  .sec-list-1{
    display: flex;
    justify-content: space-around;
    gap: 8px;
    align-items: center;
    max-width: 881px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 0 24px;
  }
  .sec-list-2{
    display: flex;
   
    .list-item{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 10px;
      padding: 10px;
      height: 100%;
      width: 100%;

      &.i-1{
        width: 182px;
        background: $green_light_color;
      }
      &.i-2{
        width: 160px;
        background: $main_gradient;
      }
      &.i-3{
        width: 160px;
        background: $gra_gradient;
      }
      .icon{
        width: 24px;
      }
      .text{
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

