#header{
  position: fixed;
  top: 0;
  height: 88px;
  width: 100%;
  z-index: 250;
  // background: $white_color;
  
  .sec-inner{
    position: relative;
    // max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;    

    &::before{
      position: absolute;
      content: "";
      width: calc(100% - 10rem);
      height: 100%;
      left: 10rem;
      top: 0;
      background: $white_color;
    }
  }
  .sec-box{
    margin-left: 10rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 165.5rem;

    @include media('full') {
      max-width: 1655px;
    }
  }
  .sec-logo{
    display: block;
    width: 192px;
    max-width: 8vw;
    flex-shrink: 0;
    padding: 4px 0;
  }
  .sec-list-1{
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: .8rem;
    align-items: center;
    max-width: 880px;
    width: 100%;
    font-size: 16px;
    font-size: clamp(14px, 1.3vw, 16px);
    font-weight: 700;
    padding: 0 2.4rem;
    
    > li{
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;

      &.active {
        .children {
          z-index: 2;
        }
      }

      > a {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    .children {
      position: absolute;
      top: calc(100% + 1rem);
      left: 50%;
      display: none;
      min-width: 200px;
      padding: 2.4rem 2rem 4rem;
      transform: translateX(-50%);
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 0 13px #00a29a33;

      a {
        display: block;
        padding: .5rem 1rem;
        background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
        background-clip: text;
        -webkit-background-clip: text;
        border-bottom: 1px solid;
        border-image: $main_gradient 1;
        color: transparent;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
  .sec-list-2{
    display: flex;
   
    .list-item{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;
      padding: 1rem;
      height: 100%;
      width: 100%;
      font-size: 16px;
      font-size: clamp(14px, 1.3vw, 16px);
      font-weight: 700;
      white-space: nowrap;

      &.i-1{
        width: 182px;
        width: clamp(0px, 15vw, 182px);
        background: $green_light_color;
      }
      &.i-2{
        width: 160px;
        width: clamp(0px, 10vw, 160px);
        background: $main_gradient;
      }
      &.i-3{
        width: 160px;
        width: clamp(0px, 10vw, 160px);
        background: $gra_gradient;
      }
      .icon{
        width: 1.5em;
      }
    }
  }
  @include media('tb') {
    background: #fff;
    height: 62px;

    .sec-inner{
      
      &::before{
        position: absolute;
        content: "";
        width: calc(100% - 60px);
        height: 100%;
        left: 0;
        top: 0;
        background: $white_color;
      }
    }
    .sec-box{
      margin-left: 0;
      margin-right: 60px;
    }
    .sec-logo{
      min-width: auto;
      max-width: 125px;
      width: 100%;
    }
    .sec-list-1{
      justify-content: right;
      padding: 0;

      .item{
        display: none;

        
        &-tb{
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 700;
          line-height: 1.2;
          background: $main_gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          padding: 0 8px;
          border-left: 1px solid;
          border-right: 1px solid;
          border-image: $main_gradient 1;
          height: 100%;
        }
      }
    }
  }
  @include media('sp') {
  }
}

