#header{
  position: fixed;
  left: 100px;
  top: 0;
  height: 88px;
  width: calc(100% - 100px);
  background: #fff;
  display: flex;
  justify-content: flex-end;

  .sec-inner{
    display: flex;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    max-width: 1655px;
  }
  .sec-logo{
    max-width: 192px;
  }
  .sec-list-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 881px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 0 24px;
  }
  .sec-list-2{
    display: flex;
   
    .list-item{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 10px;
      padding: 10px;
      height: 100%;
      width: 100%;
      max-width: 182px;

      &.i-1{
        max-width: 160px;
        background: $green_color;
      }
      &.i-2{
        max-width: 160px;
        background: linear-gradient(to right, $main_color, $main_light_color);
      }
      &.i-3{
        max-width: 180px;
        background: linear-gradient(to right, $accent_color, $accent_light_color);
      }

      .icon{
        width: 24px;

      }
      .text{
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

#mv{
  margin-top: 100px;
}