#nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;

  .sec-inner{
    // max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .sec-box{
    width: 10rem;
    height: 100vh;
    background: rgba($color: #fff, $alpha: .88);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sec-top{
    width: 100%;
    min-height: 88px;
    padding: 1.1rem 0;
    padding: clamp(11px, 1.1rem, 1.1rem) 0;
    cursor: pointer;
    
    .text{
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1;
      margin-bottom: 1rem;
    }
    .btn{
      width: 6.2rem;
      height: 3.4rem;
      // height: 6.2rem;
      margin: 0 auto;
      position: relative;

      span{
        position: absolute;
        left: calc(50% - 2.6rem);
        top: calc(50% - .2rem);
        display: block;
        width: 5.2rem;
        height: .4rem;
        border-radius: 2px;
        background: $main_gradient;

        &:nth-of-type(1){
          transform: translateY(-1rem);
        }
        &:nth-of-type(3){
          transform: translateY(1rem);
        }
      }
    }
  }
  .sec-mid{
    position: absolute;
    width: 8.5rem;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    background: $gra_gradient;
    border-radius: 0 24px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 2.6rem 0;
    justify-content: center;
    align-items: center;
    padding: 3.9rem 0 5.2rem;

    .icon{
      max-width: 33px;
      width: 100%;
    }
    .text{
      writing-mode: vertical-rl;
      font-size: 2.4rem;
      font-size: clamp(16px, 2.4rem, 2.4rem);
      font-weight: 700;
      letter-spacing: .06em;
    }
  }
  @include media('tb') {
    .sec-box{
      width: 60px;
      height: 62px;
      background: rgba($color: #fff, $alpha: 1);
      left: auto;
      right: 0;
    }
    .sec-top{
      width: 100%;
      height: 100%;
      
      .text{
        font-size: 14px;
        margin-bottom: 2px;
      }
      .btn{
        width: 50px;
        height: 26px;

        span{
          left: calc(50% - 20px);
          top: calc(50% - 1px);
          width: 40px;
          height: 3px;
          background: $accent_color;

          &:nth-of-type(1){
            transform: translateY(-8px);
          }
          &:nth-of-type(3){
            transform: translateY(8px);
          }
        }
      }
    }
    .sec-mid{
      display: none;
    }
  }
  @include media('sp') {
  }
}