#nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;

    .sec-inner{
    // max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .sec-box{
    width: 10rem;
    height: 100vh;
    background: rgba($color: #fff, $alpha: .88);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sec-top{
    width: 100%;
    min-height: 88px;
    padding: 1.1rem 0;
    padding: clamp(11px, 1.1rem, 1.1rem) 0;
    cursor: pointer;

    &.active {
      .text::before {
        content: "CLOSE";
      }
      .btn span {
        &:nth-of-type(1){
          transform: translateY(0) rotate(30deg);
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:nth-of-type(3){
          transform: translateY(0) rotate(-30deg);
        }
      }
    }

    .text{
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      background: $main_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1;
      margin-bottom: 1rem;

      &::before {
        content: "MENU";
      }
    }
    .btn{
      width: 6.2rem;
      height: 3.4rem;
      // height: 6.2rem;
      margin: 0 auto;
      position: relative;

      span{
        position: absolute;
        left: calc(50% - 2.6rem);
        top: calc(50% - .2rem);
        display: block;
        width: 5.2rem;
        height: .4rem;
        border-radius: 2px;
        background: $main_gradient;
        transition: transform .3s, opacity .3s;

        &:nth-of-type(1){
          transform: translateY(-1rem);
        }
        &:nth-of-type(3){
          transform: translateY(1rem);
        }
      }
    }
  }
  .sec-mid{
    position: absolute;
    width: 8.5rem;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    background: $gra_gradient;
    border-radius: 0 24px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 2.6rem 0;
    justify-content: center;
    align-items: center;
    padding: 3.9rem 0 5.2rem;

    .icon{
      max-width: 33px;
      width: 100%;
    }
    .text{
      writing-mode: vertical-rl;
      font-size: 2.4rem;
      font-size: clamp(16px, 2.4rem, 2.4rem);
      font-weight: 700;
      letter-spacing: .06em;
    }
  }
  @include media('tb') {
    .sec-box{
      width: 60px;
      height: 62px;
      // background: rgba($color: #fff, $alpha: 1);
      background: transparent;
      left: auto;
      right: 0;
    }
    .sec-top{
      width: 100%;
      height: 100%;

      &.active {
        .text {
          background-image: linear-gradient(0deg, #fff, #fff);

        }
        .btn span {
          background: #fff;
        }
      }
      
      .text{
        font-size: 14px;
        margin-bottom: 2px;
      }
      .btn{
        width: 50px;
        height: 26px;

        span{
          left: calc(50% - 20px);
          top: calc(50% - 1px);
          width: 40px;
          height: 3px;
          background: $accent_color;

          &:nth-of-type(1){
            transform: translateY(-8px);
          }
          &:nth-of-type(3){
            transform: translateY(8px);
          }
        }
      }
    }
    .sec-mid{
      display: none;
    }
  }
  @include media('sp') {
  }
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: calc(100lvh + 100px);
  padding: 0 0 100px 10rem;
  background: $main_gradient;
  z-index: 280;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }

  .sec-inner {
    position: relative;
    min-height: 100%;
    padding: 60px 24px 180px;
    font-size: 16px;
  }

  .sec-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .sec-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    max-width: 800px;
    margin: 0 auto;
  }
  .sec-box {
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    background: #fff;
    border-radius: 4px;
    text-align: center;

    .children {
      position: relative;
      height: 100%;
      margin-top: 15px;
      padding: 10px 24px 16px;
      background: $main_gradient;
      border-radius: 4px;
      z-index: 2;
      color: #fff;
      font-weight: bold;
      
      a {
        position: relative;
        display: block;
        padding: 4px 0;
        border-bottom: 1px solid #fff;

        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          height: 1px;
          width: 100%;
          background: $accent_color;
          transform: scaleX(0);
          transition: transform 0.6s cubic-bezier(0.2, 1, 0.21, 1);
          z-index: 2;
        }
        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }

  .sec-top {
    position: relative;
    display: block;
    padding: 2px 0;
    background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 6px;
      width: 16px;
      height: 1.7em;
      background: url(../img/common/arrow-g.svg) center/contain no-repeat;
    }

    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 16px;
      vertical-align: -5px;
    }
    .image {
      position: absolute;
      display: inline-block;

      &-1 {
        bottom: -15px;
        left: 42px;
        width: 82px;
        height: 81px;
        margin-right: 22px;
      }
      &-2 {
        bottom: -12px;
        left: 45px;
        width: 50px;
        height: calc(100% + 42px);
      }
    }
  }

  .sec-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 158px;
    background: url('../img/common/bg-menu.png') top/100% 100% no-repeat;

    &::before {
      content: "";
      position: absolute;
      bottom: 57px;
      left: 0;
      display: block;
      width: 100%;
      height: 31px;
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22453%22%20height%3D%2231%22%20viewBox%3D%220%200%20453%2031%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2015.5H453%22%20stroke%3D%22%23E0E0E0%22%20stroke-width%3D%2231%22%2F%3E%3Cpath%20d%3D%22M0%2015.5H453%22%20stroke%3D%22%23FFB400%22%20stroke-dasharray%3D%222%202%22%2F%3E%3C%2Fsvg%3E') left/contain repeat-x;
    }
    &::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 8rem;
      width: 119px;
      height: 80px;
      background: url('../img/common/img-menu.png') center/contain no-repeat;
      z-index: 2;
    }
  }
  @include media('tb') {
    padding-left: 0;

    .sec-inner {
      padding-top: 100px;
    }
  }
  @include media('sp') {

    .sec-inner {
    }
    .sec-boxes {
      grid-template-columns: 1fr;
      max-width: 336px;
    }
  }
}