.sec-container {
  box-shadow: 0 0 13px 2px rgba(0, 162, 154, 0.2);
  padding: 40px 24px 80px;
  background: #FFF;
}
@media only screen and (max-width: 768px) {
  .sec-container {
    padding-bottom: 40px;
  }
}

.js-ac-btn.active .plus-btn::after {
  opacity: 0;
}

.plus-btn {
  position: absolute;
  background: #FFF;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.plus-btn::before, .plus-btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform-origin: center;
  background: #333;
  transition: all 0.3s;
}
.plus-btn::before {
  transform: translateX(-50%) translateY(-50%);
}
.plus-btn::after {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
@media only screen and (max-width: 768px) {
  .plus-btn {
    width: 34px;
    height: 34px;
  }
  .plus-btn::before, .plus-btn::after {
    width: 22px;
    height: 2px;
  }
}

.js-ac-btn.active .plus-btn::after {
  content: none;
}

#top .sec-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 312px;
  margin-top: 88px;
  background: url(../img/flow/top-bg.png) center 65%/cover no-repeat;
}
#top .sec-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  opacity: 0.7;
}
#top .sec-inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27.24%;
  background: url(../img/common/bg-dot.png) top left/auto 260% repeat-x;
  opacity: 0.55;
}
#top .sec-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  position: relative;
  z-index: 3;
  margin: 0;
  padding-top: 7rem;
}
@media print, screen and (max-width: 1024px) {
  #top .sec-inner {
    margin-top: 62px;
  }
  #top .sec-title {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  #top .sec-inner {
    height: 200px;
  }
  #top .sec-title {
    font-size: 3.2rem;
  }
}

#flow {
  position: relative;
}
#flow::before {
  position: absolute;
  content: "";
  width: 100%;
  aspect-ratio: 2880/756;
  left: 0;
  top: 240px;
  background: url(../img/flow/section-bg.png) center/cover no-repeat;
  z-index: -2;
}
#flow .sec-inner {
  padding-top: 81px;
  padding-bottom: 524px;
}
#flow .sec-container {
  max-width: 143rem;
  margin: 0 auto;
  padding: 8rem 10rem;
}
#flow .sec-box + .sec-box {
  margin-top: 18px;
}
#flow .sec-box .box-top {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  padding: 24px 16px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1), background 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  background: #C4A1EC;
  box-shadow: 4px 4px 0 2px #5B3882;
  margin-bottom: 18px;
}
#flow .sec-box .box-top:hover {
  background: #7F54B1;
}
#flow .sec-box .box-top:not(.active):hover {
  transform: translate(4px, 4px);
  box-shadow: none !important;
}
#flow .sec-box .box-top.active {
  box-shadow: none !important;
}
#flow .sec-box .box-top .txt {
  display: inline-block;
  position: relative;
}
#flow .sec-box .box-top .txt img {
  position: absolute;
  width: 100px;
  aspect-ratio: 100/78;
  top: 50%;
  transform: translateY(-50%);
  left: -114px;
}
#flow .sec-box .box-top .plus-btn {
  right: 9.3%;
}
#flow .sec-box .box-top-green {
  background: #00C4BB;
  box-shadow: 4px 4px 0 2px #05615C;
}
#flow .sec-box .box-top-green:hover {
  background: #00867F;
}
#flow .sec-box .box-top .tag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15.12%;
  font-size: 16px;
  font-weight: 700;
  background: #F5F5F5;
  border-radius: 100px;
  padding: 0 24px;
}
#flow .sec-box .box-top .tag .col {
  line-height: 1.5;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#flow .sec-box .box-content {
  background: #F5F5F5;
  padding-bottom: 80px;
  display: none;
}
#flow .sec-title {
  padding-top: 40px;
}
#flow .sec-text {
  padding: 24px 10px;
  max-width: 79.7rem;
  width: 100%;
  background: #FFF;
  margin: 0 auto 18px;
  text-align: center;
}
#flow .sec-text .txt {
  display: inline-block;
  text-align: left;
}
#flow .sec-list .list-item {
  max-width: 550px;
  width: 100%;
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  background: #FFF;
  padding: 8px;
  text-align: center;
  margin: 0 auto 10px;
  position: relative;
  z-index: 2;
}
#flow .sec-list .list-item .txt {
  font-size: 2.4rem;
  font-weight: 700;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#flow .sec-list .list-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}
#flow .sec-list .list-box.single {
  justify-content: center;
}
#flow .sec-list .box-item {
  max-width: 550px;
  width: 100%;
  padding: 24px 20px 24px 75px;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
#flow .sec-list .box-item.col-y {
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
}
#flow .sec-list .box-item.col-y .icon {
  width: 73px;
}
#flow .sec-list .box-item.col-p {
  background: linear-gradient(90deg, #B490DE 0%, #C4A1EC 100%);
}
#flow .sec-list .box-item.col-p .icon {
  width: 60px;
}
#flow .sec-list .box-item .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11.63%;
}
#flow .sec-list .box-item .texts {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  display: inline-block;
}
#flow .sec-list .box-item .underline {
  display: inline-block;
  border-bottom: 2px solid #FFF;
  padding: 0 3px 5px;
  margin-bottom: 20px;
}
#flow .sec-list .box-item .text + .text {
  margin-top: 10px;
}
#flow .sec-list .item-wrap {
  max-width: 550px;
  width: 100%;
}
#flow .sec-list .arrow-single {
  height: 55px;
  margin: 0 auto 10px;
}
#flow .sec-list .arrow-double {
  width: 54%;
  margin: 0 auto 10px;
}
#flow .sec-list .arrow-double-tall {
  width: 54%;
  margin: -70px auto 10px;
}
#flow .sec-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4.1%;
  max-width: 85.2rem;
  width: 100%;
  border-radius: 100px;
  background: #8CE3DE;
  font-size: 2.4rem;
  font-weight: 700;
  color: #084C49;
  line-height: 1.5;
  padding: 32px 80px 25px 8px;
  box-shadow: 4px 4px 0 2px #05615C;
  margin: 7.3rem auto 6.4rem;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
#flow .sec-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
#flow .sec-btn::before {
  position: absolute;
  content: "";
  max-width: 189px;
  width: 22.18%;
  height: auto;
  bottom: 0;
  right: 42px;
  aspect-ratio: 1/1;
  background: url(../img/school/btn-img.png) center/contain no-repeat;
  z-index: 2;
}
#flow .sec-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/common/bg-dot-20.png) top center/500px 250px repeat;
  border-radius: 100px;
}
#flow .sec-btn .large {
  font-size: 4rem;
}
#flow .sec-btn .txt {
  z-index: 3;
}
#flow .sec-btn .icon {
  width: 75px;
  z-index: 3;
}
#flow .sec-part {
  padding: 40px 9.4rem 80px;
  background: #FFF;
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  margin: 0 9.5rem;
}
#flow .sec-part .box {
  background: #F5F5F5;
  font-weight: 700;
  padding: 24px 4.7rem;
  margin-top: 24px;
}
#flow .sec-part .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 852px;
  width: 100%;
  border-radius: 100px;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  font-size: clamp(16px, 2.4rem, 24px);
  font-weight: 700;
  color: #FFF;
  line-height: 1.5;
  padding: 36px 8px;
  box-shadow: 4px 4px 0 2px #05615C;
  margin: 24px auto;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
#flow .sec-part .btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
#flow .sec-part .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/common/bg-dot-20.png) top center/648px 324px repeat;
  border-radius: 100px;
}
#flow .sec-part .btn-1 {
  margin-top: 38px;
}
#flow .sec-part .btn-2 {
  padding-left: 63px;
}
#flow .sec-part .btn-3 {
  background: #F6AE00;
  box-shadow: 4px 4px 0 2px #725510;
  margin-top: 40px;
  padding-left: 44px;
}
#flow .sec-part .btn .large {
  font-size: clamp(16px, 4rem, 40px);
}
#flow .sec-part .btn .txt {
  z-index: 3;
  position: relative;
}
#flow .sec-part .btn .image {
  position: absolute;
  max-width: 137px;
  width: 16%;
  height: auto;
  bottom: 0;
  left: 15%;
  z-index: 2;
}
#flow .sec-part .btn .icon-pdf {
  position: absolute;
  width: 42px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  right: -72px;
  z-index: 2;
}
#flow .sec-part .btn .icon-price {
  position: absolute;
  width: 9.9%;
  max-width: 85px;
  aspect-ratio: 1/1;
  border-radius: 17px;
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
#flow .sec-part .btn .icon-price::before {
  position: absolute;
  content: "";
  max-width: 42px;
  width: 48%;
  aspect-ratio: 42/38;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/common/price.svg) center/contain no-repeat;
}
#flow .sec-part .btn .img-l {
  position: absolute;
  max-width: 152px;
  width: 16%;
  height: auto;
  bottom: 0;
  left: 15.8%;
  z-index: 2;
}
#flow .sec-part .btn .img-r {
  position: absolute;
  max-width: 152px;
  width: 16%;
  height: auto;
  bottom: 0;
  right: 13.2%;
  z-index: 2;
}
#flow .sec-part.p-1 {
  margin-bottom: 64px;
}
#flow .sec-part.p-2 .item {
  background: #B3EDEB;
  border-radius: 50px;
  padding: 5rem 8rem;
  text-align: center;
  margin-bottom: 32px;
}
#flow .sec-part.p-2 .item.i-2 .table-row {
  grid-template-columns: 256fr 431fr;
}
#flow .sec-part.p-2 .item.i-2 .right {
  text-align: center;
  font-weight: 700;
}
#flow .sec-part.p-2 .item-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .item-text {
  display: inline-block;
  text-align: left;
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .table {
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .table-row {
  display: grid;
  grid-template-columns: 144fr 543fr;
  gap: 0 5px;
}
#flow .sec-part.p-2 .table-row:not(:nth-of-type(1)) {
  margin-top: 10px;
}
#flow .sec-part.p-2 .left {
  background: #00C4BB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #FFF;
  padding: 8px;
}
#flow .sec-part.p-2 .right {
  background: #FFF;
  text-align: left;
  padding: 1.5rem 3.6rem;
}
#flow .sec-part.p-2 .bold {
  font-weight: 700;
}
#flow .sec-part.p-2 .bg-g {
  background: #F5F5F5;
  padding: 24px 16px;
}
#flow .sec-part.p-2 .text-wrap {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
#flow .sec-part.p-2 .top {
  margin-bottom: 10px;
}
#flow .sec-part.p-2 .list-box {
  padding: 0 16px;
  position: relative;
  border-left: 3px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  text-align: left;
  display: inline-block;
}
#flow .sec-part.p-2 .text-box {
  background: #F5F5F5;
  font-size: 16px;
  padding: 24px 27px;
  text-align: left;
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .label {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #FFF;
  background: #00C4BB;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  #flow .sec-inner {
    padding: 40px 0 150px;
  }
  #flow .sec-container {
    padding: 40px 0;
  }
  #flow .sec-box + .sec-box {
    margin-top: 16px;
  }
  #flow .sec-box .box-top {
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px 0;
    font-size: 21px;
    line-height: 1.2;
    padding: 18px 16px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 10px;
  }
  #flow .sec-box .box-top .plus-btn {
    right: 4.4%;
  }
  #flow .sec-box .box-top .tag {
    position: static;
    transform: none;
  }
  #flow .sec-box .box-content {
    padding-bottom: 0;
    display: none;
  }
  #flow .sec-title {
    padding-top: 11px;
  }
  #flow .sec-text {
    padding: 8px;
    width: calc(100% - 48px);
  }
  #flow .sec-list {
    width: calc(100% - 48px);
    margin: 0 auto;
  }
  #flow .sec-list .list-item {
    max-width: 304px;
    margin-bottom: 4px;
  }
  #flow .sec-list .list-item .txt {
    font-size: 16px;
  }
  #flow .sec-list .list-box {
    max-width: 400px;
    margin: 0 auto;
    gap: 0 8px;
  }
  #flow .sec-list .box-item {
    max-width: 157px;
    padding: 24px 15px;
    margin-bottom: 4px;
  }
  #flow .sec-list .box-item .icon {
    height: 25px;
  }
  #flow .sec-list .box-item.col-y .icon {
    width: 42px;
  }
  #flow .sec-list .box-item.col-p .icon {
    width: 35px;
  }
  #flow .sec-list .box-item .icon {
    position: static;
    transform: none;
    margin: 0 auto 20px;
  }
  #flow .sec-list .box-item .texts {
    font-size: 16px;
  }
  #flow .sec-list .box-item .underline {
    border-bottom: none;
    padding: 0;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
  #flow .sec-list .box-item .text + .text {
    margin-top: 2px;
  }
  #flow .sec-list .item-wrap {
    max-width: 157px;
  }
  #flow .sec-list .arrow-single {
    height: 15px;
    margin-bottom: 4px;
  }
  #flow .sec-list .arrow-double {
    width: 100%;
    max-width: 200px;
    margin-bottom: 4px;
  }
  #flow .sec-list .arrow-double-tall {
    width: 100%;
    max-width: 200px;
  }
  #flow .sec-btn {
    max-width: 400px;
    width: calc(100% - 48px);
    gap: 8px;
    margin-top: 38px;
    margin-bottom: 22px;
    padding: 14px 80px 15px 0;
    font-size: 16px;
    line-height: 1.4;
  }
  #flow .sec-btn::before {
    width: 130px;
    height: 111px;
    right: 0;
    bottom: -1px;
  }
  #flow .sec-btn .icon {
    width: 43px;
  }
  #flow .sec-btn .large {
    font-size: 2rem;
  }
  #flow .sec-part {
    padding: 24px 0;
    margin: 32px 8px 0;
    position: relative;
  }
  #flow .sec-part::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100%;
    left: -8px;
    top: 0;
    background: #FFF;
    z-index: -1;
  }
  #flow .sec-part .box {
    padding: 8px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
  }
  #flow .sec-part .btn {
    font-size: 18px;
    padding: 8px;
    height: 98px;
    box-shadow: 1px 1px 0 1px #05615C;
  }
  #flow .sec-part .btn::after {
    background: url(../img/common/bg-dot-20.png) top center/204px 102px repeat;
  }
  #flow .sec-part .btn-1 {
    margin-top: 24px;
  }
  #flow .sec-part .btn-2 {
    padding-left: 80px;
  }
  #flow .sec-part .btn-3 {
    box-shadow: 1px 1px 0 1px #725510;
    margin-top: 30px;
    padding-left: 8px;
  }
  #flow .sec-part .btn .large {
    font-size: 26px;
  }
  #flow .sec-part .btn .image {
    max-width: 66px;
    bottom: 50%;
    transform: translateY(50%);
    left: 8%;
  }
  #flow .sec-part .btn .icon-pdf {
    right: -52px;
  }
  #flow .sec-part .btn .icon-price {
    max-width: 40px;
    border-radius: 8px;
    left: 9%;
  }
  #flow .sec-part .btn .icon-price::before {
    max-width: 20px;
    width: 50%;
  }
  #flow .sec-part .btn .img-l {
    max-width: 94px;
    width: 26%;
    left: 1%;
    border-radius: 0 0 0 45px;
  }
  #flow .sec-part .btn .img-r {
    max-width: 94px;
    width: 26%;
    right: 3%;
    border-radius: 0 0 35px 0;
  }
  #flow .sec-part.p-1 {
    margin-bottom: 24px;
  }
  #flow .sec-part.p-2 .item {
    border-radius: 16px;
    padding: 24px 16px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 16px);
  }
  #flow .sec-part.p-2 .item.i-2 .table-row {
    grid-template-columns: 256fr 431fr;
  }
  #flow .sec-part.p-2 .item.i-2 .right {
    text-align: center;
    font-weight: 700;
  }
  #flow .sec-part.p-2 .item-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  #flow .sec-part.p-2 .item-text {
    display: inline-block;
    text-align: left;
    margin-bottom: 16px;
  }
  #flow .sec-part.p-2 .table {
    margin-bottom: 16px;
  }
  #flow .sec-part.p-2 .table-row {
    display: grid;
    grid-template-columns: 144fr 543fr;
    gap: 0 5px;
  }
  #flow .sec-part.p-2 .table-row:not(:nth-of-type(1)) {
    margin-top: 10px;
  }
  #flow .sec-part.p-2 .left {
    background: #00C4BB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: #FFF;
    padding: 8px;
  }
  #flow .sec-part.p-2 .right {
    background: #FFF;
    text-align: left;
    padding: 1.5rem 3.6rem;
  }
  #flow .sec-part.p-2 .bold {
    font-weight: 700;
  }
  #flow .sec-part.p-2 .bg-g {
    background: #F5F5F5;
    padding: 24px 16px;
  }
  #flow .sec-part.p-2 .text-wrap {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
  }
  #flow .sec-part.p-2 .top {
    margin-bottom: 10px;
  }
  #flow .sec-part.p-2 .list-box {
    padding: 0 16px;
    position: relative;
    border-left: 3px solid;
    -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
       border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
    text-align: left;
    display: inline-block;
  }
  #flow .sec-part.p-2 .text-box {
    background: #F5F5F5;
    font-size: 16px;
    padding: 24px 27px;
    text-align: left;
    margin-bottom: 16px;
  }
  #flow .sec-part.p-2 .label {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #FFF;
    background: #00C4BB;
    margin-bottom: 8px;
  }
}/*# sourceMappingURL=flow.css.map */