.sec-container {
  box-shadow: 0 0 13px 2px rgba(0, 162, 154, 0.2);
  padding: 40px 24px 80px;
}
@media only screen and (max-width: 768px) {
  .sec-container {
    padding-bottom: 40px;
  }
}

.js-ac-btn.active .plus-btn::after {
  opacity: 0;
}

.plus-btn {
  position: absolute;
  background: #FFF;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.plus-btn::before, .plus-btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform-origin: center;
  background: #333;
  transition: all 0.3s;
}
.plus-btn::before {
  transform: translateX(-50%) translateY(-50%);
}
.plus-btn::after {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
@media only screen and (max-width: 768px) {
  .plus-btn {
    width: 34px;
    height: 34px;
  }
  .plus-btn::before, .plus-btn::after {
    width: 22px;
    height: 2px;
  }
}

.js-ac-btn.active .plus-btn::after {
  content: none;
}

#top .sec-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 312px;
  margin-top: 88px;
  background: url(../img/flow/top-bg.png) center 65%/cover no-repeat;
}
#top .sec-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  opacity: 0.7;
}
#top .sec-inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27.24%;
  background: url(../img/common/bg-dot.png) top left/auto 260% repeat-x;
  opacity: 0.55;
}
#top .sec-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  position: relative;
  z-index: 3;
  margin: 0;
  padding-top: 7rem;
}
@media print, screen and (max-width: 1024px) {
  #top .sec-inner {
    margin-top: 62px;
  }
  #top .sec-title {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  #top .sec-inner {
    height: 200px;
  }
  #top .sec-title {
    font-size: 3.2rem;
  }
}

#flow .sec-inner {
  padding: 81px 0 524px;
}
#flow .sec-container {
  max-width: 143rem;
  margin: 0 auto;
  padding: 8rem 10rem;
}
#flow .sec-box + .sec-box {
  margin-top: 18px;
}
#flow .sec-box .box-top {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  padding: 24px 16px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1), background 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  background: #C4A1EC;
  box-shadow: 4px 4px 0 2px #5B3882;
  margin-bottom: 18px;
}
#flow .sec-box .box-top:hover {
  background: #7F54B1;
}
#flow .sec-box .box-top .txt img {
  width: 123px;
}
#flow .sec-box .box-top:not(.active):hover {
  transform: translate(4px, 4px);
  box-shadow: none !important;
}
#flow .sec-box .box-top.active {
  box-shadow: none !important;
}
#flow .sec-box .box-top .txt {
  display: inline-block;
  position: relative;
}
#flow .sec-box .box-top .txt img {
  content: "";
  position: absolute;
  bottom: -24px;
}
#flow .sec-box .box-top .plus-btn {
  right: 11.5%;
}
#flow .sec-box .box-content {
  background: #F5F5F5;
  padding-bottom: 80px;
}
#flow .sec-title {
  padding: 40px 0 18px;
}
#flow .sec-list .list-item {
  max-width: 550px;
  width: 100%;
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  background: #FFF;
  padding: 8px;
  text-align: center;
  margin: 0 auto 10px;
}
#flow .sec-list .list-item .txt {
  font-size: 2.4rem;
  font-weight: 700;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#flow .sec-list .list-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}
#flow .sec-list .box-item {
  max-width: 550px;
  width: 100%;
  padding: 24px 20px 24px 75px;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
#flow .sec-list .box-item.col-y {
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
}
#flow .sec-list .box-item.col-y .icon {
  width: 73px;
}
#flow .sec-list .box-item.col-p {
  background: linear-gradient(90deg, #B490DE 0%, #C4A1EC 100%);
}
#flow .sec-list .box-item.col-p .icon {
  width: 60px;
}
#flow .sec-list .box-item .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11.63%;
}
#flow .sec-list .box-item .texts {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
#flow .sec-list .box-item .underline {
  display: inline-block;
  border-bottom: 2px solid #FFF;
  padding: 0 3px 5px;
  margin-bottom: 20px;
}
#flow .sec-list .box-item .text + .text {
  margin-top: 10px;
}
#flow .sec-list .item-wrap {
  max-width: 550px;
  width: 100%;
}
#flow .sec-list .arrow-single {
  width: 12px;
  margin: 0 auto 10px;
}
#flow .sec-list .arrow-double {
  width: 54%;
  margin: 0 auto 10px;
}
#flow .sec-list .arrow-double-tall {
  width: 54%;
  margin: -70px auto 10px;
}
#flow .sec-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4.1%;
  max-width: 85.2rem;
  width: 100%;
  border-radius: 100px;
  background: #8CE3DE;
  font-size: 2.4rem;
  font-weight: 700;
  color: #084C49;
  line-height: 1.5;
  padding: 32px 80px 25px 8px;
  box-shadow: 4px 4px 0 2px #05615C;
  margin: 7.3rem auto 6.4rem;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
#flow .sec-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
#flow .sec-btn::before {
  position: absolute;
  content: "";
  max-width: 189px;
  width: 22.18%;
  height: auto;
  bottom: 0;
  right: 42px;
  aspect-ratio: 1/1;
  background: url(../img/school/btn-img.png) center/contain no-repeat;
  z-index: 2;
}
#flow .sec-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/common/bg-dot-20.png) top center/500px 250px repeat;
  border-radius: 100px;
}
#flow .sec-btn .large {
  font-size: 4rem;
}
#flow .sec-btn .txt {
  z-index: 3;
}
#flow .sec-btn .icon {
  width: 75px;
  z-index: 3;
}
#flow .sec-part {
  padding: 40px 9.4rem 80px;
  background: #FFF;
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  margin: 0 9.5rem;
}
#flow .sec-part .box {
  background: #F5F5F5;
  font-weight: 700;
  padding: 24px 4.7rem;
  margin-top: 24px;
}
#flow .sec-part .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 852px;
  width: 100%;
  border-radius: 100px;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  font-size: 2.4rem;
  font-weight: 700;
  color: #FFF;
  line-height: 1.5;
  padding: 36px 8px;
  box-shadow: 4px 4px 0 2px #05615C;
  margin: 24px auto;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
#flow .sec-part .btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
#flow .sec-part .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/common/bg-dot-20.png) top center/648px 324px repeat;
  border-radius: 100px;
}
#flow .sec-part .btn .large {
  font-size: 4rem;
}
#flow .sec-part .btn .txt {
  z-index: 3;
  position: relative;
}
#flow .sec-part .btn .image {
  position: absolute;
  max-width: 137px;
  width: 16%;
  height: auto;
  bottom: 0;
  left: 15%;
  z-index: 2;
}
#flow .sec-part .btn .icon-pdf {
  position: absolute;
  width: 42px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  right: -72px;
  z-index: 2;
}
#flow .sec-part.p-1 {
  margin-bottom: 64px;
}
#flow .sec-part.p-2 .item {
  background: #B3EDEB;
  border-radius: 50px;
  padding: 5rem 8rem;
  text-align: center;
  margin-bottom: 32px;
}
#flow .sec-part.p-2 .item.i-2 .table-row {
  grid-template-columns: 256fr 431fr;
}
#flow .sec-part.p-2 .item.i-2 .right {
  text-align: center;
  font-weight: 700;
}
#flow .sec-part.p-2 .item-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .item-text {
  display: inline-block;
  text-align: left;
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .table {
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .table-row {
  display: grid;
  grid-template-columns: 144fr 543fr;
  gap: 0 5px;
}
#flow .sec-part.p-2 .table-row:not(:nth-of-type(1)) {
  margin-top: 10px;
}
#flow .sec-part.p-2 .left {
  background: #00C4BB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #FFF;
  padding: 8px;
}
#flow .sec-part.p-2 .right {
  background: #FFF;
  text-align: left;
  padding: 1.5rem 3.6rem;
}
#flow .sec-part.p-2 .bold {
  font-weight: 700;
}
#flow .sec-part.p-2 .bg-g {
  background: #F5F5F5;
  padding: 24px 16px;
}
#flow .sec-part.p-2 .text-wrap {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
#flow .sec-part.p-2 .top {
  margin-bottom: 10px;
}
#flow .sec-part.p-2 .list-box {
  padding: 0 16px;
  position: relative;
  border-left: 3px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  text-align: left;
  background: #FFF;
  display: inline-block;
}
#flow .sec-part.p-2 .text-box {
  background: #F5F5F5;
  font-size: 16px;
  padding: 24px 27px;
  text-align: left;
  margin-bottom: 16px;
}
#flow .sec-part.p-2 .label {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #FFF;
  background: #00C4BB;
  margin-bottom: 8px;
}/*# sourceMappingURL=flow.css.map */