#top .sec-inner {
  height: 40.5rem;
  margin-top: 88px;
}

#movie {
  margin: 72px 0 527px;
}
#movie .sec-texts {
  margin-bottom: 91px;
}
#movie .sec-texts .image {
  max-width: 87.2rem;
  width: 100%;
  margin: 0 auto 33px;
}
#movie .sec-texts .text {
  text-align: center;
  font-size: 4rem;
  position: relative;
  padding-bottom: 121px;
}
#movie .sec-texts .text .col {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#movie .sec-texts .text::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 105px;
  height: 101px;
  background: url(../img/common/triangle.png) center/contain no-repeat;
}
#movie .sec-item:not(:nth-of-type(1)) {
  margin-top: 80px;
}
#movie .sec-item .box-top {
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  background: url(../img/movie/item-bg.png) top center/100% auto repeat-y;
  padding: 24px 10.34%;
  position: relative;
}
#movie .sec-item .title {
  text-align: center;
}
#movie .sec-item .title .ja {
  font-size: 4rem;
}
#movie .sec-item .js-ac-btn.active .plus-btn::after {
  opacity: 0;
}
#movie .sec-item .plus-btn {
  position: absolute;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  width: 94px;
  height: 94px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 3.77%;
}
#movie .sec-item .plus-btn::before, #movie .sec-item .plus-btn::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 6px;
  top: 50%;
  left: 50%;
  transform-origin: center;
  background: #FFF;
  transition: all 0.3s;
}
#movie .sec-item .plus-btn::before {
  transform: translateX(-50%) translateY(-50%);
}
#movie .sec-item .plus-btn::after {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
#movie .sec-item .box-content {
  display: none;
}
#movie .sec-list {
  background: #F5F5F5;
}
#movie .sec-list .list-item {
  background: url(../img/movie/item-bg.png) top center/100% auto repeat-y;
  padding: 48px 20px;
}
#movie .sec-list .list-item:not(:nth-of-type(1)) {
  margin-top: 24px;
}
#movie .sec-list .list-item:nth-of-type(odd) .top {
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
  box-shadow: 4px 6px 12px 1px #EAB535;
  transform: rotate(-3deg);
}
#movie .sec-list .list-item:nth-of-type(odd) .title {
  text-shadow: 0 0 13px #CAA446;
}
#movie .sec-list .list-item:nth-of-type(even) .top {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  box-shadow: 4px 6px 12px 1px #00A29A;
  transform: rotate(3deg);
}
#movie .sec-list .list-item:nth-of-type(even) .title {
  text-shadow: 0 0 13px #10807A;
}
#movie .sec-list .top {
  border: 2px solid #FFF;
  border-radius: 3px;
  max-width: 81.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 258fr 451fr;
  gap: 0 2.4%;
  padding: 20px 64px 20px 20px;
  margin: 0 auto 64px;
  align-items: center;
}
#movie .sec-list .square {
  aspect-ratio: 258/235;
  width: 100%;
}
#movie .sec-list .title {
  font-size: 5.1rem;
  font-weight: 700;
  color: #FFF;
}
#movie .sec-list .title .large {
  font-size: 10.3rem;
  line-height: 1;
}
#movie .sec-list .movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 1.4rem;
}
#movie .sec-list .mov {
  position: relative;
  aspect-ratio: 297/203;
  width: 29.7rem;
}
#movie .sec-list .mov::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 47px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: url(../img/movie/movie-play.svg) center/contain no-repeat;
}
#movie .sec-list .mov img {
  border-radius: 17px;
}
#movie .sec-list .type {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2rem;
}
#movie .sec-embed {
  padding-top: 32px;
}
#movie .sec-embed .movie {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
#movie .sec-embed .movie iframe {
  width: 100%;
}/*# sourceMappingURL=movie.css.map */