.sec-container {
  box-shadow: 0 0 13px 2px rgba(0, 162, 154, 0.2);
  padding: 40px 30px 80px;
}
@media only screen and (max-width: 768px) {
  .sec-container {
    padding: 64px 2.4rem 48px;
  }
}

.sec-title {
  margin-bottom: 18px;
}
@media print, screen and (max-width: 1024px) {
  .sec-title {
    margin-bottom: 24px;
  }
}

.section + .section {
  margin-top: 70px;
}
@media only screen and (max-width: 768px) {
  .section + .section {
    margin-top: 40px;
  }
  .section .sec-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

#facilities {
  margin-top: 90px;
}
#facilities .sec-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  width: 74.1%;
  margin: 0 auto;
}
#facilities .sec-box + .sec-box {
  margin-top: 40px;
}
#facilities .sec-box-3 {
  grid-template-columns: repeat(3, 1fr);
}
#facilities .sec-box .box-item {
  width: 100%;
}
#facilities .sec-box .image {
  position: relative;
  width: 100%;
  padding-top: 63.61%;
}
#facilities .sec-box .image img {
  position: absolute;
  top: 0;
  left: 0;
}
#facilities .sec-box .bg {
  display: inline-block;
  background: #00C4BB;
  color: #FFF;
  font-size: 24px;
  font-size: clamp(20px, 2.4rem, 2.4rem);
  line-height: 1.6;
  padding: 6px 16px;
  margin-top: 8px;
}
#facilities .sec-text {
  margin-top: 42px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
#facilities .sec-banner {
  display: block;
  margin-top: 70px;
  position: relative;
  border-radius: 24px;
  border-bottom-right-radius: 0sec-text;
  overflow: hidden;
}
#facilities .sec-banner::before {
  content: "";
  position: absolute;
  width: 87px;
  height: 87px;
  bottom: 0;
  right: 0;
  background: url(../img/common/check.svg) center/contain no-repeat;
}
@media print, screen and (max-width: 1920px) {
  #facilities .sec-box {
    width: 100%;
    max-width: 1030px;
  }
}
@media print, screen and (min-width: 1025px) {
  #facilities .sec-box-3 .image {
    padding-top: 97.76%;
  }
}
@media print, screen and (max-width: 1024px) {
  #facilities .sec-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #facilities .sec-box .bg {
    padding: 0 16px;
  }
  #facilities .sec-text {
    margin: 10px 0 0;
    font-size: 16px;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  #facilities {
    margin-top: 40px;
  }
  #facilities .sec-box {
    grid-template-columns: 1fr !important;
  }
  #facilities .sec-box .bg {
    font-size: 16px;
  }
  #facilities .sec-text {
    margin: 4px 0 0;
  }
  #facilities .sec-banner {
    margin: 40px 2.4rem 0;
  }
}

#course .sec-box {
  width: 74.1%;
  margin: 0 auto;
}
#course .box-item + .box-item {
  margin-top: 40px;
}
#course .box-item .image {
  margin-bottom: 8px;
}
#course .box-item .texts {
  display: flex;
  align-items: center;
}
#course .box-item .course {
  font-size: 24px;
  color: #FFF;
  line-height: 1.6;
  padding: 6px 24px;
  margin-right: 24px;
  background: #00C4BB;
  display: inline-block;
}
#course .box-item .text {
  font-size: 20px;
  line-height: 1.6;
  display: inline-block;
}
@media print, screen and (max-width: 1920px) {
  #course .sec-box {
    width: 100%;
    max-width: 1030px;
  }
}
@media print, screen and (max-width: 1024px) {
  #course .box-item .texts {
    flex-wrap: wrap;
  }
  #course .box-item .course {
    margin-bottom: 8px;
    padding: 0 24px;
  }
  #course .box-item .text {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #course .box-item .course {
    font-size: 16px;
  }
  #course .box-item .text {
    font-size: 16px;
  }
}

#system {
  padding-bottom: 54rem;
}
#system .sec-container {
  text-align: center;
}
#system .sec-text {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 58px;
}
#system .sec-box-top {
  width: 68.34%;
  border-radius: 50px;
  background: #B3EDEB;
  padding: 50px 2.4rem;
  margin: 0 auto 58px;
}
#system .sec-box-top .top {
  width: 86.81%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #FFF;
  text-align: center;
  background: #00C4BB;
}
#system .sec-box-top .box {
  width: 86.81%;
  margin: 8px auto 0;
  background: #FFF;
  padding: 15px 0 24px;
  text-align: center;
}
#system .sec-box-top .tel {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.8;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
#system .sec-box-top .icon {
  width: 0.66em;
}
#system .sec-box-top .time {
  font-size: 24px;
  line-height: 1.8;
  display: inline-block;
  text-align: right;
}
#system .sec-box-btm {
  background: #F5F5F5;
  width: 88.489%;
  margin: 0 auto;
  padding: 80px 30px;
}
#system .sec-box-btm .box {
  margin: 0 auto;
  width: 86.6%;
  background: #FFF;
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  padding: 4rem;
}
#system .sec-box-btm .item + .item {
  margin-top: 40px;
}
#system .sec-box-btm .item:nth-of-type(1) .bg::before {
  content: "";
  position: absolute;
  width: 17%;
  aspect-ratio: 162/199;
  right: 0.8rem;
  top: -60px;
  background: url(../img/school/system-img-1.png) center/contain no-repeat;
}
#system .sec-box-btm .item:nth-of-type(2) .bg::before {
  content: "";
  position: absolute;
  width: 17%;
  aspect-ratio: 162/176;
  left: 3.8rem;
  top: -60px;
  background: url(../img/school/system-img-2.png) center/contain no-repeat;
}
#system .sec-box-btm .bg {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #FFF;
  background: #00C4BB;
  margin-bottom: 33px;
  position: relative;
}
#system .sec-box-btm .line {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.8;
  margin-bottom: 24px;
}
#system .sec-box-btm .line > span {
  display: inline;
  background: linear-gradient(transparent 56%, #FFB400 56% 98%, transparent 98%);
}
#system .sec-box-btm .text {
  font-size: 18px;
  line-height: 1.8;
  width: 86%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 24px;
}
#system .sec-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.6%;
  width: 59.6%;
  border-radius: 100px;
  background: #8CE3DE;
  font-size: 2.4rem;
  font-weight: 700;
  color: #084C49;
  line-height: 1.5;
  padding: 32px 80px 25px 8px;
  box-shadow: 4px 4px 0 2px #05615C;
  margin: 14rem auto 0;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
#system .sec-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
#system .sec-btn::before {
  position: absolute;
  content: "";
  max-width: 189px;
  width: 22.18%;
  height: auto;
  bottom: 0;
  right: 42px;
  aspect-ratio: 1/1;
  background: url(../img/school/btn-img.png) center/contain no-repeat;
  z-index: 2;
}
#system .sec-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/common/bg-dot-20.png) top center/500px 250px repeat;
  border-radius: 100px;
}
#system .sec-btn .large {
  font-size: 4rem;
}
#system .sec-btn .txt {
  z-index: 3;
}
#system .sec-btn .icon {
  width: 75px;
  z-index: 3;
}
@media print, screen and (max-width: 1920px) {
  #system .sec-box-top {
    width: calc(100% - 4.8rem);
    max-width: 950px;
  }
  #system .sec-box-btm {
    width: 100%;
    max-width: 1230px;
  }
  #system .sec-box-btm .box {
    width: 100%;
    max-width: 1030px;
  }
  #system .sec-box-btm .text {
    width: 100%;
    max-width: 822px;
  }
}
@media print, screen and (max-width: 1024px) {
  #system .sec-text {
    max-width: calc(100% - 4.8rem);
  }
  #system .sec-box-btm {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  #system .sec-box-btm .item + .item {
    margin-top: 64px;
  }
  #system .sec-box-btm .item:first-of-type .bg::before {
    bottom: -18px;
    right: -11px;
  }
  #system .sec-box-btm .item:nth-of-type(2) .bg::before {
    bottom: -29px;
    left: -7px;
  }
  #system .sec-box-btm .box {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  #system .sec-btn {
    width: calc(100% - 4.8rem);
    max-width: 852px;
  }
}
@media only screen and (max-width: 768px) {
  #system {
    padding-bottom: 170px;
  }
  #system .sec-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  #system .sec-box-top {
    margin-bottom: 40px;
    padding: 24px 16px 16px;
    border-radius: 16px;
  }
  #system .sec-box-top .top {
    width: 100%;
    padding: 10px 10px 11px;
    font-size: 16px;
  }
  #system .sec-box-top .box {
    width: 100%;
    margin-top: 4px;
    padding: 8px 0;
  }
  #system .sec-box-top .tel {
    margin-bottom: 4px;
    font-size: 24px;
  }
  #system .sec-box-top .icon {
    width: 20px;
  }
  #system .sec-box-top .time {
    font-size: 16px;
  }
  #system .sec-box-btm .item + .item .bg {
    text-align: right;
  }
  #system .sec-box-btm .item:first-of-type .bg::before {
    bottom: -18px;
    right: -11px;
    width: 121px;
    height: 149px;
  }
  #system .sec-box-btm .item:nth-of-type(2) .bg::before {
    bottom: -29px;
    right: -7px;
    width: 133px;
    height: 145px;
  }
  #system .sec-box-btm .bg {
    padding: 2px 4vw;
    font-size: 20px;
    text-align: left;
  }
  #system .sec-box-btm .line {
    margin-bottom: 20px;
    font-size: 24px;
  }
  #system .sec-box-btm .line > span {
    padding: 0 10px;
    background: linear-gradient(transparent 18%, #FFB400 18% 90%, transparent 90%);
  }
  #system .sec-box-btm .text {
    padding: 0 16px;
    font-size: 16px;
  }
  #system .sec-text {
    margin-bottom: 24px;
    font-size: 16px;
  }
  #system .sec-btn {
    max-width: 400px;
    gap: 8px;
    margin-top: 62px;
    padding: 14px 80px 15px 0;
    font-size: 16px;
    line-height: 1.4;
  }
  #system .sec-btn::before {
    width: 130px;
    height: 111px;
    right: 0;
    bottom: -1px;
  }
  #system .sec-btn .icon {
    width: 43px;
  }
  #system .sec-btn .large {
    font-size: 2rem;
  }
}/*# sourceMappingURL=school.css.map */