#heading .sec-inner {
  position: relative;
}
#heading .sec-inner .icon {
  position: absolute;
  width: 117px;
  height: 117px;
  border-radius: 24px;
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
#heading .sec-inner .icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 58px;
  height: 52px;
  background: url(../img/common/price.svg) center/contain no-repeat;
}

#access {
  margin-top: 134px;
  margin-bottom: 524px;
}
#access .sec-container {
  box-shadow: 0 0 13px 2px rgba(0, 162, 154, 0.2);
  padding: 80px 8.11%;
  display: grid;
  grid-template-columns: 635fr 535fr;
  gap: 0 28px;
}
#access .sec-box-select .title {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  color: #FFF;
  font-weight: 700;
  width: 100%;
  text-align: center;
  display: block;
  padding: 2px 16px;
  margin-bottom: 21px;
}
#access .sec-box-select .box {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1019607843);
  padding: 22px;
}
#access .sec-box-select .select-wrap {
  position: relative;
}
#access .sec-box-select .select-wrap .select {
  padding: 8px 35px 8px 11px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 6px;
  background-color: #FFF;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  height: auto;
}
#access .sec-box-select .select-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 15px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #0A0A0A;
  border-bottom: 1px solid #0A0A0A;
}
#access .sec-box-select .item:not(:nth-of-type(1)) {
  margin-top: 14px;
}
#access .sec-box-select .top {
  display: flex;
  align-items: center;
  gap: 0 7px;
}
#access .sec-box-select .check {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
#access .sec-box-select .check input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #767676;
  position: relative;
  cursor: pointer;
}
#access .sec-box-select .check input:checked {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  border: none;
}
#access .sec-box-select .check input:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  width: 7px;
  height: 14px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
  transform: rotate(45deg);
}
#access .sec-box-select .border {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.35;
  padding: 0 9px;
  height: -moz-fit-content;
  height: fit-content;
}
#access .sec-box-select .text {
  font-size: 16px;
  font-weight: 400;
  color: #717182;
}
#access .sec-box-select .bold {
  font-weight: 700;
}
#access .sec-box-select .col {
  color: #FFB400;
}
#access .sec-box-result {
  background: #C4A1EC;
  border-radius: 14px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 21px 0;
}
#access .sec-box-result .top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  gap: 0 7px;
}
#access .sec-box-result .icon {
  width: 45px;
  height: 45px;
  border-radius: 9px;
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
  position: relative;
}
#access .sec-box-result .icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 23px;
  height: 20px;
  background: url(../img/common/price.svg) center/contain no-repeat;
}
#access .sec-box-result .box {
  background: #FFF;
  border-radius: 10px;
  padding: 2rem;
}
#access .sec-box-result .bg {
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 3px 16px;
}
#access .sec-box-result .bg-p {
  background: #C4A1EC;
}
#access .sec-box-result .bg-y {
  background: #FFB400;
}
#access .sec-box-result .texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  margin-top: 10px;
  min-height: 39px;
  padding: 6px 0;
  border-bottom: 1px solid #F3F4F6;
}
#access .sec-box-result .texts + .bg {
  margin-top: 10px;
}
#access .sec-box-result .small {
  color: #717182;
  font-size: 12px;
  font-weight: 400;
}
#access .sec-box-result .text {
  font-size: 16px;
}
#access .sec-box-result .price {
  font-size: 16px;
  font-weight: 700;
}
#access .sec-box-result .result {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-top: 7px;
  line-height: 1;
}
#access .sec-box-result .btn {
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  gap: 0 7px;
  height: 80px;
  padding: 16px;
}
#access .sec-box-result .btn img {
  width: 24px;
}
#access .sec-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.6%;
  width: 59.6%;
  border-radius: 100px;
  background: #8CE3DE;
  font-size: 2.4rem;
  font-weight: 700;
  color: #084C49;
  line-height: 1.5;
  padding: 32px 80px 25px 8px;
  box-shadow: 4px 4px 0 2px #05615C;
  margin: 10.7rem auto 0;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
#access .sec-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
#access .sec-btn::before {
  position: absolute;
  content: "";
  max-width: 189px;
  width: 22.18%;
  height: auto;
  bottom: 0;
  right: 20px;
  aspect-ratio: 1/1;
  background: url(../img/simulation/btn-img.png) center/contain no-repeat;
  z-index: 2;
}
#access .sec-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/common/bg-dot-20.png) top center/500px 250px repeat;
  border-radius: 100px;
}
#access .sec-btn .large {
  font-size: 4rem;
}
#access .sec-btn .txt {
  z-index: 3;
}
#access .sec-btn .icon {
  width: 68px;
  z-index: 3;
}/*# sourceMappingURL=simulation.css.map */