@charset "UTF-8";
@media print, screen and (min-width: 1025px) {
  .tb {
    display: none !important;
  }
  .sp {
    display: none !important;
  }
}
@media print, screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}
@media print, screen and (max-width: 1024px) {
  .pc {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .tc {
    display: none !important;
  }
}
@media print, screen and (min-width: 1025px) {
  .pc-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}
#wrapper {
  position: relative;
  width: 100%;
}

main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* input */
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
select,
textarea {
  position: relative;
  background-color: transparent;
  border: 1px solid #E7E8E8;
  background-color: #E7E8E8;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem;
  width: 100%;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  outline: none !important;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  select,
  textarea {
    padding: 1.2rem 1.6rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
select {
  height: 4.8rem;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  select {
    height: 5.6rem;
  }
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border-color: #E7E8E8;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../img/select-down.svg);
  background-position: calc(100% - 1.2rem) 50%;
  background-size: 1rem 0.8rem;
  background-repeat: no-repeat;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  select {
    background-position: calc(100% - 1rem) 50%;
  }
}

picture,
figure,
.image_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

picture img,
figure img,
.image_wrap img {
  width: 100%;
}

.u-img-cover {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-img-contain {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.u-list {
  list-style: disc;
  padding-left: 1.5em;
}

.h-opacity a, a.h-opacity {
  transition: opacity 0.3s;
}
.h-opacity a:hover, a.h-opacity:hover {
  opacity: 0.7;
}

.c-section {
  padding: 0 0 0 2.5rem;
}
@media print, screen and (min-width: 769px) {
  .c-section {
    padding-left: 99px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
}

.c-inner {
  max-width: 1470px;
  padding: 0 20px;
  margin: 0 auto;
}
.c-inner-max {
  max-width: 1920px;
}

.c-title .en {
  display: block;
  background: url(../img/common/bg-dot-80.png) top left/0.5982em 0.3em, #B4E5E3; /* /1217*2427 */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Jost", "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  font-size: 9.6rem;
  line-height: 1;
}
.c-title .ja {
  display: block;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
}
.c-title.white .ja {
  background: none;
  color: #fff;
}

.c-title-s {
  text-align: center;
}
.c-title-s .ja {
  display: block;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
}
.c-title-s .en {
  display: block;
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Jost", "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.c-text-gradient {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#heading .sec-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32rem;
  padding: 7rem 0 0;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
}
#heading .sec-inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26.56%;
  background: url(../img/common/bg-dot.png) top left/auto 260% repeat-x;
  opacity: 0.55;
}
#heading .sec-title {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

#mv {
  position: relative;
  height: 100lvh;
  background: url(../img/index/mv-bg.jpg) center/cover no-repeat;
  overflow: hidden;
}
#mv .sec-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#mv .sec-slide .item {
  position: relative;
  width: 100%;
  height: 100lvh;
  overflow: hidden;
}
#mv .sec-slide .item img {
  position: absolute;
  top: -7.53%;
  left: -36.66%;
  width: 154.12%;
  height: 103.94%;
  -o-object-position: top;
     object-position: top;
}
#mv .sec-line {
  position: absolute;
  width: 112.1vw;
  height: 35.83vw;
  left: -6vw;
  bottom: 0;
}
#mv .sec-line object {
  -o-object-position: top;
     object-position: top;
}

#main-top {
  margin-top: 88px;
}
#main-top #driver {
  background: linear-gradient(180deg, #01C2B9 0%, rgba(0, 196, 187, 0) 100%);
  padding-top: 72px;
  padding-bottom: 516px;
}
#main-top #driver .btm-btn {
  width: 100%;
  height: 90px;
  background: #00A29A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
#main-top #driver .btm-btn .txt {
  font-size: 2.4rem;
  font-weight: 700;
  color: #FFF;
}
#main-top #driver .btm-btn .arrow {
  width: 16px;
  height: 18px;
  background: url("../img/common/arrow-w.svg") center/contain no-repeat;
}
#main-top #driver .sec-inner {
  position: relative;
}
#main-top #driver .sec-title {
  margin-bottom: 48px;
}
#main-top #driver .sec-box-top {
  display: grid;
  grid-template-columns: 717fr 1108fr;
  border: 2px solid #FFF;
}
#main-top #driver .sec-box-top .box {
  padding-top: 21px;
}
#main-top #driver .sec-box-top .box:not(:nth-of-type(1)) {
  border-left: 2px solid #FFF;
}
#main-top #driver .sec-box-top .title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #FFF;
  margin-bottom: 21px;
  text-align: center;
}
#main-top #driver .sec-box-top .box.single {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}
#main-top #driver .sec-box-top .box.single .image {
  max-width: 611px;
  width: 100%;
  aspect-ratio: 611/308;
  margin: 0 auto;
}
#main-top #driver .sec-box-top .box.single .btm-btn {
  position: absolute;
  max-width: 360px;
  bottom: 0;
  right: 0;
  gap: 0 8.8%;
  padding: 16px;
}
#main-top #driver .sec-box-top .box.double .bg {
  background: #FFF;
}
#main-top #driver .sec-box-top .box.double .top-btn {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: block;
  padding: 5px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 32px;
  position: relative;
  z-index: 2;
}
#main-top #driver .sec-box-top .box.double .top-btn .arrow {
  width: 16px;
  height: 18px;
  background: url("../img/common/arrow-g.svg") center/contain no-repeat;
}
#main-top #driver .sec-box-top .box.double .box-list {
  display: flex;
}
#main-top #driver .sec-box-top .box.double .box-item {
  width: 100%;
}
#main-top #driver .sec-box-top .box.double .box-item .image {
  height: 230px;
}
#main-top #driver .sec-box-top .box.double .box-item:nth-of-type(1) .image {
  background: #FEF0C6;
}
#main-top #driver .sec-box-top .box.double .box-item:nth-of-type(2) .image {
  background: #60D7EA;
  position: relative;
}
#main-top #driver .sec-box-top .box.double .box-item:nth-of-type(2) .image img {
  position: absolute;
  height: 113%;
  aspect-ratio: 200/260;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#main-top #driver .sec-box-top .box.double .box-item:not(:nth-of-type(1)) .image {
  border-left: 2px solid;
  -o-border-image: linear-gradient(180deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(180deg, #00A29A 0%, #00C4BB 100%) 1;
}
#main-top #driver .sec-box-top .box.double .box-item:not(:nth-of-type(1)) .btm-btn {
  border-left: 2px solid #FFF;
}
#main-top #driver .sec-box-top .box.double .btm-btn {
  gap: 0 5.8%;
}
#main-top #driver .sec-box-mid {
  border: 2px solid #FFF;
  margin-top: -2px;
  padding: 32px 20px 43px;
}
#main-top #driver .sec-box-mid .title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #FFF;
  margin-bottom: 32px;
  text-align: center;
}
#main-top #driver .sec-box-mid .box-list {
  display: flex;
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}
#main-top #driver .sec-box-mid .box-item {
  border: 2px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  width: 100%;
}
#main-top #driver .sec-box-mid .box-item:not(:nth-of-type(1)) {
  margin-left: -2px;
}
#main-top #driver .sec-box-mid .box-item .image {
  height: 218px;
  background: #E7F9F8;
}
#main-top #driver .sec-box-mid .box-item .btm-btn {
  gap: 0 7.4%;
}
#main-top #driver .sec-box-btm {
  padding: 32px 20px 0;
}
#main-top #driver .sec-box-btm .box-list {
  display: flex;
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}
#main-top #driver .sec-box-btm .box-item {
  width: 100%;
  border: 2px solid #FFF;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 146px;
}
#main-top #driver .sec-box-btm .box-item:not(:nth-of-type(1)) {
  margin-left: -2px;
}
#main-top #driver .sec-box-btm .box-item:nth-of-type(odd) {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
}
#main-top #driver .sec-box-btm .box-item:nth-of-type(even) {
  background: linear-gradient(180deg, #FFD776 0%, #FFB400 100%);
}
#main-top #driver .sec-box-btm .box-item .text {
  font-size: 4rem;
  font-weight: 700;
  color: #FFF;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  line-height: 1.5;
}
#main-top #driver .sec-box-btm .box-item .text::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 18px;
  background: url("../img/common/arrow-w.svg") center/contain no-repeat;
  right: -4.1rem;
  top: calc(50% - 9px);
}
#main-top #driver .sec-box-btm .box-item .image {
  position: absolute;
  width: 23.47%;
  min-width: 100px;
  bottom: 0;
  left: 8.3%;
}
#main-top #driver .sec-box-btm .box-item .image img {
  width: 100%;
}
#main-top #driver .sec-box-img {
  position: absolute;
  height: 785px;
  width: calc(100% + 99px);
  left: -99px;
  bottom: -785px;
}
#main-top #news {
  padding-top: 466px;
}
#main-top #news .sec-inner {
  display: grid;
  grid-template-columns: 284px 1fr;
  gap: 0 4.73%;
  margin-bottom: 90px;
}
#main-top #news .sec-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main-top #news .sec-box-left .btn {
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
     border-image: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%) 1;
  display: block;
  width: 100%;
  padding: 22px 8px 22px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 11.2%;
  position: relative;
  background: #FFF;
}
#main-top #news .sec-box-left .btn::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);
  z-index: -1;
}
#main-top #news .sec-box-left .btn .txt {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.4rem;
  font-weight: 700;
}
#main-top #news .sec-box-left .btn .arrow {
  width: 16px;
  height: 18px;
  background: url("../img/common/arrow-g.svg") center/contain no-repeat;
}
#main-top #news .sec-box-right {
  box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);
}
#main-top #news .sec-box-right .box-list {
  max-width: 798px;
  width: 100%;
  margin: 0 auto;
  padding: 56px 20px;
}
#main-top #news .sec-box-right .box-item {
  display: flex;
  align-items: center;
  padding: 19px 30px 19px 0;
  position: relative;
  gap: 20px 16px;
}
#main-top #news .sec-box-right .box-item .top {
  display: flex;
  gap: 0 24px;
  min-width: 286px;
}
#main-top #news .sec-box-right .box-item .date {
  font-size: 16px;
  font-family: "Jost", "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  color: #7D7D7D;
}
#main-top #news .sec-box-right .box-item .bg {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 162px;
  padding: 3px 8px;
  text-align: center;
}
#main-top #news .sec-box-right .box-item .bg-p {
  background: #C4A1EC;
}
#main-top #news .sec-box-right .box-item .bg-g {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
}
#main-top #news .sec-box-right .box-item .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
#main-top #news .sec-box-right .box-item .arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 18px;
  background: url("../img/common/arrow-g.svg") center/contain no-repeat;
}
#main-top #news .sec-box-img {
  height: 748px;
  width: calc(100% + 99px);
  margin-left: -99px;
}
#main-top #news .sec-box-img img {
  -o-object-position: bottom;
     object-position: bottom;
}
#main-top #banner {
  background: linear-gradient(90deg, #00A29A 0%, #00C4BB 100%);
  padding-top: 170px;
  padding-bottom: 524px;
}
#main-top #banner .sec-box {
  display: flex;
  gap: 0 3px;
}
#main-top #banner .sec-box .box-item {
  width: 100%;
  border: 3px solid #FFF;
  position: relative;
  aspect-ratio: 355/177;
}
#main-top #banner .sec-box .box-item::before {
  content: "";
  position: absolute;
  width: 51px;
  height: 51px;
  bottom: 0;
  right: 0;
  background: url(../img/index/check.svg);
}/*# sourceMappingURL=style.css.map */