// 共通コンテナ
.c-section {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 10rem;
   @include media('tb') {
    padding: 0;
  }
}
.c-inner {
  // max-width: 1430px;
  max-width: 147.8rem;
  padding: 0 2.4rem;
  margin: 0 auto;

  // &-max {
  //   max-width: 1920px;
  // }
  &-1250 {
    max-width: 125rem;
    margin: 0 auto;
  }
  
  @include media('full') {
    max-width: 1470px;

    &-1250 {
      max-width: 1250px;
    }
  }
}

// 共通タイトル
.c-title {
  .en {
    display: block;
    background: url(../img/common/bg-dot-80.png) top left/ .5982em .3em, #B4E5E3; /* /1217*2427 */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: $font_en;
    font-weight: 500;
    font-size: 9.6rem;
    line-height: 1;

    opacity: 0;
    -webkit-mask-image: linear-gradient(20deg, #fff 50%, rgba(255, 255, 255, 0) 55%);
    -webkit-mask-size: auto 500%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left -20%;
    mask-image: linear-gradient(20deg, #fff 50%, rgba(255, 255, 255, 0) 55%);
    mask-mode: alpha;
    mask-position: left -20%;
    mask-repeat: no-repeat;
    mask-size: auto 500%;
    // visibility: hidden;
    // transition: opacity 1s, visibility 1s, transform 1s;
  }
  .ja {
    display: block;
    background: $main_gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.5;
  }
  &.white .ja {
    background: none;
    color: #fff;
  }

  &.inview {
    .en {
      animation: aniShine 1.5s ease forwards;
    }
  }
  @include media('sp') {
   .en {
      font-size: 5.6rem;
    }
    .ja {
      font-size: 2.4rem;
    }
  }
}

.c-title-s {
  margin-bottom: 18px;
  text-align: center;

  .ja {
    display: block;
    background: $main_gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
  }
  .en {
    display: block;
    background: $gra_gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: $font_en;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }

  @include media('sp') {
    margin-bottom: 24px;
    
    .ja {
      font-size: 20px;
      font-size: clamp(20px, 5vw, 5vw);
    }
    .en {
      font-size: 16px;
      font-size: clamp(16px, 4vw, 4vw);
    }
  }
}

// グラデーションテキスト（メインカラー）
.c-text-gradient {
  background: $main_gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#heading {
  .sec-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    padding: 88px 0 0;
    // padding: 7rem 0 0;
    background: $main_gradient;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 26.56%;
      background: url(../img/common/bg-dot.png) top left/auto 260% repeat-x;
      opacity: .55;
    }
  }
  .sec-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }
  @include media('tb') {
    .sec-inner {
      padding-top: 62px;
    }
    .sec-title {
      font-size: clamp(0px, 4.8rem, 48px);
    }
  }
  @include media('sp') {
    .sec-inner {
      height: 260px;
    }
    .sec-title {
      font-size: 3.2rem;
    }
  }
}

.c-post {
  > *:first-child{
    margin-top: 0 !important;
  }
  > *:last-child{
    margin-bottom: 0 !important;
  }

  h1, h2, h3, h4, h5, h6{ margin: 1em 0 .5em; font-weight: bold; }
  h1, h2 { font-size: 26px; }
  h3 { font-size: 24px; }
  h4 { font-size: 22px; }
  h5 { font-size: 20px; }
  h6 { font-size: 18px; }
  p {
    min-height: 1em;
    margin-bottom: 1em;
  }
  ul { margin: 1em 0; padding-left: 1.5em; list-style: disc; }
  ul ul { margin: .5em; list-style: circle; }
  ol { margin: 1em 0; padding-left: 1.5em; list-style: decimal; }
  > .wp-block-image {
    margin-bottom: 3rem;
  }
}

.c-newslist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8.4rem;
  font-size: 14px;
  font-weight: 400;
  
  .img {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    padding-top: 44.67%;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 9px;
  }
  .date {
    display: inline-block;
    font-family: $font_en;
  }
  .bg {
    display: inline-block;
    color: $white_color;
    font-weight: 700;
    letter-spacing: .1em;
    display: inline-block;
    width: 162px;
    padding: 2px 8px 3px;
    background: $main_gradient;
    font-size: 16px;
    text-align: center;

    &.important {
      background: $sub_color;
    }
  }
  .title {
    position: relative;
    padding-right: 50px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    > span{
      display: block;
      max-width: 373px;
    }
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 9px);
      right: 0;
      width: 16px;
      height: 19px;
      background: url(../img/common/arrow-g.svg) center/contain no-repeat;
    }
  }
  @include media('tb') {
    gap: 5rem;
  }
  @include media('sp') {
    gap: 0 8px;

    .item {
      position: relative;
      padding-bottom: 44px;

      &::after {
        content: "";
        position: absolute;
        bottom: 16px;
        left: calc(50% - 8px);
        width: 16px;
        height: 19px;
        background: url(../img/common/arrow-g.svg) center/contain no-repeat;
      }
    }
    .title {
      padding: 0;

      &::after {
        content: none;
      }
    }
  }
}