#mv {
  position: relative;
  height: 100lvh;
  // background:  linear-gradient(180deg, #00A29A 0%, #00C4BB 100%);
  background: url(../img/index/mv-bg.jpg) center/cover no-repeat;
  overflow: hidden;

  // &::before{
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: calc(100% - 34px);
  //   background: url(../img/index/bg-img-mv.png) center / cover no-repeat;
  // }

  
  .sec-inner{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .sec-box{
    position: absolute;
    left: 0;
    // top: 943px;
    bottom: 306px;
    background: $white_color;
    border-radius: 8px;
    max-width: 563px;
    width: 100%;
    padding: 46px 16px;

    .container{
      max-width: 459px;
      width: 100%;
      margin: 0 auto;
      padding-left: 158px;
    }
    .top{
      position: relative;
      display: flex;
    }
    .bg{
      position: absolute;
      left: -158px;
      top: 0;
      display: inline-block;
      color: $white_color;
      font-size: 16px;
      font-weight: 700;
      width: 138px;
      padding: 0 8px;
      text-align: center;
      background: #C4A1EC;
    }
    .date{
      font-size: 14px;
      color: $gray_color;
      line-height: 1.21;
    }
    .text{
      font-size: 16px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }

  .sec-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .item {
      position: relative;
      width: 100%;
      height: 100lvh;
      overflow: hidden;
      
      img {
        position: absolute;
        top: -7.53%;
        left: -36.66%;
        width: 154.12%;
        height: 103.94%;
        object-position: top;
      }
    }
  }

  .sec-line {
    position: absolute;
    width: 112.10vw;
    height: 35.83vw;
    left: -6vw;
    bottom: 0;

    object {
      object-position: top;
    }
  }
}

#driver{
  background:  linear-gradient(180deg, #01C2B9 0%, #00C4BB00 100%);
  padding-top: 72px;
  padding-bottom: 614px;
  // padding-bottom: 516px;

  .btm-btn{
    width: 100%;
    min-height: 90px;
    height: fit-content;
    background: $green_dark_color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .txt{
      font-size: 2.4rem;
      font-weight: 700;
      color: $white_color;
      line-height: 1.2;
    }
    .arrow{
      width: 16px;
      height: 18px;
      background: url("../img/common/arrow-w.svg") center / contain no-repeat;
    }
  }
  .sec-inner{
    position: relative;
  }
  .sec-title{
    margin-bottom: 48px;
  }
  .sec-box-top{
    display: grid;
    grid-template-columns: 717fr 1108fr;
    border: 2px solid $white_color;

    .box{
      padding-top: 21px;

      &:not(:nth-of-type(1)){
        border-left: 2px solid $white_color;
      }
    }
    .title{
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      margin-bottom: 21px;
      text-align: center;
    }
    .box.single{
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 20px;
      position: relative;

      .image{
        max-width: 611px;
        width: 100%;
        aspect-ratio: 611/308;
        margin: 0 auto;
      }
      .btm-btn{
        position: absolute;
        max-width: 360px;
        bottom: 0;
        right: 0;
        gap: 0 8.8%;
        padding: 16px;
      }
    }
    .box.double{

      .bg{
        background: $white_color
      }
      .top-btn{
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        display: block;
        padding: 5px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 32px;
        position: relative;
        z-index: 2;

        .arrow{
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-g.svg") center / contain no-repeat;
        }
      }
      .box-list{
        display: flex;
      }
      .box-item{
        width: 100%;

        .image{
          height: 230px;
        }
        &:nth-of-type(1){
          .image{
            background: #FEF0C6;
          }
        }
        &:nth-of-type(2){
          .image{
            background: #60D7EA;
            position: relative;

            img{
              position: absolute;
              height: 113%;
              aspect-ratio: 200/260;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
        &:not(:nth-of-type(1)){
          .image{
            border-left: 2px solid;
            border-image: linear-gradient(180deg, #00A29A 0%, #00C4BB 100%) 1;
          }
          .btm-btn{
            border-left: 2px solid $white_color;
          }
        }
      }
      .btm-btn{
        gap: 0 5.8%;
      }
    }
    
  }
  .sec-box-mid{
    border: 2px solid $white_color;
    margin-top: -2px;
    padding: 32px 20px 43px;

    .title{
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      margin-bottom: 32px;
      text-align: center;
    }
    .box-list{
      // display: flex;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      max-width: 1720px;
      width: 100%;
      margin: 0 auto;
    }
    .box-item{
      border-left: 2px solid;
      border-top: 2px solid;
      border-image: $main_gradient 1;
      width: 100%;

      &:nth-last-of-type(1){
        border-right: 2px solid;
      }
      .image{
        height: 218px;
        background: #E7F9F8;
      }
      .btm-btn{
        gap: 0 7.4%;
      }
    }
  }
  .sec-box-btm{
    padding: 32px 20px 0;

    .box-list{
      display: flex;
      max-width: 1720px;
      width: 100%;
      margin: 0 auto;
    }
    .box-item{
      width: 100%;
      border: 2px solid $white_color;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 146px;

      &:not(:nth-of-type(1)){
        margin-left: -2px;
      }
      &:nth-of-type(odd){
        background: $main_gradient;
      }
      &:nth-of-type(even){
        background: $gra_gradient;
      }
      .text{
        font-size: 4rem;
        font-weight: 700;
        color: $white_color;
        display: inline-block;
        width: fit-content;
        position: relative;
        line-height: 1.5;

        &::after{
          position: absolute;
          content: "";
          display: inline-block;
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-w.svg") center / contain no-repeat;
          right: -4.1rem;
          top: calc(50% - 9px);
        }
      }
      .image{
        position: absolute;
        width: 23.47%;
        min-width: 100px;
        // width: 135px;
        bottom: 0;
        left: 8.3%;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .sec-box-img{
    position: absolute;
    height: 614px;
    width: calc(100% + 99px);
    left: -99px;
    bottom: -614px;
    img{
      object-position: center 74%;
    }
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 400px;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, .3));
    }
  }
  @include media('tb') {
  }
  @include media('sp') {
    background:  $main_gradient;
    padding-top: 72px;
    padding-bottom: 427px;
    // padding-bottom: 516px;

    .btm-btn{
      // width: 100%;
      // height: 90px;
      height: auto;
      min-height: 52px;
      // background: $green_dark_color;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      padding: 8px;

      .txt{
        // font-size: 2.4rem;
        font-size: 16px;
        // font-weight: 700;
        // color: $white_color;
        .large{
          font-size: 2rem;
        }
      }
      .arrow{
        // width: 16px;
        // height: 18px;
        // background: url("../img/common/arrow-w.svg") center / contain no-repeat;
      }
    }
    .sec-inner{
      // position: relative;
    }
    .sec-title{
      margin-bottom: 16px;
    }
    .sec-box-top{
      // display: grid;
      grid-template-columns: 1fr;
      border-left: none;
      border-right: none;
      border-top: 1px solid $white_color;
      border-bottom: 1px solid $white_color;

      .box{
        padding-top: 24px;

        &:not(:nth-of-type(1)){
          border-left: none;
        }
      }
      .title{
        font-size: 3rem;
        // font-weight: 700;
        // line-height: 1.5;
        // color: $white_color;
        margin-bottom: 16px;
        // text-align: center;
      }
      .box.single{
        // padding-left: 24px;
        // padding-right: 24px;
        padding-bottom: 40px;
        // position: relative;
        border-bottom: 1px solid $white_color;

        .image{
          // max-width: 611px;
          // width: 100%;
          // aspect-ratio: 611/308;
          // margin: 0 auto;
        }
        .btm-btn{
          position: absolute;
          max-width: 203px;
          // bottom: 0;
          // right: 0;
          gap: 0 12.3%;
          padding: 12px 8px;
        }
        .arrow{
          width: 7px;
        }
      }
      .box.double{

        .bg{
          // background: $white_color
        }
        .top-btn{
          // text-align: center;
          font-size: 18px;
          // font-weight: 700;
          // background: $main_gradient;
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          // text-align: center;
          // display: block;
          padding: 11px 16px;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          // gap: 0 32px;
          // position: relative;
          // z-index: 2;

          .arrow{
            // width: 16px;
            // height: 18px;
            // background: url("../img/common/arrow-g.svg") center / contain no-repeat;
          }
        }
        .box-list{
          // display: flex;
        }
        .box-item{
          // width: 100%;

          .image{
            height: 160px;
          }
          &:nth-of-type(1){
            .image{
              // background: #FEF0C6;
            }
          }
          &:nth-of-type(2){
            .image{
              // background: #60D7EA;
              // position: relative;

              img{
                // position: absolute;
                height: 100%;
                // aspect-ratio: 200/260;
                // bottom: 0;
                // left: 50%;
                // transform: translateX(-50%);
              }
            }
          }
          &:not(:nth-of-type(1)){
            .image{
              border-left: 1px solid;
              // border-image: linear-gradient(180deg, #00A29A 0%, #00C4BB 100%) 1;
            }
            .btm-btn{
              border-left: 1px solid $white_color;
            }
          }
        }
        .btm-btn{
          // justify-content: center;
          gap: 0 11%;
        }
      }
    }
    .sec-box-mid{
      border-top: 1px solid $white_color;
      border-bottom: 1px solid $white_color;
      border-left: none;
      border-right: none;
      margin-top: -1px;
      padding: 24px 0 33px;

      .title{
        font-size: 3rem;
        // font-weight: 700;
        // line-height: 1.5;
        // color: $white_color;
        margin-bottom: 16px;
        // text-align: center;
      }
      .box-list{
        // display: flex;
        // display: grid;
        grid-template-columns: repeat(2, 1fr);
        // max-width: 1720px;
        // width: 100%;
        // margin: 0 auto;
      }
      .box-item{
        border-right: 1px solid;
        border-top: 1px solid;
        border-left: none;
        // border-image: $main_gradient 1;
        // width: 100%;

        &:nth-last-of-type(1){
          border-right: 1px solid;
        }
        .image{
          height: 160px;
          // background: #E7F9F8;
        }
        .btm-btn{
          gap: 0 11%;
        }
      }
    }
    .sec-box-btm{
      padding: 0;

      .box-list{
        // display: flex;
        flex-direction: column;
        // max-width: 1720px;
        // width: 100%;
        // margin: 0 auto;
      }
      .box-item{
        // width: 100%;
        border: 1px solid $white_color;
        padding: 0 20px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // position: relative;
        height: 102px;

        &:not(:nth-of-type(1)){
          margin-left: 0;
          margin-top: 33px;
        }
        &:nth-of-type(odd){
          // background: $main_gradient;
        }
        &:nth-of-type(even){
          // background: $gra_gradient;
        }
        .text{
          font-size: 3rem;
          // font-weight: 700;
          // color: $white_color;
          // display: inline-block;
          // width: fit-content;
          // position: relative;
          // line-height: 1.5;

          &::after{
            // position: absolute;
            // content: "";
            // display: inline-block;
            width: 20px;
            height: 23px;
            // background: url("../img/common/arrow-w.svg") center / contain no-repeat;
            right: -5.2rem;
            top: calc(50% - 11px);
          }
        }
        .image{
          // position: absolute;
          max-width: 106px;
          width: auto;
          min-width: auto;
          height: 132px;
          // width: 135px;
          bottom: 0;
          // left: 8.3%;

          img{
            // width: 100%;
            // height: 100%;
          }
        }
      }
    }
    .sec-box-img{
      // position: absolute;
      // position: static;
      height: 427px;
      width: 102%;
      min-width: 698px;
      // left: 50%;
      // transform: translateX(-50%);
      // transform: translateX(calc(0px - (900px - 100vw) / (500 / -57)));
      transform: translateX(calc(0px - (768px - 100vw) / (368 / -57)));
      right: 0;
      left: auto;
      bottom: -427px;
      img{
        // object-position: top 30%;
        object-position: right 144%;
        // object-position: center;
      }
      &::before{
        display: none;
        // position: absolute;
        // content: "";
        // width: 100%;
        // height: 400px;
        // bottom: 0;
        // left: 0;
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, .3));
      }
    }
  }
}
#news{
  padding-top: 366px;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 402px;
    top: 25px;
    left: 0;
    background:  url(../img/index/fig-news-1-pc.png) center / cover no-repeat;
    z-index: 3;
  }
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 744px;
    top: -354px;
    left: 0;
    background:  url(../img/index/fig-news-2-pc.png) center / cover no-repeat;
    z-index: 2;
  }
  .sec-inner{
    display: grid;
    grid-template-columns: 284px 1fr;
    gap: 0 4.73%;
    margin-bottom: 90px;
  }
  .sec-box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn{
      border: 1px solid;
      border-image: $main_gradient 1;
      display: block;
      width: 100%;
      padding: 22px 8px 22px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 11.2%;
      position: relative;
      background: $white_color;

      &::before{
        content: "";
        position: absolute;
        top: -1px;         
        left: 0;
        right: 0;
        height: 2px;       
        width: 100%;
        box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);
        z-index: -1;
      }
      .txt{
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.4rem;
        font-weight: 700;
      }
      .arrow{
        width: 16px;
        height: 18px;
        background: url("../img/common/arrow-g.svg") center / contain no-repeat;
      }
    }
  }
  .sec-box-right{
    box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);

    .box-list{
      max-width: 798px;
      width: 100%;
      margin: 0 auto;
      padding: 56px 20px;
    }
    .box-item{
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
      padding: 19px 30px 19px 0;
      position: relative;
      gap: 20px 16px;

      .top{
        display: flex;
        gap: 0 24px;
        min-width: 286px;
      }
      .date{
        font-size: 16px;
        font-family: $font_en;
        color: $gray_color;
      }
      .bg{
        color: $white_color;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: .1em;
        display: inline-block;
        width: 162px;
        padding: 3px 8px;
        text-align: center;

        &-p{
          background: #C4A1EC;
        }
        &-g{
          background: $main_gradient;
        }
      }
      .text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: .1em;
      }
      .arrow{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 18px;
        background: url("../img/common/arrow-g.svg") center / contain no-repeat;
      }
    }
  }
  .sec-box-img{
    height: 748px;
    width: calc(100% + 99px);
    margin-left: -99px;

    img{
      object-position: bottom;
    }
  }
  @include media('tb') {
  }
  @include media('sp') {
    padding-top: 80px;
    // position: relative;

    &::before{
      // content: "";
      // position: absolute;
      // width: 100%;
      width: 115%;
      min-width: 480px;
      // width: 256%;
      height: auto;
      
      aspect-ratio: 720/244;
      // top: -65px;
      top: calc(-100px - (768px - 100vw) / (368 / -35));
      right: 0;
      left: auto;
      background:  url(../img/index/fig-news-1-sp.png) right center / cover no-repeat;
      // z-index: 3;
      // display: none;
    }
    &::after{
      // content: "";
      // position: absolute;
      width: 100%;
      min-width: 996px;
      aspect-ratio: 1495/524;
      height: auto;
      top: -239px;
      // top: calc(-90px - (768px - 100vw) / (268 / 149));
      left: 50%;
      transform: translateX(-50%);
      background:  url(../img/index/fig-news-2-sp.png) center / cover no-repeat;
      z-index: 4;
    }
    .sec-inner{
      display: grid;
      grid-template-columns: 284px 1fr;
      gap: 0 4.73%;
      margin-bottom: 90px;
    }
    .sec-box-left{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn{
        border: 1px solid;
        border-image: $main_gradient 1;
        display: block;
        width: 100%;
        padding: 22px 8px 22px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 11.2%;
        position: relative;
        background: $white_color;

        &::before{
          content: "";
          position: absolute;
          top: -1px;         
          left: 0;
          right: 0;
          height: 2px;       
          width: 100%;
          box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);
          z-index: -1;
        }
        .txt{
          background: $main_gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .arrow{
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-g.svg") center / contain no-repeat;
        }
      }
    }
    .sec-box-right{
      box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);

      .box-list{
        max-width: 798px;
        width: 100%;
        margin: 0 auto;
        padding: 56px 20px;
      }
      .box-item{
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        padding: 19px 30px 19px 0;
        position: relative;
        gap: 20px 16px;

        .top{
          display: flex;
          gap: 0 24px;
          min-width: 286px;
        }
        .date{
          font-size: 16px;
          font-family: $font_en;
          color: $gray_color;
        }
        .bg{
          color: $white_color;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: .1em;
          display: inline-block;
          width: 162px;
          padding: 3px 8px;
          text-align: center;

          &-p{
            background: #C4A1EC;
          }
          &-g{
            background: $main_gradient;
          }
        }
        .text{
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: .1em;
        }
        .arrow{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-g.svg") center / contain no-repeat;
        }
      }
    }
    .sec-box-img{
      height: 748px;
      width: calc(100% + 99px);
      margin-left: -99px;

      img{
        object-position: bottom;
      }
    }
    
  }
}
#banner{
  background: $main_gradient;
  padding-top: 170px;
  padding-bottom: 524px;

  .sec-box{
    display: flex;
    gap: 0 3px;

    .box-item{
      width: 100%;
      border: 3px solid $white_color;
      position: relative;
      aspect-ratio: 355/177;

      &::before{
        content: "";
        position: absolute;
        width: 51px;
        height: 51px;
        bottom: 0;
        right: 0;
        background: url(../img/index/check.svg);
      }
    }
  }
  @include media('tb') {
  }
  @include media('sp') {
    
  }
}


