#loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  // background: $main_gradient;
  transition: transform 2s ease-out;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 117.81vw;
    height: 140.24lvh;
    min-height: 101.82vw;
    background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%222263%22%20height%3D%221956%22%20viewBox%3D%220%200%202263%201956%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1222.91%201574.04C786.515%201376.84%20395.701%201737.33%20242.534%201849.5C159.57%201899.85%2076.393%201932.89%200%201955.81L0.000976562%200H2262.42L2262.41%201410.1C1559.91%201312.6%201768.41%201820.54%201222.91%201574.04Z%22%20fill%3D%22url(%23paint0_linear_5452_13114)%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_5452_13114%22%20x1%3D%221131.21%22%20y1%3D%22676.995%22%20x2%3D%221131.21%22%20y2%3D%221955.79%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%2300A29A%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300C4BB%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E') right bottom/cover no-repeat;
    transition: transform 1.8s ease-out;
    z-index: -1;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 20rem;
    transform: translate(-50%, -50%);
  }

  &.hide {
    transform: translateY(-100%);

    &::after {
      transform: translateY(-50%);
    }
  }
}

#mv {
  position: relative;
  // height: 120lvh;
  // background:  linear-gradient(180deg, #00A29A 0%, #00C4BB 100%);
  background: url(../img/index/mv-bg.jpg) center/cover no-repeat;
  overflow: hidden;

  // &::before{
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: calc(100% - 34px);
  //   background: url(../img/index/bg-img-mv.png) center / cover no-repeat;
  // }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #C9F4F2;
    pointer-events: none;
    z-index: 5;
    opacity: 0;
    transition: opacity 1s .5s;
  }
  &.hide::before {
    opacity: 1;
  }
  

  .sec-slide {
    .item {
      position: relative;
      width: 100%;
      height: 120lvh;
      overflow: hidden;
      
      img {
        position: absolute;
        top: -7.53%;
        left: -36.66%;
        width: 154.12%;
        height: 103.94%;
        object-position: top;
      }
    }
  }

  .sec-inner{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: calc(100lvh - 225px);
    padding-left: 10rem;
    z-index: 2;
  }

  .sec-img-1 {
    position: absolute;
    top: 21.7rem;
    top: clamp(21.7rem, 20lvh, 20lvh);
    left: 24.8rem;
    width: 87.3rem;
    height: 16.2rem;
  }
  .sec-img-2 {
    position: absolute;
    top: 26.5rem;
    top: clamp(26.5rem, 24lvh, 24lvh);
    left: 114.2rem;
    width: 53.3rem;
    background: #fff;
    border: 1rem solid #fff;
  }

  .sec-scroll {
    // opacity: 1;
    // transition: .2s ease opacity;
    // position: absolute;
    // top: 58lvh;
    // left: 11.2rem;
    margin-left: calc(1.2rem - 172px);
    pointer-events: none;
    user-select: none;
    width: 172px;
    padding-bottom: 4px;
    transform: rotate(90deg);
    transform-origin: right bottom;
    color: #C9F4F2;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    z-index: 10;

    &-line {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 2px;
      background: #C9F4F2;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 30px;
        margin: auto;
        height: 2px;
        background: #fff;
        animation: 1s linear ScrollSuggestionLinePc infinite;
      }
    }
  }

  .sec-news {
    // position: absolute;
    // top: calc(58lvh + 172px + 52px);
    // left: 10rem;
    width: 563px;
    margin-top: 22px;
    
    &-inner {
      padding: 43px 40px 43px 50px;
      background: #fff;
      border-radius: 8px;
    }

    &-item {
      display: grid;
      grid-template-columns: 161px 1fr;
      align-items: start;
      justify-items: start;

      + .sec-news-item {
        margin-top: 20px;
      }

      .cat {
        display: inline-block;
        padding: 0 6px;
        background: $sub_color;
        color: #fff;
        font-weight: bold;
        line-height: 1.6;
        padding-bottom: .1em;
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 1.5;
        overflow: hidden;
      }

      .date {
        color: #7D7D7D;
        font-size: 14px;
      }

      .text {
        display: block;
        width: 100%;
        overflow: hidden;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .sec-box {
    position: absolute;
    left: 0;
    // top: 943px;
    bottom: 306px;
    background: $white_color;
    border-radius: 8px;
    max-width: 563px;
    width: 100%;
    padding: 46px 16px;

    .container{
      max-width: 459px;
      width: 100%;
      margin: 0 auto;
      padding-left: 158px;
    }
    .top{
      position: relative;
      display: flex;
    }
    .bg{
      position: absolute;
      left: -158px;
      top: 0;
      display: inline-block;
      color: $white_color;
      font-size: 16px;
      font-weight: 700;
      width: 138px;
      padding: 0 8px;
      text-align: center;
      background: #C4A1EC;
    }
    .date{
      font-size: 14px;
      color: $gray_color;
      line-height: 1.21;
    }
    .text{
      font-size: 16px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }

  .sec-line {
    position: absolute;
    width: 112.10vw;
    min-width: 154.41lvh;
    // height: 35.83%;
    height: 28.02vw;
    min-height: 38.59lvh;
    left: 50%;
    // bottom: 0;
    bottom: 10.76%;
    transform: translateX(-50%);
    
    &.active {
      background: url(../img/index/mv-line.svg) top/cover no-repeat;
    }

    // object {
    //   object-position: top;
    // }

  }

  @include media('tb') {
    .sec-inner {
      flex-direction: column-reverse;
      // height: auto;
      // min-height: 100lvh;
      padding-top: 0;
      padding-left: 0;
    }
    .sec-img-1 {
      top: 15rem;
      left: 5rem;
      width: 45rem;
      height: auto;
    }
    .sec-img-2 {
      top: 18rem;
      left: 55rem;
      width: 35rem;
      border-width: .6rem;
    }
    .sec-news {
      max-width: calc(100% - 4rem);
      min-height: calc(23lvh + 80px);
      
      &-inner {
        padding: 17px 27px 16px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &-item {
        display: block;
        font-size: 14px;
      }
      .date {
        margin-right: 8px;
      }
      .cat {
        padding: 0 13px;
        line-height: 1.6;
      }
    }
  }
  @include media('sp') {
    .sec-slide {
      .item {
        height: 110lvh;

        img {
          top: -5%;
          left: 30%;
          width: 174lvh;
          min-width: 240vw;
          height: 100%;
          transform: translateX(-55%);
        }
      }
    }
    .sec-img-1 {
      top: 210px;
      left: 0;
      width: 100%;
      height: 135px;

      img {
        object-position: top;
      }
    }
    .sec-img-2 {
      top: 122px;
      left: 50%;
      width: 352px;
      max-width: calc(100% - 4.8rem);
      margin: 0 auto;
      border-width: .6rem;
      transform: translateX(-50%);
    }
    .sec-inner::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4%;
      width: 100%;
      height: 38.75vw;
      background: url(../img/index/mv-deco.svg) bottom/contain no-repeat;
      pointer-events: none;
      z-index: -1;
    }
    .sec-news {
      min-height: calc(12lvh + 80px);
    }
    .sec-line {
      bottom: 7%;
      left: 30%;
      width: 1280px;
      height: 320px;
      transform: translateX(-55%);
    }
  }
}

#driver{
  background:  linear-gradient(180deg, #01C2B9 0%, #00C4BB00 100%);
  padding-top: 7.2rem;
  // padding-bottom: 100lvh;
  // padding-bottom: 516px;

  .btm-btn{
    position: relative;
    width: 100%;
    min-height: 9rem;
    height: fit-content;
    background: $green_dark_color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow: hidden;
    z-index: 2;

    .txt{
      font-size: 2.4rem;
      font-size: clamp(16px, 2.4rem, 2.4rem);
      font-weight: 700;
      color: $white_color;
      line-height: 1.2;
      transition: color .2s cubic-bezier(0.45, 0, 0.55, 1);
    }
    .arrow{
      width: 16px;
      height: 18px;
      background: url("../img/common/arrow-w.svg") center / contain no-repeat;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 300%;
      background: #fff;
      transform: skewY(-10deg) scale(1, 0);
      transform-origin: left top;
      transition: transform .2s cubic-bezier(0.45, 0, 0.55, 1);
      z-index: -1;
    }
  }

  a:hover {
    .btm-btn {
      &::before {
        transform: skewY(-10deg) scale(1, 1);
      }
      .txt {
        color: $green_dark_color;
      }
    }
    .arrow {
      background-image: url(../img/common/arrow-g.svg);
    }
  }

  .sec-inner{
    position: relative;
  }
  .sec-title{
    margin-bottom: 48px;
  }
  .sec-box-top{
    display: grid;
    grid-template-columns: 717fr 1108fr;

    .box{
      padding-top: 21px;
      border-top: 2px solid $white_color;
      border-bottom: 2px solid $white_color;

      &:not(:nth-child(1)){
        border-left: 2px solid $white_color;
      }
    }
    .title{
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      margin-bottom: 21px;
      text-align: center;
    }
    .box.single{
      padding-left: 2.4rem;
      padding-right: 2.4rem;
      padding-bottom: 2rem;
      position: relative;

      .image{
        max-width: 61rem;
        width: 100%;
        aspect-ratio: 611/308;
        margin: 0 auto;
      }
      .btm-btn{
        position: absolute;
        max-width: 36rem;
        bottom: 0;
        right: 0;
        gap: 0 8.8%;
        padding: 16px;
      }
    }
    .box.double{

      .bg{
        background: $white_color
      }
      .top-btn{
        text-align: center;
        font-size: 2.4rem;
        font-size: clamp(16px, 2.4rem, 2.4rem);
        font-weight: 700;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        display: block;
        padding: 5px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 32px;
        position: relative;
        z-index: 2;

        .arrow{
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-g.svg") center / contain no-repeat;
        }
      }
      .box-list{
        display: flex;
      }
      .box-item{
        width: 100%;

        .image{
          height: 23rem;
        }
        &:nth-of-type(1){
          .image{
            background: #FEF0C6;
          }
        }
        &:nth-of-type(2){
          .image{
            background: #60D7EA;
            position: relative;

            img{
              position: absolute;
              height: 113%;
              aspect-ratio: 200/260;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
        &:not(:nth-of-type(1)){
          .image{
            border-left: 2px solid;
            border-image: linear-gradient(180deg, #00A29A 0%, #00C4BB 100%) 1;
          }
          .btm-btn{
            border-left: 2px solid $white_color;
          }
        }
      }
      .btm-btn{
        gap: 0 5.8%;
      }
    }
    
  }
  .sec-box-mid{
    border-bottom: 2px solid $white_color;
    margin-top: -2px;
    padding: 32px 20px 43px;

    .title{
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: $white_color;
      margin-bottom: 32px;
      text-align: center;
    }
    .box-list{
      // display: flex;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      max-width: 172rem;
      width: 100%;
      margin: 0 auto;
    }
    .box-item{
      border-left: 2px solid;
      border-top: 2px solid;
      border-image: $main_gradient 1;
      width: 100%;

      &:nth-last-of-type(1){
        border-right: 2px solid;
      }
      .image{
        height: 21.8rem;
        background: #E7F9F8;
      }
      .btm-btn{
        gap: 0 7.4%;
        border-top: 1px solid $green_dark_color;
        border-bottom: 1px solid $green_dark_color;
      }
    }
  }
  .sec-box-btm{
    padding: 32px 20px 0;

    .box-list{
      display: flex;
      max-width: 172rem;
      width: 100%;
      margin: 0 auto;
    }
    .box-item{
      width: 100%;
      border: 2px solid $white_color;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 14.6rem;

      &:not(:nth-of-type(1)){
        margin-left: -2px;
      }
      &:nth-of-type(odd){
        background: $main_gradient;
      }
      &:nth-of-type(even){
        background: $gra_gradient;
      }
      .text{
        font-size: 4rem;
        font-weight: 700;
        color: $white_color;
        display: inline-block;
        width: fit-content;
        position: relative;
        line-height: 1.5;
        transition: opacity .3s;

        &::after{
          position: absolute;
          content: "";
          display: inline-block;
          width: 16px;
          height: 18px;
          background: url("../img/common/arrow-w.svg") center / contain no-repeat;
          right: -4.1rem;
          top: calc(50% - 9px);
        }
      }
      .image{
        position: absolute;
        width: 23.47%;
        min-width: 100px;
        // width: 135px;
        bottom: 0;
        left: 8.3%;

        img{
          width: 100%;
          height: 100%;
        }
      }

      &:hover > .text {
        opacity: .63;
      }
    }
  }
  .sec-box-img{
    position: relative;
    // position: absolute;
    height: 100lvh;
    width: 100vw;
    left: auto;
    right: 0;
    // bottom: -61.4rem;
    clip-path: inset(0 0 2px);

    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(180deg, #ffffff00 0%, #ffffff 100%);
    }

    img{
      position: fixed;
      top: 80px;
      left: 0;
      height: calc(100% - 80px);
      object-position: top center;
      z-index: -1;
    }
  }
  @include media('tb') {
    .sec-box-top .box.single{
      padding-left: 0;
      padding-right: 0;

      .image{
        height: 65%;
        aspect-ratio: auto;
      }
    }
  }
  @include media('sp') {
    background:  $main_gradient;
    padding-top: 72px;
    // padding-bottom: 427px;
    // padding-bottom: 516px;

    .btm-btn{
      // width: 100%;
      // height: 90px;
      height: auto;
      min-height: 52px;
      // background: $green_dark_color;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      padding: 8px;

      .txt{
        // font-size: 2.4rem;
        font-size: 16px;
        // font-weight: 700;
        // color: $white_color;
        .large{
          font-size: 2rem;
        }
      }
      .arrow{
        // width: 16px;
        // height: 18px;
        // background: url("../img/common/arrow-w.svg") center / contain no-repeat;
      }
    }
    .sec-inner{
      // position: relative;
    }
    .sec-title{
      margin-bottom: 16px;
      padding: 0 2.4rem;
    }
    .sec-box-top{
      // display: grid;
      grid-template-columns: 1fr;
      border-left: none;
      border-right: none;
      border-top: 1px solid $white_color;
      border-bottom: 1px solid $white_color;

      .box{
        padding-top: 24px;
        border: none;

        &:not(:nth-child(1)){
          border-left: none !important;
        }
      }
      .title{
        font-size: 3rem;
        // font-weight: 700;
        // line-height: 1.5;
        // color: $white_color;
        margin-bottom: 16px;
        // text-align: center;
      }
      .box.single{
        // padding-left: 24px;
        // padding-right: 24px;
        padding-bottom: 40px;
        // position: relative;
        border: none;
        border-bottom: 1px solid $white_color;

        .image{
          // max-width: 611px;
          // width: 100%;
          // aspect-ratio: 611/308;
          // margin: 0 auto;
          height: auto;
        }
        .btm-btn{
          position: absolute;
          max-width: 203px;
          // bottom: 0;
          // right: 0;
          gap: 0 12.3%;
          padding: 12px 8px;
        }
        .arrow{
          width: 7px;
        }
      }
      .box.double{

        .bg{
          // background: $white_color
        }
        .top-btn{
          // text-align: center;
          font-size: 18px;
          // font-weight: 700;
          // background: $main_gradient;
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          // text-align: center;
          // display: block;
          padding: 11px 16px;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          // gap: 0 32px;
          // position: relative;
          // z-index: 2;

          .arrow{
            // width: 16px;
            // height: 18px;
            // background: url("../img/common/arrow-g.svg") center / contain no-repeat;
          }
        }
        .box-list{
          // display: flex;
        }
        .box-item{
          // width: 100%;

          .image{
            height: 16rem;
          }
          &:nth-of-type(1){
            .image{
              // background: #FEF0C6;
            }
          }
          &:nth-of-type(2){
            .image{
              // background: #60D7EA;
              // position: relative;

              img{
                // position: absolute;
                height: 100%;
                // aspect-ratio: 200/260;
                // bottom: 0;
                // left: 50%;
                // transform: translateX(-50%);
              }
            }
          }
          &:not(:nth-of-type(1)){
            .image{
              border-left: 1px solid;
              // border-image: linear-gradient(180deg, #00A29A 0%, #00C4BB 100%) 1;
            }
            .btm-btn{
              border-left: 1px solid $white_color;
            }
          }
        }
        .btm-btn{
          // justify-content: center;
          gap: 0 11%;
        }
      }
    }
    .sec-box-mid{
      border-top: 1px solid $white_color;
      // border-bottom: 1px solid $white_color;
      border-bottom: none;
      border-left: none;
      border-right: none;
      margin-top: -1px;
      padding: 24px 0 33px;

      .title{
        font-size: 3rem;
        // font-weight: 700;
        // line-height: 1.5;
        // color: $white_color;
        margin-bottom: 16px;
        // text-align: center;
      }
      .box-list{
        // display: flex;
        // display: grid;
        grid-template-columns: repeat(2, 1fr);
        // max-width: 1720px;
        // width: 100%;
        // margin: 0 auto;
        overflow: hidden;
      }
      .box-item{
        border-right: 1px solid;
        border-top: 1px solid;
        border-left: none;
        // border-image: $main_gradient 1;
        // width: 100%;

        &:nth-last-of-type(1){
          border-right: 1px solid;
        }
        .image{
          height: 16rem;
          // background: #E7F9F8;
        }
        .btm-btn{
          position: relative;
          gap: 0 11%;
        }
        &:nth-child(2n-1) .btm-btn{
          border-right: 1px solid #fff;
          width: calc(100% + 1px);
        }
      }
    }
    .sec-box-btm{
      padding: 0;

      .box-list{
        // display: flex;
        flex-direction: column;
        // max-width: 1720px;
        // width: 100%;
        // margin: 0 auto;
      }
      .box-item{
        // width: 100%;
        border: 1px solid $white_color;
        padding: 0 20px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // position: relative;
        height: 10rem;

        &:not(:nth-of-type(1)){
          margin-left: 0;
          margin-top: 33px;
        }
        &:nth-of-type(odd){
          // background: $main_gradient;
        }
        &:nth-of-type(even){
          // background: $gra_gradient;
        }
        .text{
          font-size: 3rem;
          // font-weight: 700;
          // color: $white_color;
          // display: inline-block;
          // width: fit-content;
          // position: relative;
          // line-height: 1.5;

          &::after{
            // position: absolute;
            // content: "";
            // display: inline-block;
            width: 20px;
            height: 23px;
            // background: url("../img/common/arrow-w.svg") center / contain no-repeat;
            right: -5.2rem;
            top: calc(50% - 11px);
          }
        }
        .image{
          // position: absolute;
          max-width: 106px;
          width: auto;
          min-width: auto;
          height: 13.2rem;
          // width: 135px;
          bottom: 0;
          // left: 8.3%;

          img{
            // width: 100%;
            // height: 100%;
          }
        }
      }
    }
    .sec-box-img{
      img{
        top: 60px;
        left: auto;
        right: -15%;
        width: 115%;
        height: calc(100% - 60px);
        // object-position: right 144%;
        object-position: right;
      }
      &::before{
        display: none;
      }
    }
  }
}
#news{
  padding-top: 36.6rem;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 40rem;
    top: 25px;
    left: 0;
    background:  url(../img/index/fig-news-1-pc.png) center / cover no-repeat;
    z-index: 3;
    pointer-events: none;
  }
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 744px;
    top: -354px;
    left: 0;
    background:  url(../img/index/fig-news-2-pc.png) center / cover no-repeat;
    z-index: 2;
    pointer-events: none;
  }
  .sec-inner{
    display: grid;
    grid-template-columns: 28.4rem 1fr;
    gap: 0 4.73%;
    margin-bottom: 90px;
  }
  .sec-box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn{
      border: 1px solid;
      border-image: $main_gradient 1;
      display: block;
      width: 100%;
      padding: 22px 8px 22px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 11.2%;
      position: relative;
      background: $white_color;

      &::before{
        content: "";
        position: absolute;
        top: -1px;         
        left: 0;
        right: 0;
        height: 2px;       
        width: 100%;
        box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);
        z-index: -1;
      }
      .txt{
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.4rem;
        font-size: clamp(16px, 2.4rem, 2.4rem);
        font-weight: 700;
      }
      .arrow{
        width: 16px;
        height: 18px;
        background: url("../img/common/arrow-g.svg") center / contain no-repeat;
      }

      >* {
        transition: opacity .3s;
      }
      &:hover > * {
        opacity: .63;
      }
    }
  }
  .sec-box-right{
    background: #fff;
    box-shadow: 0 0 13.3px 1px rgba(0, 162, 154, 0.2);

    .box-list{
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
      padding: 5.6rem 20px;

      @include media('full') {
        max-width: 800px;
      }
    }
    .box-item{
      display: grid;
      grid-template-columns: 124px 162px 1fr;
      // flex-wrap: wrap;
      align-items: center;
      padding: 19px 30px 19px 0;
      position: relative;
      gap: 20px 16px;
      overflow: hidden;
      font-size: 16px;

      .date{
        font-family: $font_en;
        color: $gray_color;
        letter-spacing: .1em;
      }
      .bg{
        color: $white_color;
        font-weight: 700;
        letter-spacing: .1em;
        display: inline-block;
        width: 162px;
        padding: 3px 8px;
        background: $main_gradient;
        text-align: center;

        &.important{
          background: $sub_color;
        }
      }
      .text{
        width: 100%;
        overflow: hidden;
        line-height: 1.5;
        letter-spacing: .1em;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .arrow{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 18px;
        background: url("../img/common/arrow-g.svg") center / contain no-repeat;
      }
    }
  }
  .sec-box-img{
    height: 75rem;
    width: calc(100% + 99px);
    margin-left: -99px;

    img{
      object-position: bottom;
    }
  }
  @include media('tb') {
    .sec-inner{
      position: relative;
      display: block;
      margin-bottom: -190px;
      z-index: 2;
    }
    .sec-box-left{
      position: relative;
      margin-bottom: 40px;

      .btn{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        padding: 5px 13px 5px;
      }
    }
    .sec-box-right{
      .box-item{
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
        border-bottom: 1px solid #E0E0E0;
      }
    }
  }
  @include media('sp') {
    padding-top: 20vw;
    // position: relative;

    &::before{
      width: 115%;
      min-width: 480px;
      height: auto;
      
      aspect-ratio: 720/244;
      top: calc(-100px - (768px - 100vw) / (368 / -35));
      right: 0;
      left: auto;
      background:  url(../img/index/fig-news-1-sp.png) right center / cover no-repeat;
    }
    &::after{
      width: 100%;
      min-width: 996px;
      aspect-ratio: 1495/524;
      height: auto;
      top: -239px;
      left: 50%;
      transform: translateX(-50%);
      background:  url(../img/index/fig-news-2-sp.png) center / cover no-repeat;
      z-index: 4;
    }
    .sec-box-left{
      margin-bottom: 24px;

      .btn{
        width: 149px;

        .txt{
          font-size: 1.6rem;
        }
      }
    }
    .sec-box-right{
      .box-list{
        padding: 40px 13px;
      }
      .box-item{
        padding: 8px 46px 8px 0;
        font-size: 14px;

        .date{
        }
        .bg{
          width: auto;
          padding: 3px 20px;
        }
        .text{
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: normal;
        }
      }
    }
    .sec-box-img{
      height: 400px;
    }
  }
}
#banner{
  position: relative;
  background: $main_gradient;
  padding-top: 17rem;
  padding-bottom: 52.5rem;
  z-index: 2;
  overflow: hidden;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 44.6rem;
    bottom: 0;
    background:  url(../img/common/bg-dot-20.png) top left / 46.5rem 23.3rem repeat;
    z-index: -1;
  }

  .sec-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;

    .box-item{
      display: block;
      width: 100%;
      border: 3px solid $white_color;
      position: relative;
      aspect-ratio: 355/177;

      &::before{
        content: "";
        position: absolute;
        width: 51px;
        height: 51px;
        bottom: 0;
        right: 0;
        background: url(../img/common/check.svg) center/contain no-repeat;
      }
    }
  }
  @include media('tb') {
    padding-top: 10rem;
    padding-bottom: 35rem;

    .sec-box{
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1.6rem;
    }
  }
  @include media('sp') {
    padding-top: 24px;
    padding-bottom: 19rem;
    
    &::before{
      height: 120px;
      background-position: left -50px;
    }
  }
}


