#main-top {
  margin-top: 88px;

  #driver{
    background:  linear-gradient(180deg, #01C2B9 0%, #00C4BB00 100%);
    padding-top: 72px;

    .btm-btn{
      width: 100%;
      height: 90px;
      background: $green_dark_color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;

      .txt{
        font-size: 2.4rem;
        font-weight: 700;
        color: $white_color;
      }
      .arrow{
        width: 16px;
        height: 18px;
        background: url("../img/common/arrow-w.svg") center / contain no-repeat;
      }
    }
    .sec-title{
      margin-bottom: 48px;
    }
    .sec-box-top{
      display: grid;
      grid-template-columns: 717fr 1108fr;
      border: 2px solid $white_color;

      .box{
        padding-top: 21px;

        &:not(:nth-of-type(1)){
          border-left: 2px solid $white_color;
        }
      }
      .title{
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
        color: $white_color;
        margin-bottom: 21px;
        text-align: center;
      }
      // .btm-btn{
      //   width: 100%;
      //   height: 90px;
      //   background: $green_dark_color;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   padding: 16px;

      //   .txt{
      //     font-size: 2.4rem;
      //     font-weight: 700;
      //     color: $white_color;
      //   }
      //   .arrow{
      //     width: 16px;
      //     height: 18px;
      //     background: url("../img/common/arrow-w.svg") center / contain no-repeat;
      //   }
      // }
      .box.single{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        position: relative;

        .image{
          max-width: 611px;
          width: 100%;
          aspect-ratio: 611/308;
          margin: 0 auto;
        }
        .btm-btn{
          position: absolute;
          max-width: 360px;
          bottom: 0;
          right: 0;
          gap: 0 8.8%;
          padding: 16px;
        }
      }
      .box.double{

        .bg{
          background: $white_color
        }
        .top-btn{
          text-align: center;
          font-size: 2.4rem;
          font-weight: 700;
          background: $main_gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          display: block;
          padding: 5px 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0 32px;
          position: relative;
          z-index: 2;

          .arrow{
            width: 16px;
            height: 18px;
            background: url("../img/common/arrow-g.svg") center / contain no-repeat;
          }
        }
        .box-list{
          display: flex;
        }
        .box-item{
          width: 100%;

          .image{
            height: 230px;
          }
          &:nth-of-type(1){
            .image{
              background: #FEF0C6;
            }
          }
          &:nth-of-type(2){
            .image{
              background: #60D7EA;
              position: relative;

              img{
                position: absolute;
                height: 113%;
                aspect-ratio: 200/260;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
          &:not(:nth-of-type(1)){
            .image{
              border-left: 2px solid;
              border-image: linear-gradient(180deg, #00A29A 0%, #00C4BB 100%) 1;
            }
            .btm-btn{
              border-left: 2px solid $white_color;
            }
          }
        }
        .btm-btn{
          gap: 0 5.8%;
        }
      }
      
    }
    .sec-box-mid{
      border: 2px solid $white_color;
      margin-top: -2px;
      padding: 32px 20px 43px;

      .title{
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
        color: $white_color;
        margin-bottom: 32px;
        text-align: center;
      }
      .box-list{
        display: flex;
        max-width: 1720px;
        width: 100%;
        margin: 0 auto;
      }
      .box-item{
        border: 2px solid;
        border-image: $main_gradient 1;
        width: 100%;

        &:not(:nth-of-type(1)){
          margin-left: -2px;
        }
        .image{
          height: 218px;
          background: #E7F9F8;
        }
        .btm-btn{
          gap: 0 7.4%;
        }
      }
    }
    .sec-box-btm{
      padding: 32px 20px 43px;

      .box-list{
        display: flex;
        max-width: 1720px;
        width: 100%;
        margin: 0 auto;
      }
      .box-item{
        width: 100%;
      }
    }
  }
}

