#top {
  .sec-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40.6rem;
    margin-top: 88px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/visitor/top-bg.png) center/cover no-repeat;
      z-index: -1;
    }
  }
  .sec-title {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    background: $main_gradient;
    padding: 10px;
  }
} 
#main-top{
  margin-top: -50px;
}
#about {
  .sec-inner{
    // margin-top: 9.6rem;
    margin-top: 155px;
  }
  .sec-box-top{
    display: grid;
    grid-template-columns: 599fr 479fr;
    gap: 0 5.2rem;
    width: 86%;
    margin: 0 auto;
    background: url(../img/visitor/about-box-bg.png) center/cover no-repeat;
    border-radius: 4px;
    padding: 58px 5.2rem 90px 4.7rem;
    position: relative;


    &::before{
      content: "";
        position: absolute;
        aspect-ratio: 604/509;
        width: 32.7%;
        max-width: 402px;
        height: auto;
        left: -12rem;
        top: -166px;
        background: url(../img/visitor/about-text.png) bottom center/cover no-repeat;
        z-index: 200;
    }
    .texts{
      width: 100%;
    }
    .title{
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.6;
      margin-bottom: 33px;

      .middle{
        font-size: 2.4rem;
      }
      .large{
        font-size: 2.8rem;
      }
      .col{
        font-size: 4rem;
        background: $main_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .line{
        background: linear-gradient(transparent 76%, $accent_color 76% 95%,transparent 95%);        
      }
    }
    .text{
      margin-top: 22px;
      width: 100%;
      display: block;
      background: $white_color;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.8;
      padding: 10px;
    }
    .image{
      // aspect-ratio: 479/360;
      width: 100%;
      position: relative;

      img{
        border-radius: 24px;
      }
      &::before{
        content: "";
        position: absolute;
        aspect-ratio: 263/123;
        width: 55%;
        height: auto;
        left: -50px;
        bottom: -50px;
        background: url(../img/visitor/about-img-decoration.png) center/cover no-repeat;
      }
    }
  }
  .sec-box-btm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.1rem;
    width: 86%;
    margin: 90px auto 0;

    .box-item{
      display: block;
      width: 100%;
      box-shadow: 0 0 13.3px 2px rgba(0, 162, 154, 0.2);
    }
  }
}